 <!-- header start -->
 <header class="header-area">
   <div class="header-top black-bg">
     <div class="container">
       <div class="row">
         <div class="col-lg-4 col-md-4 col-12 col-sm-4">
           <div class="welcome-area">
             <p>Livrare Gratuita in Bucuresti & Pitesti </p>
           </div>
         </div>
         <div class="col-lg-8 col-md-8 col-12 col-sm-8 text-right">
           <div class="welcome-area">
             <p>Bucuresti: <a href="tel:+400720612962">(0720) 612 962</a> Pitesti: <a href="tel:+40746252899">(0746) 252
                 899</a>
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="header-middle">
     <div class="container">
       <div class="row">
         <div class="col-lg-2 col-md-2 col-4 col-sm-4">
           <div class="logo">
             <a routerLink="/">
               <img alt="" src="assets/img/logo/logo.png">
             </a>
           </div>
         </div>
         <div class="col-lg-6 col-md-6 col-4 col-sm-4">
           <div class="search-info">
             <input type="text" placeholder="Cauta produse">
             <i class="fa fa-search"></i>
           </div>
         </div>

         <div class="col-lg-4 col-md-4 col-4 col-sm-4">
           <div class="header-middle-right f-right">
             <div class="header-login">
               <a routerLink="/autentificare">
                 <div class="header-icon-style">
                   <i class="icon-user icons"></i>
                 </div>
                 <div class="login-text-content">
                   <p>Fa-ti cont<br> sau <span>Intra in cont</span></p>
                 </div>
               </a>
             </div>

             <div class="header-cart">
               <a (click)="togglCart()">
                 <div class="header-icon-style">
                   <i class="icon-handbag icons"></i>
                   <span class="count-style">{{cartTotal$}}</span>
                 </div>
                 <div class="cart-text">
                   <span class="digit">Cosul meu</span>
                   <span class="cart-digit-bold">209 Lei</span>
                 </div>
               </a>
               <div class="shopping-cart-content" [class.openCart]="openCart">
                 <ul>
                   <li class="single-shopping-cart">
                     <div class="shopping-cart-img">
                       <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a href="#">Phantom Remote </a></h4>
                       <h6>Qty: 02</h6>
                       <span>$260.00</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a href="#"><i class="ion ion-close"></i></a>
                     </div>
                   </li>
                   <li class="single-shopping-cart">
                     <div class="shopping-cart-img">
                       <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a href="#">Phantom Remote </a></h4>
                       <h6>Qty: 02</h6>
                       <span>$260.00</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a href="#"><i class="ion ion-close"></i></a>
                     </div>
                   </li>
                   <li class="single-shopping-cart">
                     <div class="shopping-cart-img">
                       <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a href="#">Phantom Remote </a></h4>
                       <h6>Qty: 02</h6>
                       <span>$260.00</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a href="#"><i class="ion ion-close"></i></a>
                     </div>
                   </li>
                   <li class="single-shopping-cart">
                     <div class="shopping-cart-img">
                       <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a href="#">Phantom Remote </a></h4>
                       <h6>Qty: 02</h6>
                       <span>$260.00</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a href="#"><i class="ion ion-close"></i></a>
                     </div>
                   </li>
                   <li class="single-shopping-cart">
                     <div class="shopping-cart-img">
                       <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a href="#">Phantom Remote </a></h4>
                       <h6>Qty: 02</h6>
                       <span>$260.00</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a href="#"><i class="ion ion-close"></i></a>
                     </div>
                   </li>
                   <li class="single-shopping-cart">
                     <div class="shopping-cart-img">
                       <a href="#"><img alt="" src="assets/img/cart/cart-2.jpg"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a href="#">Phantom Remote</a></h4>
                       <h6>Qty: 02</h6>
                       <span>$260.00</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a href="#"><i class="ion ion-close"></i></a>
                     </div>
                   </li>
                 </ul>
                 <div class="shopping-cart-total">
                   <h4>Shipping : <span>$20.00</span></h4>
                   <h4>Total : <span class="shop-total">$260.00</span></h4>
                 </div>
                 <div class="shopping-cart-btn">
                   <a href="cart-page.html">view cart</a>
                   <a href="checkout.html">checkout</a>
                 </div>
               </div>
             </div>
             <div class="mobile-nav-toggler d-md-none d-lg-none" (click)="mobileMenu.toggleMenu(navMenu)">
               <i class="icon-bar"></i>
               <i class="icon-bar"></i>
               <i class="icon-bar"></i>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="header-bottom transparent-bar black-bg">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-12">
           <div class="main-menu">
             <nav>
               <ul>
                 <li class="top-hover">
                   <a class="dropdown-main-menu">Meniu principal <i class="ion-chevron-down"></i></a> 
                   <ul class="submenu">
                     <li *ngFor="let category of categories"><a routerLink="/produse/{{category.slug}}">{{category.category_name}}</a></li>
                   </ul>
                 </li>
                 <li *ngFor="let menu of navMenu">
                   <a routerLink="{{menu.link}}">{{menu.label}}</a>
                 </li>
               </ul>
             </nav>
           </div>
         </div>
       </div>
     </div>
   </div>
 </header>
 <app-mobile-menu #mobileMenu></app-mobile-menu>
