.logo {
  position: relative;

  img {
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    margin: auto;


    @media (max-width: 767px) {
      position: absolute;
      transform: translate(-50%, 0);
      height: 60px;
    }
  }
}

.header-login {
  margin-right: 32px;
}

.shopping-cart-content {
  height: 75vh;
  top: 100%;

  ul {
    height: 62%;
    overflow: auto;

    
  }

  

  &.openCart {
    display: block;
  }

  &.empty {
    height: auto;
  }

  .shopping-cart-img {
    img {
      width: 100%;
    }
  }
}

.shopping-cart-content ul li {
  flex-wrap: nowrap;

  .shopping-cart-title {
    margin-right: 20px;
  }
}

.header-cart {
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 767px) {

  .wishlist-text>p,
  .login-text-content>p,
  .cart-text>span.digit {
    display: none;
  }

  .header-login {
    margin-right: 0;
  }

  .header-middle {
    padding: 50px 0 30px;
  }

  .header-middle-right {
    display: flex;
    float: inherit;
    justify-content: space-evenly;
  }

  .cart-text>span.cart-digit-bold {
    color: #e02c2b;
    margin-left: 10px;
  }

  .shopping-cart-content {
    height: 75vh;
    padding: 31px 15px 10px;
    width: 280px;
    flex-direction: column;

    ul {
      height: 60%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
    }

    .shopping-cart-total {
      margin-top: auto;
      display: flex;
      flex-direction: column;
    }

    .shopping-cart-btn {
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }

    &.open {
      display: flex;
    }
  }
}


.mobile-nav-toggler {

  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color: #3786ff;
  display: block;


  .icon-bar {
    position: relative;
    height: 2px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
    background-color: #222;
    transition: all 300ms ease;
  }
}

.welcome-area {
  a {
    color: #fff;

    &:first-child {
      margin-right: 32px;
    }
  }

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;

    p {
      display: flex;
    }
  }
}

.header-middle {
  .row {
    align-items: center;
  }
}


.search-info {
  position: relative;

  input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    color: #242424;
    height: 40px;
    padding: 0 15px;
  }

  i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

a.dropdown-main-menu:not([href]):not([tabindex]) {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
  padding-top: 2px;
  &:hover {
    color: #e02c2b;
    cursor: pointer;
  }
}


.top-hover {
  margin-right: 80px;
}