 <!-- header start -->
 <header class="header-area">
   <div class="header-top black-bg">
     <div class="container">
       <div class="row">
         <div class="col-lg-4 col-md-4 col-12 col-sm-4">
           <div class="welcome-area">
             <p>Livrare Gratuita in Bucuresti & Pitesti </p>
           </div>
         </div>
         <div class="col-lg-8 col-md-8 col-12 col-sm-8 text-right">
           <div class="welcome-area">
             <p>Bucuresti: <a href="tel:+400720612962">(0720) 612 962</a> Pitesti: <a href="tel:+40746252899">(0746) 252
                 899</a>
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="header-middle">
     
       <div class="row">
         <div class="col-lg-2 col-md-2 col-4 col-sm-4">
           <div class="logo">
             <a routerLink="/">
               <img alt="" src="assets/img/logo/logo.png">
             </a>
           </div>
         </div>
         <div class="col-lg-6 col-md-6 col-1 col-sm-4">
           <a class="toggle-search d-md-none" (click)="toggleSearch()">
            <i class="icon-magnifier icons"></i>
           </a>
          
           <div class="search-info" [class.open]="search">
             <input type="text" name="q" id="q" (click)="onSearchChange()" [(ngModel)]="productSearch" autocomplete="off" placeholder="Cauta produse">
             <i class="fa fa-search"></i>

             <ul class="results" *ngIf="results">
              <li *ngFor="let product of products | filter:productSearch">
                <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">
                  <figure>
                    <img src="/assets/img/product/{{product.images[0].image_url}}" alt="">
                  </figure>
                  
                  <strong>{{product.product_name}}</strong>
                </a>              
              </li>
            </ul>
           </div>
         </div>

         <div class="col-lg-4 col-md-4 col-7 col-sm-4">
           <div class="header-middle-right f-right">
             <div class="header-login">
               <a routerLink="/autentificare">
                 <div class="header-icon-style">
                   <i class="icon-user icons"></i>
                 </div>
                 <div class="login-text-content">
                   <p>Fa-ti cont<br> sau <span>Intra in cont</span></p>
                 </div>
               </a>
             </div>

             <div class="header-cart">
               <a (click)="togglCart()">
                 <div class="header-icon-style">
                   <i class="icon-handbag icons"></i>
                   <span class="count-style">{{cartTotal$}}</span>
                 </div>
                 <div class="cart-text">
                   <span class="digit">Cosul meu</span>
                   <span class="cart-digit-bold">209 Lei</span>
                 </div>
               </a>
               <div class="shopping-cart-content" [ngClass]="{'empty': cartTotal$ === 0}" [class.openCart]="openCart">
                 <ul>
                   <li class="single-shopping-cart" *ngFor="let product of items$ | async"
                     (removeFromCart)="removeCart(product)">
                     <div class="shopping-cart-img">
                       <a routerLink="/produs/{{product.alias}}"><img alt=""
                           src="/assets/img/product/{{product?.images[0].image_url}}"></a>
                     </div>
                     <div class="shopping-cart-title">
                       <h4><a routerLink="/produs/{{product.alias}}">{{product.product_name}}</a></h4>
                       <h6>Cnt: {{product.num}}</h6>
                       <span>x {{product.selectedPrice}} lei</span>
                     </div>
                     <div class="shopping-cart-delete">
                       <a (click)="removeCart(product)"><i class="ion ion-close"></i></a>
                     </div>
                   </li>

                 </ul>
                 <div class="shopping-cart-total" *ngIf="cartTotal$ > 0">
                   <h4>Total : <span class="shop-total">{{totalPrice$}} lei</span></h4>
                 </div>

                 <div class="cart-empty" *ngIf="cartTotal$ === 0">
                   <p>Nu ai niciun produs in cos!</p>
                 </div>
                 <div class="shopping-cart-btn" *ngIf="cartTotal$ > 0">
                   <a [routerLink]="['/cos-cumparaturi']">Vezi cos</a>
                   <a [routerLink]="['/finalizeaza-comanda']">Finalizeaza</a>
                 </div>
               </div>
             </div>
             <div class="mobile-nav-toggler d-md-none d-lg-none" (click)="mobileMenu.toggleMenu(navMenu)">
               <i class="icon-bar"></i>
               <i class="icon-bar"></i>
               <i class="icon-bar"></i>
             </div>
           </div>
         </div>
       </div>
     
   </div>
   <div class="header-bottom transparent-bar black-bg">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-12">
           <div class="main-menu">
             <nav>
               <ul>
                 <li class="top-hover">
                   <a class="dropdown-main-menu">Meniu principal <i class="ion-chevron-down"></i></a>
                   <ul class="submenu">
                     <li *ngFor="let category of categories"><a
                         routerLink="/produse/{{category.slug}}">{{category.category_name}}</a></li>
                   </ul>
                 </li>
                 <li *ngFor="let menu of navMenu">
                   <a routerLink="{{menu.link}}">{{menu.label}}</a>
                 </li>
               </ul>
             </nav>
           </div>
         </div>
       </div>
     </div>
   </div>
 </header>
 <app-mobile-menu #mobileMenu></app-mobile-menu>
