<div class="section padding-bottom-extra">
  <div class="container flex-horizontal">
    <div class="col lg-12 md-12 no-margin-bottom-lg">
      <div class="sidebar-page-container">
        <div class="c14">
          <p class="c5"><span class="c6">Informatii despre comanda </span></p>
          <p class="c2"><span class="c4">Produsele noastre pot fi comandate prin intermediul acestui magazin online.
            </span></p>
          <p class="c2"><span class="c4">Comenzile trimise pana in ora 11:00 se pot livra in aceeasi zi intre orele
              16-20, daca
              se doreste acest lucru.</span></p>
          <p class="c2"><span class="c4">Comanda este livrara cu masini frigorifice, in cele mai bune conditii.</span>
          </p>
          <p class="c2"><span class="c13">Comanda minima este de 100 de lei. Livram doar in Bucuresti si Ilfov.</span>
          </p>
          <p class="c2 c8"><span class="c4"></span></p>
          <p class="c2"><span class="c12">Cum comanzi?</span></p>
          <p class="c2"><span class="c4">Tot ce trebuie sa faci este sa adaugi produsele dorite in cosul de cumparaturi
              virtual,
              prin apasarea butonulul “Adauga in cos”.</span></p>
          <p class="c2"><span class="c4">Pentru a vizualiza cosul de cumparaturi, apasati pictograma din partea de sus a
              paginii.</span></p>
          <p class="c2"><span class="c4">Pentru a ne trimite comanda, este necesar sa completezi formularul de comanda
              cu datele
              tale: nume, email, telefon si adresa de livrare, impreuna cu data si intervalul orar cand doresti sa
              primesti
              comanda.</span></p>
          <p class="c2"><span class="c4">Datele personale vor fi stocate in siguranta, in acord cu Politica de
              Confidentialitate. </span></p>
          <p class="c2"><span class="c4">Dupa trimiterea comenzii, vei primi un email de confirmare, impreuna cu un
              rezumat al
              comenzii, pe mailul scris de tine in formularul de comanda.</span></p>
          <p class="c2 c8"><span class="c4"></span></p>
          <p class="c5"><span class="c7">Pentru comenzi personalizate, intrebari sau nelamuriri, ne puteti suna la
              0762.023.004</span></p>
          <p class="c3"><span class="c6"></span></p>
          <p class="c3"><span class="c6"></span></p>
          <p class="c5"><span class="c6">________________________________________________________________</span></p>
          <p class="c3"><span class="c6"></span></p>
          <p class="c3"><span class="c6"></span></p>
          
        </div>
      </div>
    </div>
  </div>
</div>
