<section class="page-title centred"
  style="background-image: url(assets/images/background/imagine-category-tavacudetoate.jpg);">
  <div class="auto-container">
    <div class="content-box">
      <div class="title">
        <h1>Cupoane reducere</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a routerLink="/">Acasa</a></li>
        <li> Cupoane reducere</li>
      </ul>
    </div>
  </div>
</section>
<section class="my-account">

  <div class="container">
    <div class="row">
        <div class="col-lg-9 order-lg-last dashboard-content">
            <h2>Lista cupoane reducere</h2>
            <ul class="coupons">
                <li *ngFor="let coupon of coupons">
                    <ul>
                        <li>Cupon: <strong>{{coupon.coupon}}</strong></li>
                        <li>Discount: <strong>{{coupon.percent}}%</strong> </li>
                        <li>Status: <strong>{{coupon.used == 1 ? 'Folosit' : 'Nefolosit'}}</strong></li>
                    </ul>
                </li>
            </ul>
          
  
        </div><!-- End .col-lg-9 -->
  
        <aside class="sidebar col-lg-3">
          <div class="widget widget-dashboard">
            <h3 class="widget-title">Contul meu</h3>
  
            <ul class="list">
              <li routerLinkActive='active'><a routerLink="/contul-meu">Informatii cont</a></li>
              <li routerLinkActive='active'><a routerLink="/adresele-mele">Adresele mele</a></li>
              <li routerLinkActive='active'><a routerLink="/comenzile-mele">Comenzile mele</a></li>
              <!-- <li routerLinkActive='active'><a routerLink="/cupoane-reducere">Cupoane reducere</a></li> -->
              <li routerLinkActive='active'><a (click)="logout()">Delogare</a></li>
            </ul>
  
          </div><!-- End .widget -->
        </aside><!-- End .col-lg-3 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  
    <div class="mb-5"></div><!-- margin -->

  