

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c0 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-style: normal
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c2 {
  margin-left: 18pt;
  padding-top: 12pt;
  padding-bottom: 12pt;

  orphans: 2;
  widows: 2;
  text-align: justify
}

.c6 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c13 {
  padding-top: 12pt;
  padding-bottom: 12pt;

  orphans: 2;
  widows: 2;
  text-align: left
}

.c3 {
  padding-top: 12pt;
  padding-bottom: 12pt;

  orphans: 2;
  widows: 2;
  text-align: justify
}

.c7 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  orphans: 2;
  widows: 2;
  text-align: left
}

.c9 {
  background-color: #ffffff;
  font-size: 10.5pt;
  font-weight: 700
}

.c11 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c10 {
  background-color: #ffffff;

}

.c5 {
  margin-left: 54pt;
  text-indent: -18pt
}

.c8 {
  color: inherit;
  text-decoration: inherit
}

.c12 {
  font-weight: 700
}

.c14 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
 
  padding-bottom: 16pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}



p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
