<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li class="active"> Politica de retur </li>
      </ul>
    </div>
  </div>
</div>

<div class="pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="c10">
          <p class="c13"><span class="c12">Politica de retur</span></p>
          <p class="c2"><span class="c1">Preparatele culinare realizate si prezentate pe site-ul www.tavacudetoate.ro
              sunt cu titlu orientativ, iar anumite caracteristici ale preparatelor comandate pot fi diferite fata de
              imaginile prezentate in website.</span></p>
          <p class="c2"><span class="c1">Punem la dispozitie optiunea de deschidere si verificare a comenzii la livrare
              pentru a va asigura ca aveti tot ceea ce ati comandat. </span></p>
          <p class="c2"><span class="c1">In situatia in care constatati o problema sunati-ne si vom gasi cu siguranta o
              rezolvare amiabila.</span></p>
          <p class="c2"><span>In urma verificarii, daca se dovedeste ca produsele nu sunt conforme cu cerintele din
              comanda realizata online de dumneavoastra, produsele se inlocuiesc sau se restituie banii.</span></p>
          <p class="c3"><span class="c1">Conform art. 16 din O.U.G. nr. 34/2014 sunt exceptate de la dreptul de
              returnare:</span></p>
          <p class="c3 c5"><span>·</span><span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
              class="c1">produse realizate dupa specificatiile prezentate de consumator sau personalizate in mod
              clar;</span></p>
          <p class="c3 c5"><span>·</span><span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
              class="c1">produse care sunt susceptibile a se deteriora sau a expira rapid;</span></p>
          <p class="c3 c5"><span>·</span><span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
              class="c1">produse sigilate care nu pot fi returnate din motive de protectie a sanatatii sau din motive de
              igiena si care au fost desigilate de consumator;</span></p>
          <p class="c3 c5"><span>·</span><span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
              class="c1">produse care sunt, dupa livrare, potrivit naturii acestora, inseparabil amestecate cu alte
              elemente.</span></p>
          <p class="c3"><span class="c6">Date de contact:</span></p>
          <p class="c3"><span>Email: </span><span class="c11"><a class="c8"
                href="mailto:contact@tavacudetoate.ro">contact@tavacudetoate.ro</a></span></p>
          <p class="c7"><span class="c9">Pitesti:</span><span class="c0">&nbsp;0746.252.899</span></p>
          <p class="c7"><span class="c9">Bucuresti sector 2, 3 sau 4:</span><span class="c0">&nbsp;0720.612.962</span>
          </p>
          <p class="c7"><span class="c9">Bucuresti sector 1, 5 sau 6:</span><span class="c0">&nbsp;0741.285.044</span>
          </p>
          <p class="c3 c14"><span class="c1"></span></p>
          <p class="c4"><span class="c1"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
