<div class="footer-area black-bg-2 pt-70">
  <div class="footer-top-area pb-18">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>UNDE NE GASESTI</h4>
            </div>
            <div class="footer-content">
              <h5>Bucuresti</h5>
              <ul class="border">
                <li>AUCHAN DRUMUL TABEREI (sect.6)</li>
                <li>MILITARI SHOPPING CENTER (sect.6)</li>
                <li>ROYAL HOSPITAL (sect.3)</li>
                <li>GRAND ARENA MALL (sect.4)</li>
              </ul>
            </div>
            <div class="footer-content">
              <h5>Pitesti</h5>
              <ul class="border">
                <li>AUCHAN PITESTI</li>

              </ul>
            </div>
          </div>
        </div>
       
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-22">
              <h4>Utile</h4>
            </div>
            <div class="footer-content">
              <ul>
                <li><a routerLink="/cum-cumpar">Cum cumpar</a></li>
                <li><a routerLink="/cum-platesc">Cum platesc</a></li>
                <li><a routerLink="/cum-se-livreaza">Cum se livreaza</a></li>
                <li><a routerLink="/contul-meu">Contul meu</a></li>
                <li><a routerLink="/politica-retur">Politica retur</a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-22">
              <h4>Info</h4>
            </div>
            <div class="footer-content">
              <ul>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/termeni-si-conditii">Termeni si conditii</a></li>
                <li><a routerLink="/confidentialitate">Politica confidentialitate</a></li>
                <li><a routerLink="/politica-cookies">GDPR si Cookies</a></li>
                <li><a href="https://anpc.ro/" target="_blank">ANPC</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-about mb-40">
                <div class="footer-logo">
                    <a href="index.html">
                        <img _ngcontent-jkw-c146="" alt="" src="assets/img/logo/logo.png">
                    </a>
                </div>
                
                
            </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area border-top-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="copyright">
            <p>&copy; Copyright 2021 <strong> TAVA CU DE TOATE </strong></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/assets/img/banner/euplatesc_banner_v27.png" alt="">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer-social">
            <ul>
              <li><a href="https://www.facebook.com/TavaCuDeToate/" target="_blank"><i class="ion-social-facebook"></i></a></li>
           
              <li><a href="https://www.instagram.com/tavacudetoate/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
           
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
