.footer-content {
  position: relative;
  h5 {
    color: #fff;
    top: -24px;
    left: 32px;
    background: #26292e;
    margin-top: 16px;
    padding: 0 16px;
    position: absolute;
    font-size: 16px;
  }

  ul {
    list-style: none;
    &.border {
      border: 1px dotted #fff;
      border-radius: 8px;
      padding: 26px;
      margin-bottom: 32px;
      
    }
   

    li {
      color: #fff;
    }
  }
}

.footer-logo {
  img {
    width: 100%;
  }
}


.footer-bottom-area {
  
  &  * {
    display: flex;
  align-items: center;
  }
  img {
    width: 100%;
  }
}

.footer-social {
  display: flex;
  margin-left: auto;
}

.copyright {
   strong {
     padding-left: 8px;
   }
}