.footer-content {
  h5 {
    color: rgba(255,255,255,.3);
    
      margin-top: 16px;
    
  }
  ul {
    list-style: none;
     li {
       color: #fff;
     }
  }
}

.footer-logo {
  img {
    width: 100%;
  }
}