 <div class="slider-area-2">
   <owl-carousel-o [options]="customOptions" class="slider-active owl-dot-style owl-carousel owl-loaded owl-drag">
    <ng-template carouselSlide>
      <div (click)="goToEasterMenu()" class="single-slider pt-210 pb-220 bg-img d-none d-md-block"
        style="background-image:url(assets/img/slider/slider_paste.png);">
        <a routerLink="/masa-de-paste-2021" class="route"></a>
        <div class="container">
          <!-- <div class="slider-content slider-animated-2 text-center">
           <h1 class="animated">TI-E DOR DE O <br>MANCARE SINCERA, <br>CA ACASA?</h1>
           <h3 class="animated">Ridica din locatie</h3>
           <div class="slider-btn mt-90">
             <a class="animated" href="">Vezi locatii</a>
           </div>
         </div> -->
        </div>
      </div>
      <div class="single-slider pt-210 pb-220 bg-img d-block"
        style="background-image:url(assets/img/slider/slider-mobil-paste.png);">
        <a routerLink="/masa-de-paste-2021" class="route"></a>
        <div class="container">

        </div>
      </div>
    </ng-template>
     <ng-template carouselSlide>
       <div class="single-slider pt-210 pb-220 bg-img d-none d-md-block"
         style="background-image:url(assets/img/slider/slider-1.svg);">
        
         <div class="container">
           <!-- <div class="slider-content slider-animated-2 text-center">
             <h1 class="animated">TI-E DOR DE O <br>MANCARE SINCERA, <br>CA ACASA?</h1>
             <h3 class="animated">Ridica din locatie</h3>
             <div class="slider-btn mt-90">
               <a class="animated" href="">Vezi locatii</a>
             </div>
           </div> -->
         </div>
       </div>
       <div class="single-slider pt-210 pb-220 bg-img d-block"
         style="background-image:url(assets/img/slider/slider-1-mobile.png);">
         <div class="container">

         </div>
       </div>
     </ng-template>
    

     <!-- discount 25 -->
     <!-- <ng-template carouselSlide>
       <div class="single-slider pt-210 pb-220 bg-img d-none d-md-block"
         style="background-image:url(assets/img/slider/slider-2.svg);">
         <div class="container">
        <div class="slider-content slider-animated-2 text-center">
            <h1 class="animated">TI-E DOR DE O <br>MANCARE SINCERA, <br>CA ACASA?</h1>
            <h3 class="animated">Ridica din locatie</h3>
            <div class="slider-btn mt-90">
              <a class="animated" href="">Vezi locatii</a>
            </div>
          </div> 
         </div>
       </div>
       <div class="single-slider pt-210 pb-220 bg-img d-block"
         style="background-image:url(assets/img/slider/slider-2-mobile.png);">
         <div class="container">

         </div>
       </div>
     </ng-template> -->

     <!-- <ng-template carouselSlide>
       <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider-3.jpg);">
         <div class="container">
           <div class="slider-content slider-animated-2 text-center">
             <h1 class="animated">Drink & Heathy Food</h1>
             <h3 class="animated">Fresh Heathy and Organic.</h3>
             <div class="slider-btn mt-90">
               <a class="animated" href="product-details.html">Order Now</a>
             </div>
           </div>
         </div>
       </div>
     </ng-template> -->

   </owl-carousel-o>
 </div>
