 <div class="slider-area-2">
   <owl-carousel-o [options]="customOptions" class="slider-active owl-dot-style owl-carousel owl-loaded owl-drag">
     <ng-template carouselSlide>
       <div class="single-slider pt-210 pb-220 bg-img d-none d-md-block" style="background-image:url(assets/img/slider/slider1.jpeg);">
         <div class="container">
           <!-- <div class="slider-content slider-animated-2 text-center">
             <h1 class="animated">TI-E DOR DE O <br>MANCARE SINCERA, <br>CA ACASA?</h1>
             <h3 class="animated">Ridica din locatie</h3>
             <div class="slider-btn mt-90">
               <a class="animated" href="">Vezi locatii</a>
             </div>
           </div> -->
         </div>
       </div>
       <!-- <div class="single-slider pt-210 pb-220 bg-img d-block" style="background-image:url(assets/img/slider/slider-mobile.jpg);">
        <div class="container">
         
        </div>
      </div> -->
     </ng-template>
     <ng-template carouselSlide>
      <div class="single-slider pt-210 pb-220 bg-img d-none d-md-block" style="background-image:url(assets/img/slider/slider2.jpeg);">
        <div class="container">
          <!-- <div class="slider-content slider-animated-2 text-center">
            <h1 class="animated">TI-E DOR DE O <br>MANCARE SINCERA, <br>CA ACASA?</h1>
            <h3 class="animated">Ridica din locatie</h3>
            <div class="slider-btn mt-90">
              <a class="animated" href="">Vezi locatii</a>
            </div>
          </div> -->
        </div>
      </div>
     
    </ng-template>
     <!-- <ng-template carouselSlide>
       <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider-3.jpg);">
         <div class="container">
           <div class="slider-content slider-animated-2 text-center">
             <h1 class="animated">Drink & Heathy Food</h1>
             <h3 class="animated">Fresh Heathy and Organic.</h3>
             <div class="slider-btn mt-90">
               <a class="animated" href="product-details.html">Order Now</a>
             </div>
           </div>
         </div>
       </div>
     </ng-template> -->

   </owl-carousel-o>
 </div>
