<footer class="main-footer" style="background-image: url(assets/images/background/footer-tavacudetoate.png);">
  <div class="auto-container">
    <div class="footer-top">
      <div class="widget-section">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget contact-widget">
              <div class="widget-title">
                <h3>UNDE NE GASESTI</h3>
              </div>
              <div class="widget-content">
                <ul class="info-list clearfix">
                  <li><img src="/assets/images/location.svg" alt=""> Cofetaria La Petite: Cosmopolis, str. Europa, pavilionul "Plaza Mall", Stefanestii de Jos, Ilfov</li>
                  <li><img src="/assets/images/location.svg" alt=""> Laborator La Petite: Str. Fortunei nr. 24, sector 1, Bucuresti</li>
                </ul>
                <ul class="social-links clearfix">
                  <li><a href="https://www.facebook.com/Lapetite0/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://www.instagram.com/lapetitedoucerevelation/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget links-widget">
              <div class="widget-title">
                <h3>UTILE</h3>
              </div>
              <div class="widget-content">
                <ul class="links-list clearfix">
                  <li><a routerLink="/cum-cumpar"><i class="fas fa-angle-right"></i>Cum cumpar</a></li>
                  <li><a routerLink="/cum-platesc"><i class="fas fa-angle-right"></i>Cum platesc</a></li>
                  <li><a routerLink="/info-livrare"><i class="fas fa-angle-right"></i>Cum se livreaza</a></li>
                  <li><a routerLink="/contul-meu"><i class="fas fa-angle-right"></i>Contul meu</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget links-widget">
              <div class="widget-title">
                <h3>INFO</h3>
              </div>
              <div class="widget-content">
                <ul class="links-list clearfix">
                  <li><a routerLink="/contact"><i class="fas fa-angle-right"></i>Contact</a></li>
                  <li><a routerLink="/termeni-si-conditii"><i class="fas fa-angle-right"></i>Termeni si conditii</a></li>
                  <li><a routerLink="/confidentialitate"><i class="fas fa-angle-right"></i>Politica confidentialitate</a></li>
                  <li><a routerLink="/politica-cookies"><i class="fas fa-angle-right"></i>GDPR si Cookies</a></li>
                  <li><a href="https://anpc.ro/" target="_blank"><i class="fas fa-angle-right"></i>ANPC</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
            <div class="footer-widget shediul-widget">
              <div class="border-shape" style="background-image: url(assets/images/shape/shape-4.png);"></div>
              <div class="widget-title">
                <img src="assets/images/logo-tavacudetoate-gold-1.png" alt="">
              </div>
              <div class="widget-content">
                <ul class="info-list clearfix">
                    <li><a href="mailto:office@tavacudetoate.ro"><i class="fas fa-envelope"></i> office@tavacudetoate.ro</a></li>
                    <li><a href="tel:+40762023004"><i class="fas fa-phone"></i> (0762) 023 004</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="auto-container clearfix">
      <div class="copyright pull-left">
        <p>Powered by Terra Agency</p>
      </div>
      <ul class="footer-nav pull-right">
        <li>Toate drepturile rezervate © La Petite 2020
        </li>
      </ul>
    </div>
  </div>
</footer>
