.banner-carousel .owl-nav {
  right: -100px;
}

body {
  height: 100%;
  min-height: 100vh;
}

.boxed_wrapper {
  height: 100%;
  min-height: 100vh;
}

.owl-dots {
  background: transparent;
  position: absolute;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6d4b50;
}

.theme-btn-two {
  &:hover {
    border-color: #ecbbb6;
  }

  &::before,
  &::after {
    background: #ecbbb6;
    box-shadow: 0 10px 20px rgba(236, 187, 182, 0.3);
  }
}

.nav-style-one .owl-nav .owl-prev:hover,
.nav-style-one .owl-nav .owl-next:hover {
  background: #6d4b50;
}

.theme-btn-one {
  background: #ecbbb6;
  box-shadow: 0 10px 20px rgba(236, 187, 182, 0.3);

  &::before,
  &::after {
    background: #6d4b50;
  }
}

.popover {
  border-radius: 0;
  min-width: 250px;

  ngb-datepicker {
    border-radius: 0;
  }

  .ngb-dp-header,
  .ngb-dp-weekdays {
    background-color: #ecbbb6;
    border-radius: 0;
    color: #fff;
  }

  .ngb-dp-navigation-chevron {
    color: #6d4b50;
  }

  .ngb-dp-weekday {
    color: #fff;
  }

  .custom-select {
    border-radius: 0;

    &:focus {
      border-color: #ecbbb6;
      box-shadow: 0 10px 20px rgba(236, 187, 182, 0.3);
    }
  }

  .btn-light {
    &.bg-primary {
      background-color: #6d4b50 !important;
      border-radius: 0;
    }

    &:hover {
      background-color: #6d4b50;
      color: #fff;
      border-radius: 0;
    }


  }

  .btn-toggle {
    border-color: #ecbbb6;
    background-color: #ecbbb6;
    color: #fff;
    border-radius: 0;
    padding: 17px 27px;
    margin: 16px 0;
  }

  .popover-body {
    padding: 16px;
  }


}

.ngb-tp-hour,
.ngb-tp-meridian,
.ngb-tp-minute,
.ngb-tp-second {
  flex: 1;

  button {
    color: #6d4b50;
  }
}

.popover .ngb-dp-header,
.popover .ngb-dp-weekdays {
  padding: 10px 0;
}


.popover .btn-light:hover {
  color: #fff !important;
}

input.form-control {
  position: relative;
  display: inline-block;
  font-size: 15px;
  height: 60px;
  color: #848484;
  border: 1px solid #e6e6e6;
  padding: 10px 30px;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.gdpr {
  margin-top: 20px;

  .custom-control.material-checkbox .material-control-indicator {
    border: 1px solid #6d4b50;
  }

  .custom-control.material-checkbox .material-control-input:checked~.material-control-indicator {
    border: 2px solid #6d4b50;
    border-top: 0px;
    border-left: 0px;
  }
}

.testimonial-block-two,
.testimonial-style-four .owl-carousel .owl-item,
owl-stage,
.owl-carousel .owl-stage {
  height: 100%;
  display: flex;
}

.testimonial-style-four .owl-carousel .owl-item {}

.ngx-pagination .current {
  background: #e3a087 !important;
  color: #fff;
  box-shadow: 0 10px 20px rgb(227 160 135 / 30%);
}

.ngx-pagination li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: #222;
  background: transparent;
  z-index: 1;
  transition: all 500ms ease;
}

.nice-select {
  background: #fff;
  padding: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

@media only screen and (max-width: 499px) {
  .banner-carousel .content-box h1.valentine {
    display: flex;
    flex-direction: column;
    font-size: 32px !important;
    line-height: 50px !important;

    span {
      font-size: 32px !important;
    }
  }
}
