
<div class="breadcrumb-area gray-bg">
    <div class="container">
      <div class="breadcrumb-content">
        <ul>
          <li><a routerLink="/">Acasa</a></li>
          <li class="active"> Termeni si conditii </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
<div class="c5 c19">
  <h1 class="c13" id="h.tkj4dnoyhsna"><span class="c6 c2">TERMENI SI CONDITII </span></h1>
  <p class="c1"><span>1. </span><span class="c6 c2">PRIN UTILIZAREA ACESTUI MAGAZIN ONLINE, DECLARAȚI CĂ SUNTEȚI DE
      ACORD CU ACESTE CONDIȚII DE UTILIZARE</span></p>
  <p class="c1"><span>Acest website reprezintă un magazin online și este disponibil la adresele web www.tavacudetoate.ro
      &nbsp;/ tavacudetoate.ro denumit în continuare </span><span class="c2">TavaCuDeToate </span><span class="c0">și
      este administrat de societatile:</span></p>
  <p class="c1"><span class="c6 c2">PITESTI</span></p>
  <p class="c1"><span class="c0">SC SEGES INTERNATIONAL SRL, cu sediul social in Str. Morilor, Nr.14, Parter, Camera 1,
      Ap.2, Sector 3, Bucuresti, persoană juridică romană înregistrată la Oficiul Registrului Comertului sub
      nr.J40/18007/2004, având codul de înregistrare fiscală &nbsp;CIF: RO16916609</span></p>
  <p class="c1"><span>Email: </span><span class="c7"><a class="c18"
        href="mailto:contact@tavacudetoate.ro">contact@tavacudetoate.ro</a></span><span>&nbsp; Telefon: </span><span
      class="c5">0746.252.899</span><span class="c0">&nbsp;</span></p>
  <p class="c1"><span class="c6 c2">BUCURESTI</span></p>
  <p class="c1"><span class="c0">SC EMALEX RENT SRL, cu sediul social in Str Morilor 14, ap 2 cam 2, Sect 3, Bucuresti
      &nbsp;persoană juridică romană înregistrată la Oficiul Registrului Comertului sub nr. J40/5798/2010, &nbsp;având
      codul de înregistrare fiscală &nbsp;CIF: RO2702760</span></p>
  <p class="c1"><span>Email: </span><span class="c7"><a class="c18"
        href="mailto:contact@tavacudetoate.ro">contact@tavacudetoate.ro</a></span><span>&nbsp;Telefon:
    </span><span>0720.612.962</span></p>
  <hr>
  <p class="c1 c10"><span class="c0"></span></p>
  <p class="c1"><span>Prezentul document, denumit în continuare “Termeni și Condiții”, reprezintă un contract la
      distanță și stabilește termenii și condițiile de utilizare și modul de desfășurare a achizitiilor de PRODUSE
      comercializate prin intermediul magazinului online </span><span class="c7"><a class="c18"
        href="https://www.google.com/url?q=http://www.tavacudetoate.ro&amp;sa=D&amp;source=editors&amp;ust=1615843518716000&amp;usg=AOvVaw3AUcKzug_wW_sleppAQAog">www.tavacudetoate.ro</a></span><span
      class="c0">&nbsp;</span></p>
  <p class="c1"><span class="c0">Prin acceptarea Termenilor și Condițiilor, sunteți, de asemenea, de acord cu politica
      noastra de retur, politica de confidențialitate, precum și cu toate celelalte documente menționate în cuprinsul
      acestei pagini.</span></p>
  <p class="c3"><span>2. </span><span class="c2">PROPRIETATEA CONȚINUTULUI</span><span class="c0">&nbsp;</span></p>
  <p class="c3"><span class="c2">Acest website reprezintă proprietatea exclusivă </span><span>SC EMALEX RENT
      SRL</span><span class="c6 c2">, persoană juridică de origine română, &nbsp;denumit in continuare
      “TavaCuDeToate”</span></p>
  <p class="c3"><span>Website-ul și tot ceea ce cuprinde acesta (conținut text și conținut grafic) sunt în proprietatea
      și sub drepturile de autor (copyright) exclusive ale </span><span class="c2">TavaCuDeToate</span><span
      class="c0">, cu toate drepturile rezervate cu excepția cazului în care nu este altfel specificat. </span></p>
  <p class="c3"><span>Orice conținut care constă într-o marcă sau logo reprezintă marcă înregistrată și neînregistrată a
    </span><span class="c2">TavaCuDeToate</span><span>. Este strict interzisă utilizarea oricărui conținut, cu excepția
      celor prevăzute în condițiile de utilizare, fără permisiunea în scris a proprietarului “conținutului”. De
      asemenea, vă informăm că </span><span class="c2">TavaCuDeToate</span><span class="c0">&nbsp;își va asigura și
      impune în mod hotărât recunoașterea drepturilor de proprietate intelectuală în conformitate cu legile în vigoare,
      ajungând dacă este cazul, la acționarea celor vinovați de încălcarea dreptului de proprietate intelectuală în
      judecată prin instanțele penale.</span></p>
  <p class="c3"><span>3. </span><span class="c2">UTILIZAREA SITE-ULUI</span><span class="c0">&nbsp;</span></p>
  <p class="c3"><span class="c2">TavaCuDeToate </span><span class="c0">acordă permisiunea oricărei persoane de a utiliza
      website-ul în următoarele condiții:</span></p>
  <ul class="c15 lst-kix_12yuv63bn4ls-0 start">
    <li class="c4 c9 li-bullet-0"><span class="c0">Să vizualizeze produsele expuse pe website; </span></li>
    <li class="c9 c4 li-bullet-0"><span class="c0">Să cumpere produsele expuse în cadrul acestui website; </span></li>
    <li class="c9 c4 li-bullet-0"><span class="c0">Să descarce conținutul, însă doar pentru folosul personal și
        ne-comercial și cu condiția de a respecta drepturile de autor (copyright) și alte drepturi de proprietate
        intelectuală cuprinse în conținut; </span></li>
    <li class="c3 c4 li-bullet-0"><span>Nu aveți permisiunea să modificați, să copiați (cu excepția celor mai sus
        menționate), să transmiteți, să expuneți, să refolosiți, să reproduceți, să publicați, să acordați o licență de
        folosire, să creați lucrări derivate din, sau să transferați, să vindeți sau să folosiți conținutul în alt mod,
        fără acordul în scris al </span><span class="c2">TavaCuDeToate</span><span class="c0">.</span></li>
  </ul>
  <p class="c3"><span>Sunteți de acord ca </span><span class="c2">TavaCuDeToate</span><span class="c0">, la alegerea sa,
      să înceteze sau să întrerupă utilizarea de către dvs. a site-ului la nerespectarea Termenilor de Utilizare. În
      momentul suspendării sau încetării respective, dumneavoastră trebuie: </span></p>
  <p class="c3"><span class="c0">(a) să încetați utilizarea site-ului; </span></p>
  <p class="c3"><span class="c0">(b) să distrugeți orice copii făcute după orice parte a conținutului său. </span></p>
  <p class="c3"><span>4. </span><span class="c6 c2">DEFINIREA TERMENILOR UTILIZAȚI</span></p>
  <ul class="c15 lst-kix_ert5bye7mr7m-0 start">
    <li class="c9 c14 li-bullet-0"><span>WEBSITE: Platforma online deținută de către
      </span><span>TavaCuDeToate</span><span>. Poate fi numit și </span><span class="c2">site</span><span>&nbsp;sau
      </span><span class="c2">magazin online.</span></li>
    <li class="c9 c14 li-bullet-0"><span class="c0">VIZITATOR: Orice persoană fizică sau juridică ce accesează prezentul
        magazin online și care a acceptat Termenii și Condițiile din această pagină. Statutul de utilizator nu depinde
        de realizarea unei comenzi sau de crearea unui cont de utilizator.</span></li>
    <li class="c9 c14 li-bullet-0"><span>UTILIZATOR: Orice </span><span class="c2">vizitator</span><span>&nbsp;care își
        crează propriul</span><span class="c2">&nbsp;cont de utilizator </span><span>și este de acord cu termenii și
        condițiile acestui </span><span class="c2">website</span><span class="c0">.</span></li>
    <li class="c9 c14 li-bullet-0"><span>CLIENT: Orice </span><span class="c2">utilizator</span><span>&nbsp;care
        efectuează o </span><span class="c2">comandă</span><span class="c0">&nbsp;</span></li>
    <li class="c9 c14 li-bullet-0"><span>VÂNZĂTOR: </span><span class="c2">TavaCuDeToate</span></li>
    <li class="c9 c14 li-bullet-0"><span>COMANDĂ: document electronic, prin care </span><span
        class="c2">clientul</span><span>&nbsp;transmite </span><span class="c2">vânzătorului</span><span
        class="c0">&nbsp;intenția sa de a achiziționa bunuri și servicii prin intermediul magazinului online.</span>
    </li>
    <li class="c9 c14 li-bullet-0"><span>CONTRACT: document încheiat la distanță între </span><span
        class="c2">vânzător</span><span>&nbsp;și </span><span class="c2">cumpărător</span><span class="c0">&nbsp;prin
        care vânzătorul expediază comanda la adresa menționată de către cumpărător, iar cumpărătorul își asumă plata
        contravalorii acesteia.</span></li>
    <li class="c9 c14 li-bullet-0"><span>CONT DE UTILIZATOR: secțiune din website pe care un </span><span
        class="c2">utilizator</span><span>&nbsp;o creează prin intermediul unei adrese de e-mail și o parolă, ce îi
        permite</span><span class="c2">&nbsp;</span><span>să realizeze o comandă. </span><span
        class="c2">Cumpărătorul</span><span class="c0">&nbsp;va avea acces la istoricul comenzilor și facturi.</span>
    </li>
    <li class="c9 c14 li-bullet-0"><span>REVIEW: un text introdus de către un </span><span
        class="c2">cumpărător</span><span>&nbsp;în cadrul paginilor din </span><span class="c2">website</span><span
        class="c0">, prin care acesta își exprimă părerea cu privire la produsele sau serviciile achiziționate.</span>
    </li>
    <li class="c3 c14 li-bullet-0"><span>NEWSLETTER: un mijloc de comunicare prin care </span><span
        class="c2">vânzătorul </span><span class="c0">transmite informații prin e-mail oricărei persoane care și-a
        exprimat acordul cu privire la primirea acestora. Pentru înscrierea la newsletter, este necesară introducerea
        adresei de e-mail în câmpul special dedicat, situat în partea de jos a paginii principale (homepage). </span>
    </li>
  </ul>
  <p class="c3"><span>5. </span><span class="c6 c2">DESFĂȘURAREA PROCESULUI DE VÂNZARE</span></p>
  <p class="c3"><span>Accesul pe acest website în vederea efectuarii unei comenzi este permis oricărei persoane fizice
      sau juridice. </span><span class="c2">TavaCuDeToate </span><span>își rezervă dreptul de a restricționa accesul
      pentru efectuarea unei comenzi dacă are motive justificate legate de conduita sau activitatea unui utilizator pe
      acest website, ale carui acțiuni ar putea prejudicia, în orice fel, activitatea </span><span
      class="c2">TavaCuDeToate</span><span class="c0">. </span></p>
  <p class="c3"><span class="c0">Prin lansarea unei comenzi pe acest site, clientul își exprimă acordul de a fi
      contactat telefonic, prin SMS sau prin e-mail de către reprezentanții magazinului nostru online. </span></p>
  <p class="c3"><span class="c0">Prețurile tuturor produselor expuse în cadrul magazinului nostru online sunt exprimate
      în LEI și conțin T.V.A. 9%. Prețurile pot fi modificate oricând, fără o notificare prealabilă. Excepție fac doar
      comenzile care au fost confirmate anterior acestor modificări, caz în care modificarea prețurilor nu se
      aplică.</span></p>
  <p class="c3"><span>6. </span><span class="c6 c2">MODIFICAREA SAU ANULAREA COMENZII</span></p>
  <p class="c3"><span>În cazul în care </span><span class="c2">cumpărătorul</span><span class="c0">&nbsp;vrea să
      modifice sau să anuleze o comandă, care nu se află în stadiul de “Finalizată”, acesta poate să ne contacteze
      telefonic la numărul 0762.023.004.</span></p>
  <p class="c3"><span>7. </span><span class="c2 c6">EXPEDIEREA COMENZILOR</span></p>
  <p class="c3 c5"><span class="c2 c22">Livrarea comenzilor</span></p>
  <p class="c3 c5"><span class="c11">Termenul de livrare va fi ales de dumneavoastra conform calendarului si a
      intervalelor orare existente in formularul de comanda, aflat in pagina de finalizare a comenzii.</span></p>
  <p class="c3 c5"><span class="c11">Dupa plasarea comenzii veti primi un email pentru confirmarea comenzii efectuate si
      termenul de livrare convenit. </span></p>
  <p class="c3 c5"><span class="c11">Termenul de livrare poate fi modificat de comun acord cu dumneavoastra in functie
      de complexitatea comenzii si de disponibilitatea produselor comandate (ca de exemplu pentru comenzile de
      sarbatori, de Paste, de Craciun, de Revelion sau alte sarbatori care indiferent de momentul plasarii, se vor livra
      conform discutiei in prealabil cu dumneavoastra). </span></p>
  <p class="c3 c5"><span class="c11">Livrarea se face prin intermediul livratorilor nostri, la adresa specificata de
      client si in intervalul orar selectat, asa cum le-ati bifat in pagina de comanda.</span></p>
  <p class="c3 c5"><span class="c11">În cazul in care aveti anumite observatii de semnalat privind comanda / livrarea,
      alte intrebari, va rugam sa introduceti aceste informatii in casuta de detalii suplimentare inainte de finalizarea
      comenzii.</span></p>
  <p class="c1"><span class="c2 c5">Program livrari</span></p>
  <p class="c1"><span class="c17 c5">Livram comenzile dvs. de luni pana sambata, intre orele 14-21, astfel:</span></p>
  <ul class="c15 lst-kix_3jlxxpwldd6m-0 start">
    <li class="c16 c4 li-bullet-0"><span class="c17 c5">Comenzile plasate luni-vineri vor putea fi livrate incepand cu
        ziua urmatoare;</span></li>
    <li class="c1 c4 li-bullet-0"><span class="c17 c5">Comenzile plasate sambata si duminica vor putea fi livrate
        incepand de luni.</span></li>
  </ul>
  <p class="c1"><span class="c5 c17">Aveti posibilitatea de a selecta ziua preferata de livrare dupa ce adaugati
      produsele in cos si treceti in pagina de finalizare a comenzii. </span></p>
  <p class="c1"><span class="c5 c20">Dupa finalizarea comenzii va vom contacta telefonic.</span></p>
  <p class="c3"><span>8. </span><span class="c6 c2">METODELE DE PLATA</span></p>
  <p class="c3"><span class="c0">Comenzile se achită numai în moneda națională RON / LEI.</span></p>
  <p class="c3"><span class="c0">Nu solicităm și nu stocam detalii referitoare la cardul cu care se efectuează
      plata.</span></p>
  <p class="c1"><span class="c5">Plata produselor se poate efectua atat in numerar cat si prin card debit / credit in
      una din locatiile noastre / la livrarea produsului sau prin card debit / credit la plasarea comenzii online de pe
      site. </span></p>
  <p class="c1"><span class="c0 c5">Toate comenzile plasate prin intermediul acestui site se achita in urmatoarele
      instrumente de plata:</span></p>
  <ul class="c15 lst-kix_u0zoq7fbnmiz-0 start">
    <li class="c1 c4 li-bullet-0"><span class="c6 c2 c5">Plata online </span></li>
  </ul>
  <p class="c1"><span class="c0 c5">Comanda se achita cu cardul bancar prin intermediul EuPlatesc, euplatesc.ro. Pentru
      a finaliza plata este necesar sa completati un formular cu informatii despre cardul dumneavoastra, pe o pagina
      securizata. In cazul in care va fi necesara rambursarea unei plati in contul dumneavoastra, aceasta se va face
      conform regulilor procesatorului de plati, asa cum sunt publicate pe site-ul sau (https://www.euplatesc.ro),
      &nbsp;iar intrarea efectiva a banilor inapoi in contul dumneavoastra poate dura, durata care este independenta de
      vointa noastra si care depinde de complexitatea cazului si de modul de comunicare dintre banca emitenta a cardului
      dumneavoastra si celelalte parti implicate in tranzactie.</span></p>
  <ul class="c15 lst-kix_u0zoq7fbnmiz-0">
    <li class="c1 c4 li-bullet-0"><span class="c6 c2 c5">Numerar / Card la livrare</span></li>
  </ul>
  <p class="c1"><span class="c0 c5">Comanda se achita Livratorului in momentul in care va livreaza comanda prin
      inmanarea numerarului aferent sau, dupa caz, prin plata cu cardul la terminalul mobil de plata (POS Bancar)</span>
  </p>
  <ul class="c15 lst-kix_u0zoq7fbnmiz-0">
    <li class="c1 c4 li-bullet-0"><span class="c6 c2 c5">Numerar / Card in locatiile noastre</span></li>
  </ul>
  <p class="c1"><span class="c0 c5">Comenzile lansate online pot fi achitate in locatiile noastre specificate, in avans
      sau in momentul ridicarii comenzii </span></p>
  <p class="c1"><span class="c6 c2 c5">Discount 30% pentru pick-up din locatii</span></p>
  <p class="c1"><span class="c0 c5">Comanda online si alege optiunea ridicare din locatie si iti oferim o reducere de
      30%* din suma totala a comenzii**.</span></p>
  <p class="c1"><span class="c0 c5">*Promotia nu poate fi cumulata cu alte promotii active.</span></p>
  <p class="c1"><span class="c5">**Dupa aplicarea reducerii, valoarea cosului de cumparaturi trebuie sa fie mai mare de
      99 lei.</span></p>
  <p class="c1"><span class="c6 c2 c5">Locatii TAVA CU DE TOATE:</span></p>
  <ul class="c15 lst-kix_bnmrhif1r8iy-0 start">
    <li class="c16 c4 li-bullet-0"><span class="c0 c5">AUCHAN DRUMUL TABEREI (sect.6)</span></li>
    <li class="c16 c4 li-bullet-0"><span class="c0 c5">MILITARI SHOPPING CENTER (sect.6)</span></li>
    <li class="c4 c16 li-bullet-0"><span class="c0 c5">ROYAL HOSPITAL (sect.3)</span></li>
    <li class="c16 c4 li-bullet-0"><span class="c0 c5">GRAND ARENA MALL (sect.4)</span></li>
    <li class="c1 c4 li-bullet-0"><span class="c0 c5">AUCHAN PITESTI</span></li>
  </ul>
  <p class="c1"><span class="c2">9. </span><span class="c6 c2">MODALITĂȚI DE LIVRARE</span></p>
  <p class="c3"><span class="c0">Comenzile sunt livrate in Bucuresti si Pitesti.</span></p>
  <p class="c3"><span>Dacă </span><span class="c2">cumpărătorul</span><span class="c0">&nbsp;nu este disponibil personal
      pentru a ridica coletul în momentul livrării, poate desemna o terță persoană majoră care să preia coletul. </span>
  </p>
  <p class="c3"><span>10.</span><span class="c2">&nbsp;COSTUL LIVRĂRII</span></p>
  <p class="c1"><span class="c0 c5">Livram gratuit oriunde in Bucuresti si Pitesti.</span></p>
  <p class="c1"><span class="c5">Comanda minima: 99 lei</span></p>
  <p class="c3"><span>11. </span><span class="c6 c2">POLITICA DE RETUR</span></p>
  <p class="c8"><span>Preparatele culinare realizate si prezentate pe site-ul </span><span class="c7"><a class="c18"
        href="https://www.google.com/url?q=http://www.tavacudetoate.ro&amp;sa=D&amp;source=editors&amp;ust=1615843518724000&amp;usg=AOvVaw2HPfJLd43E0VfLR0bBWnqu">www.tavacudetoate.ro</a></span><span
      class="c0">&nbsp;sunt cu titlu orientativ, iar anumite caracteristici ale preparatelor comandate pot fi diferite
      fata de imaginile prezentate in website.</span></p>
  <p class="c8"><span class="c0">Punem la dispozitie optiunea de deschidere si verificare a comenzii la livrare pentru a
      va asigura ca aveti tot ceea ce ati comandat. </span></p>
  <p class="c8"><span class="c0">In situatia in care constatati o problema sunati-ne si vom gasi cu siguranta o
      rezolvare amiabila.</span></p>
  <p class="c8"><span class="c0">In urma verificarii, daca se dovedeste ca produsele nu sunt conforme cu cerintele din
      comanda realizata online de dumneavoastra, produsele se inlocuiesc sau se restituie banii.</span></p>
  <p class="c8"><span class="c6 c2">Conform art. 16 din O.U.G. nr. 34/2014 sunt exceptate de la dreptul de
      returnare:</span></p>
  <p class="c9 c12"><span class="c0">· &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;produse realizate dupa
      specificatiile prezentate de consumator sau personalizate in mod clar;</span></p>
  <p class="c9 c12"><span class="c0">· &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;produse care sunt
      susceptibile a se deteriora sau a expira rapid;</span></p>
  <p class="c9 c12"><span class="c0">· &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;produse sigilate care nu
      pot fi returnate din motive de protectie a sanatatii sau din motive de igiena si care au fost desigilate de
      consumator;</span></p>
  <p class="c3 c12"><span class="c0">· &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;produse care sunt, dupa
      livrare, potrivit naturii acestora, inseparabil amestecate cu alte elemente.</span></p>
  <p class="c8"><span class="c6 c2">Date de contact:</span></p>
  <p class="c8"><span>Email: </span><span class="c7"><a class="c18"
        href="mailto:contact@tavacudetoate.ro">contact@tavacudetoate.ro</a></span></p>
  <p class="c1"><span class="c2 c5">Pitesti:</span><span class="c0 c5">&nbsp;0746.252.899</span></p>
  <p class="c1"><span class="c2 c5">Bucuresti: </span><span class="c5">0720.612.962</span></p>
  <p class="c3"><span>12. </span><span class="c6 c2">CONFIDENȚIALITATE</span></p>
  <p class="c3"><span>TavaCuDeToate colectează informații prin intermediul site-ului web </span><span class="c7"><a
        class="c18"
        href="https://www.google.com/url?q=http://www.tavacudetoate.ro&amp;sa=D&amp;source=editors&amp;ust=1615843518726000&amp;usg=AOvVaw04aewrNp1bla4ACZMAW2zG">www.tavacudetoate.ro</a></span><span
      class="c0">&nbsp; în conformitate cu legislația română în vigoare. Site-ul plasează mici porțiuni de cod
      electronic, denumite "cookie-uri" pe calculatorul vizitatorului, folosite pentru autentificare, adăugarea de
      produse în coș, plasarea de comenzi și colectarea de informații statistice cu privire la utilizarea site-ului
      nostru.</span></p>
  <p class="c3"><span class="c0">Orice date cu caracter personal precum: numele, adresa, numărul de telefon sau adresa
      de e-mail pe care o transmiteți pe website, prin poșta electronică sau prin altă modalitate vor fi folosite în
      conformitate cu Politica de Confidențialitate. </span></p>
  <p class="c3"><span class="c0">13. REVIZUIRI ALE ACESTOR TERMENI ȘI CONDIȚII </span></p>
  <p class="c3"><span class="c2">TavaCuDeToate</span><span class="c0">&nbsp;poate, în orice moment și fără notificare
      prealabilă, să revizuiască această pagină de Termeni și Condiții. Sunteți obligat să respectați oricare și toate
      astfel de revizuiri și de aceea va trebui să vizitați această pagină a site-ului nostru în mod periodic pentru a
      lua la cunoștință condițiile de utilizare actualizate. </span></p>
  <p class="c3"><span class="c0">Vă recomandăm să recitiți această pagină înainte de a efectua fiecare comandă.</span>
  </p>
  <p class="c3"><span>14.</span><span class="c6 c2">&nbsp;DISPOZITII FINALE</span></p>
  <p class="c3"><span class="c0">Imaginile produselor afisate in cadrul acestui site au calitate informativa si
      orientativa pentru client. </span></p>
  <p class="c3"><span class="c6 c2">Legislație aplicabilă și Jurisdicție </span></p>
  <p class="c3"><span class="c0">Acești termeni și condiții, precum și utilizarea acestui website sunt guvernate de
      legile din România. Instanțele competente din România vor avea jurisdicție exclusivă asupra oricăror și tuturor
      disputelor ce vor apărea din sau se vor referi la sau vor fi în legătură cu prevederile condițiilor de utilizare
      și/sau conținutul site-ului sau în cazul disputelor în care aceste termene și condiții și/sau acest website vor fi
      considerate fapte relevante pentru astfel de dispute.</span></p>
  <hr>
  <p class="c3 c10"><span class="c0"></span></p>
  <p class="c3"><span class="c0">Dacă aveți nevoie de alte informații, dar și pentru sugestii, sesizări sau reclamații,
      ne puteti contacta foarte simplu:</span></p>
  <p class="c8"><span>Email: </span><span class="c7"><a class="c18"
        href="mailto:contact@tavacudetoate.ro">contact@tavacudetoate.ro</a></span></p>
  <p class="c1"><span class="c2 c5">Pitesti:</span><span class="c0 c5">&nbsp;0746.252.899</span></p>
  <p class="c1"><span class="c2 c5">Bucuresti: </span><span class="c5">0720.612.962</span></p>
  <p class="c3 c10"><span class="c0"></span></p>
  <p class="c1 c10"><span class="c0"></span></p>
  <p class="c1 c10"><span class="c0"></span></p>
</div>
</div>
</div>
</div>
</div>
