<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li class="active"> Cum comand </li>
      </ul>
    </div>
  </div>
</div>

<div class="pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="c8">
          <p class="c4"><span class="c6">Informatii despre comanda</span></p>
          <p class="c4"><span class="c2">TAVA CU DE TOATE este un magazin online ce livreaza mancare la oala in caserole
              de
              unica folosinta.</span></p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span class="c6">Cum comanzi?</span></p>
          <p class="c4"><span class="c2">Tot ce trebuie sa faci este sa alegi gramajul dorit, apoi sa adaugi produsele
              dorite in
              cosul de cumparaturi virtual, prin apasarea butonului “Adauga in cos”. </span></p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span class="c2">Pentru a vizualiza cosul de cumparaturi, apasati pictograma din partea de sus a
              paginii. </span></p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span class="c2">Pentru a ne trimite comanda, este necesar sa completezi formularul de comanda
              cu datele
              tale: nume, email, telefon si adresa de livrare, impreuna cu data si intervalul orar cand doresti sa
              primesti
              comanda. In utilizarea serviciului, declarati ca veti furniza informatii reale, corecte, actuale, complete
              si
              nealterate despre dumneavoastra. In caz contrar, ne rezervam dreptul de a refuza comenzile dvs.
              ulterioare.</span>
          </p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span class="c2">Comanda minima este de 99 lei.</span></p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span class="c2">Pentru a plasa o comanda nu este necesar sa va creati un cont de utilizator,
              dar o
              puteti face pentru a avea acces in permanenta la istoricul comenzilor dvs. </span></p>
          <p class="c4"><span class="c2">De asemenea, va puteti autentifica simplu si rapid folosind contul de Facebook
              sau
              Google.</span></p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span class="c2">Dupa realizarea comenzii, veti primi un email de confirmare si veti fi contactat
              telefonic de catre un reprezentant al echipei noastre.</span></p>
          <p class="c1"><span class="c2"></span></p>
          <p class="c4"><span>Pentru comenzi personalizate ne puteti trimite un email la </span><span class="c7"><a
                class="c5" href="mailto:comenzi@tavacudetoate.ro">comenzi@tavacudetoate.ro</a></span><span
              class="c2">&nbsp;sau ne puteti
              suna folosind urmatoarele numere de telefon:</span></p>
          <p class="c4"><span class="c3">Pitesti:</span><span class="c0">&nbsp;0746.252.899</span></p>
          <p class="c4"><span class="c3">Bucuresti sector 2, 3 sau 4:</span><span class="c0">&nbsp;0720.612.962</span>
          </p>
          <p class="c4"><span class="c3">Bucuresti sector 1, 5 sau 6:</span><span class="c0">&nbsp;0741.285.044</span>
          </p>
          <p class="c1"><span class="c2"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
