.lst-kix_smbrm4kmh8m8-3>li:before {
  content: "\0025cf  "
}

.lst-kix_smbrm4kmh8m8-4>li:before {
  content: "\0025cb  "
}

.lst-kix_981sp6xb66me-8>li:before {
  content: "\0025a0  "
}

.lst-kix_s16w6fgw0ee5-2>li:before {
  content: "\0025a0  "
}

.lst-kix_s16w6fgw0ee5-4>li:before {
  content: "\0025cb  "
}

.lst-kix_smbrm4kmh8m8-1>li:before {
  content: "\0025cb  "
}

.lst-kix_smbrm4kmh8m8-5>li:before {
  content: "\0025a0  "
}

.lst-kix_981sp6xb66me-6>li:before {
  content: "\0025cf  "
}

.lst-kix_s16w6fgw0ee5-1>li:before {
  content: "\0025cb  "
}

.lst-kix_s16w6fgw0ee5-5>li:before {
  content: "\0025a0  "
}

.lst-kix_smbrm4kmh8m8-0>li:before {
  content: "\0025cf  "
}

.lst-kix_smbrm4kmh8m8-7>li:before {
  content: "\0025cb  "
}

.lst-kix_smbrm4kmh8m8-8>li:before {
  content: "\0025a0  "
}

.lst-kix_981sp6xb66me-4>li:before {
  content: "\0025cb  "
}

.lst-kix_981sp6xb66me-5>li:before {
  content: "\0025a0  "
}

.lst-kix_wd4rixyjmqdu-0>li:before {
  content: "\0025cf  "
}

.lst-kix_wd4rixyjmqdu-1>li:before {
  content: "\0025cb  "
}

.lst-kix_smbrm4kmh8m8-6>li:before {
  content: "\0025cf  "
}

.lst-kix_981sp6xb66me-3>li:before {
  content: "\0025cf  "
}

.lst-kix_s16w6fgw0ee5-3>li:before {
  content: "\0025cf  "
}

.lst-kix_981sp6xb66me-0>li:before {
  content: "\0025cf  "
}

.lst-kix_981sp6xb66me-1>li:before {
  content: "\0025cb  "
}

.lst-kix_d8asib76byay-3>li:before {
  content: "\0025cb  "
}

ul.lst-kix_s8578tetj0o4-2 {
  list-style-type: none
}

ul.lst-kix_s8578tetj0o4-3 {
  list-style-type: none
}

.lst-kix_981sp6xb66me-2>li:before {
  content: "\0025a0  "
}

.lst-kix_d8asib76byay-4>li:before {
  content: "\0025c6  "
}

ul.lst-kix_s8578tetj0o4-0 {
  list-style-type: none
}

ul.lst-kix_s8578tetj0o4-1 {
  list-style-type: none
}

.lst-kix_d8asib76byay-5>li:before {
  content: "\0025cf  "
}

.lst-kix_s16w6fgw0ee5-0>li:before {
  content: "\0025cf  "
}

.lst-kix_d8asib76byay-6>li:before {
  content: "\0025cb  "
}

.lst-kix_d8asib76byay-8>li:before {
  content: "\0025cf  "
}

.lst-kix_d8asib76byay-7>li:before {
  content: "\0025c6  "
}

ul.lst-kix_981sp6xb66me-8 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-2 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-3 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-0 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-1 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-6 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-7 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-4 {
  list-style-type: none
}

ul.lst-kix_981sp6xb66me-5 {
  list-style-type: none
}

.lst-kix_s16w6fgw0ee5-6>li:before {
  content: "\0025cf  "
}

.lst-kix_s16w6fgw0ee5-8>li:before {
  content: "\0025a0  "
}

.lst-kix_smbrm4kmh8m8-2>li:before {
  content: "\0025a0  "
}

.lst-kix_s16w6fgw0ee5-7>li:before {
  content: "\0025cb  "
}

.lst-kix_id8nhaud9ev-4>li:before {
  content: "\0025cb  "
}

.lst-kix_id8nhaud9ev-3>li:before {
  content: "\0025cf  "
}

.lst-kix_id8nhaud9ev-0>li:before {
  content: "\0025cf  "
}

.lst-kix_id8nhaud9ev-2>li:before {
  content: "\0025a0  "
}

.lst-kix_id8nhaud9ev-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_s8578tetj0o4-6 {
  list-style-type: none
}

ul.lst-kix_s8578tetj0o4-7 {
  list-style-type: none
}

ul.lst-kix_s8578tetj0o4-4 {
  list-style-type: none
}

ul.lst-kix_s8578tetj0o4-5 {
  list-style-type: none
}

.lst-kix_d8asib76byay-2>li:before {
  content: "\0025cf  "
}

ul.lst-kix_s8578tetj0o4-8 {
  list-style-type: none
}

.lst-kix_id8nhaud9ev-5>li:before {
  content: "\0025a0  "
}

.lst-kix_jpnubad2nmm1-4>li:before {
  content: "\0025cb  "
}

.lst-kix_d8asib76byay-1>li:before {
  content: "\0025c6  "
}

.lst-kix_id8nhaud9ev-6>li:before {
  content: "\0025cf  "
}

.lst-kix_jpnubad2nmm1-6>li:before {
  content: "\0025cf  "
}

.lst-kix_jpnubad2nmm1-5>li:before {
  content: "\0025a0  "
}

.lst-kix_d8asib76byay-0>li:before {
  content: "\002794  "
}

.lst-kix_id8nhaud9ev-7>li:before {
  content: "\0025cb  "
}

.lst-kix_jpnubad2nmm1-8>li:before {
  content: "\0025a0  "
}

.lst-kix_id8nhaud9ev-8>li:before {
  content: "\0025a0  "
}

.lst-kix_jpnubad2nmm1-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_jpnubad2nmm1-7 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-1 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-7 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-4 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-6 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-0 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-8 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-3 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-5 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-3 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-2 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-4 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-2 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-1 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-3 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-8 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-4 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-7 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-5 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-6 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-8 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-6 {
  list-style-type: none
}

ul.lst-kix_prdgu1t5tjp-5 {
  list-style-type: none
}

.lst-kix_jpnubad2nmm1-3>li:before {
  content: "\0025cf  "
}

.lst-kix_jpnubad2nmm1-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_id8nhaud9ev-1 {
  list-style-type: none
}

.lst-kix_jpnubad2nmm1-0>li:before {
  content: "\0025cf  "
}

.lst-kix_jpnubad2nmm1-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_d8asib76byay-8 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-0 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-0 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-1 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-3 {
  list-style-type: none
}

ul.lst-kix_smbrm4kmh8m8-2 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-2 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-5 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-5 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-4 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-4 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-7 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-7 {
  list-style-type: none
}

ul.lst-kix_d8asib76byay-6 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-6 {
  list-style-type: none
}

ul.lst-kix_id8nhaud9ev-8 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-3 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-2 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-1 {
  list-style-type: none
}

ul.lst-kix_jpnubad2nmm1-0 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-2 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-1 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-4 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-3 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-0 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-6 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-5 {
  list-style-type: none
}

ul.lst-kix_wd4rixyjmqdu-0 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-8 {
  list-style-type: none
}

ul.lst-kix_s16w6fgw0ee5-7 {
  list-style-type: none
}

.lst-kix_s8578tetj0o4-2>li:before {
  content: "\0025a0  "
}

.lst-kix_s8578tetj0o4-1>li:before {
  content: "\0025cb  "
}

.lst-kix_s8578tetj0o4-0>li:before {
  content: "\0025cf  "
}

.lst-kix_prdgu1t5tjp-0>li:before {
  content: "\0025cf  "
}

.lst-kix_prdgu1t5tjp-1>li:before {
  content: "\0025cb  "
}

.lst-kix_prdgu1t5tjp-4>li:before {
  content: "\0025cb  "
}

.lst-kix_s8578tetj0o4-8>li:before {
  content: "\0025a0  "
}

.lst-kix_prdgu1t5tjp-2>li:before {
  content: "\0025a0  "
}

.lst-kix_prdgu1t5tjp-6>li:before {
  content: "\0025cf  "
}

.lst-kix_prdgu1t5tjp-3>li:before {
  content: "\0025cf  "
}

.lst-kix_prdgu1t5tjp-7>li:before {
  content: "\0025cb  "
}

.lst-kix_wd4rixyjmqdu-8>li:before {
  content: "\0025a0  "
}

.lst-kix_prdgu1t5tjp-5>li:before {
  content: "\0025a0  "
}

.lst-kix_wd4rixyjmqdu-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_wd4rixyjmqdu-3 {
  list-style-type: none
}

ul.lst-kix_wd4rixyjmqdu-4 {
  list-style-type: none
}

ul.lst-kix_wd4rixyjmqdu-1 {
  list-style-type: none
}

.lst-kix_wd4rixyjmqdu-2>li:before {
  content: "\0025a0  "
}

.lst-kix_wd4rixyjmqdu-4>li:before {
  content: "\0025cb  "
}

.lst-kix_s8578tetj0o4-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_wd4rixyjmqdu-2 {
  list-style-type: none
}

ul.lst-kix_wd4rixyjmqdu-7 {
  list-style-type: none
}

.lst-kix_s8578tetj0o4-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_wd4rixyjmqdu-8 {
  list-style-type: none
}

ul.lst-kix_wd4rixyjmqdu-5 {
  list-style-type: none
}

ul.lst-kix_wd4rixyjmqdu-6 {
  list-style-type: none
}

.lst-kix_wd4rixyjmqdu-7>li:before {
  content: "\0025cb  "
}

.lst-kix_s8578tetj0o4-6>li:before {
  content: "\0025cf  "
}

.lst-kix_prdgu1t5tjp-8>li:before {
  content: "\0025a0  "
}

.lst-kix_wd4rixyjmqdu-6>li:before {
  content: "\0025cf  "
}

.lst-kix_s8578tetj0o4-5>li:before {
  content: "\0025a0  "
}

.lst-kix_s8578tetj0o4-7>li:before {
  content: "\0025cb  "
}

.lst-kix_wd4rixyjmqdu-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_prdgu1t5tjp-0 {
  list-style-type: none
}

.lst-kix_981sp6xb66me-7>li:before {
  content: "\0025cb  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c3 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  padding-right: 0pt
}

.c0 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  margin-left: 36pt;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  text-align: justify;
  padding-right: 0pt
}

.c8 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-top-style: solid;
  background-color: #ffffff;
  margin-left: 36pt;
  text-indent: -18pt;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  padding-right: 0pt
}

.c19 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-top-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c2 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c22 {
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-left-width: 0pt;
  border-left-style: solid;
  text-align: justify
}

.c4 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c12 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c14 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c15 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c10 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c11 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c18 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c13 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c16 {
  color: inherit;
  text-decoration: inherit
}

.c7 {
  padding: 0;
  margin: 0
}

.c20 {
  max-width: 100%;
  padding: 0;
}

.c21 {
  margin-left: 36pt;
  text-indent: -18pt
}

.c17 {
  background-color: #ffffff
}

.c6 {
  height: 11pt
}

.c5 {
  font-weight: 700
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
