
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 carousel-container">
                        <owl-carousel-o [options]="customOptions" #owlGal class="product-details-img">
                            <ng-container>
                              <ng-template carouselSlide [id]="product?.images[0].image_url">
                                <img src="/assets/img/product/{{product?.images[0].image_url}}" />
                              </ng-template>
                            </ng-container>
                            <ng-container *ngFor="let image of product?.images">
                              <ng-template carouselSlide [id]="image?.image_url">
                                <img src="/assets/img/product/{{image.image_url}}" alt="">
                              </ng-template>
                            </ng-container>
                  
                          </owl-carousel-o>
                          <owl-carousel-o [options]="dotsOptions" class="mt-20 product-dec-slider" *ngIf="product?.images.length > 1">
                            <ng-container *ngFor="let image of product?.images; let i = index">
                              <ng-template carouselSlide [id]="image.image_url+i" [width]="80">
                                <a (click)="owlGal.to(image.image_url); changeimage(image.image_url+i)">
                                  <img src="/assets/img/product/{{image.image_url}}"
                                    [ngClass]="{'product-gallery__carousel-item--active':selectedImage === image.image_url+i || (i == 0 && !selectedImage)}">
                                </a>
                              </ng-template>
                            </ng-container>
                          </owl-carousel-o>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="modal-pro-content">
                            <h3>{{product?.product_name}} </h3>
                            <div class="product-price-wrapper">
                                <span>{{price | number:'1.2-2'}} Lei {{portions}}</span>
                                <!-- <span class="product-price-old">$162.00 </span> -->
                            </div>
                            <p>{{product?.ingredients}}</p>	
                            <div class="quick-view-select">
                                <div class="select-option-part">
                                    <label>Gramaj*</label>
                                    <ul class="clearfix">
                                      <li *ngFor="let qnt of product?.information;">
                                        <button (click)="selectQnt(qnt)" [class.active]="qnt.id === isActive"
                                          class="qnt-box__qunatity">{{qnt.quantity}} {{qnt.um}}</button>
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                            <div class="product-quantity">
                              

                                <div class="cart-plus-minus">
                  
                                  <div (click)="removeOneFromCart(product)" class="dec qtybutton">-</div>
                                  <input class="cart-plus-minus-box" [(ngModel)]="cartQuantity" value="1" type="text" name="quantity"
                                    >
                                  <div (click)="addOneToCart(product)" class="inc qtybutton">+</div>
                                </div>
                  
                              
                                <button (click)="addToCart(product, 1, false)">Adauga in cos</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
