 <!--Page Title-->
 <section class="page-title centred"
   style="background-image: url(assets/images/background/imagine-category-tavacudetoate.jpg);">
   <div class="auto-container">
     <div class="content-box">
       <div class="title">
         <h1>Contact</h1>
       </div>
       <ul class="bread-crumb clearfix">
         <li><a routerLink="/">Acasa</a></li>
         <li>Contact</li>
       </ul>
     </div>
   </div>
 </section>
 <!--End Page Title-->


 <!-- contact-section -->
 <section class="contact-section alternet-2 sec-pad"
   style="background-image: url(assets/images/resource/pagina-contact.jpg);">
   <div class="auto-container">
     <div class="row clearfix">
       <div class="col-lg-4 col-md-6 col-sm-12 info-column">
         <div class="contact-info-inner">
           <div class="single-box">
             <h3><img src="/assets/images/location.svg" alt=""> Cofetaria La Petite: </h3>
             <ul class="list clearfix">
               <li>Cosmopolis, str. Europa, pavilionul "Plaza Mall", Stefanestii de Jos, Ilfov</li>
             </ul>
           </div>
           <div class="single-box">
             <h3><img src="/assets/images/location.svg" alt=""> Laborator La Petite: </h3>
             <ul class="list clearfix">
               <li>Str. Fortunei nr. 24, sector 1, Bucuresti</li>
             </ul>
           </div>
           <div class="single-box">
             <h3>Program consultanta telefonica</h3>
             <ul class="list clearfix">
               <li>Luni - Sambata 08:00 - 19:00</li>
               <li>
                 <figure>
                   <img class="mail" src="/assets/images/mail.svg" alt="">
                 </figure>
                 <a href="mailto:office@tavacudetoate.ro">office@tavacudetoate.ro</a>
               </li>
               <li>
                 <figure>
                   <img class="phone" src="/assets/images/phone.svg" alt="">
                 </figure>
                 <a href="tel:+40762023004">(0762) 023 004</a>
               </li>
             </ul>
           </div>
           <div class="single-box">
             <h3>Social contact</h3>
             <ul class="social-links clearfix">
               <li><a href="https://www.facebook.com/Lapetite0/"><i class="fab fa-facebook-f"></i></a></li>
               <li><a href="https://www.instagram.com/lapetitedoucerevelation/"><i class="fab fa-instagram"></i></a>
               </li>
             </ul>
           </div>
         </div>
       </div>
       <div class="col-lg-8 col-md-6 col-sm-12 form-column">
         <div class="form-inner">
           <h3>Suntem la un mesaj distanta de tine:</h3>
           <form method="post" id="contact-form" class="default-form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm"
             novalidate>
             <div class="row clearfix">
               <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                 <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && name.invalid}" required minlength="3" placeholder="Nume">
                 <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                   <div *ngIf="name.errors.required">Te rugam sa introduci numele!</div>
                   <div *ngIf="name.errors.minlength">Numele trebuie sa contina cel putin 3 litere!</div>
                 </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                 <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email" required email>
                 <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                   <div *ngIf="email.errors.required">Te rugam sa introduci adresa de email!</div>
                   <div *ngIf="email.errors.email">Email-ul nu este valid</div>
                 </div>
               </div>
               <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                 <input type="text" name="phone" [(ngModel)]="model.phone" placeholder="Telefon">
               </div>
               <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                 <input type="text" name="subject" [(ngModel)]="model.subject" placeholder="Subiect">
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                 <textarea name="message" [(ngModel)]="model.message" placeholder="Mesajul tau ..."></textarea>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                 <button class="theme-btn-one" type="submit" name="submit-form">Trimite</button>
               </div>
               <div class="gdpr">
                 <div class="custom-controls-stacked">
                   <label class="custom-control material-checkbox">
                     <input type="checkbox" [(ngModel)]="terms" name="terms" class="material-control-input">
                     <span class="material-control-indicator"></span>
                     <span class="description">Sunt de acord cu <a
                         routerLink="https://tavacudetoate.ro/termeni-si-conditii">Termeni si Conditii </a></span>
                   </label>
                 </div>
                 <div class="custom-controls-stacked">
                   <label class="custom-control material-checkbox">
                     <input type="checkbox" [(ngModel)]="gdpr" name="gdpr" class="material-control-input">
                     <span class="material-control-indicator"></span>
                     <span class="description">Sunt de acord cu <a
                         routerLink="https://tavacudetoate.ro/confidentialitate">Politica de Confidentialitate</a>
                       si <a routerLink="https://tavacudetoate.ro/politica-cookies">GDPR</a> </span>
                   </label>
                 </div>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- contact-section end -->
