 <!-- banner-section -->
 <section class="banner-section style-one">
   <!-- <a class="logo" routerLink="/"><img src="assets/images/logo-tavacudetoate-gold-1.png" alt=""></a> -->
   <owl-carousel-o [options]="customOptions" class="banner-carousel nav-style-one">
    <ng-template carouselSlide>
      <div class="slide-item">
        <div class="image-layer" style="background-image:url(assets/images/banner/banner.jpg)"></div>
        <div class="anim-icon">
          <div class="icon icon-1" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
          <div class="icon icon-2" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
          <div class="icon icon-3" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
        </div>
        <div class="auto-container">
          <div class="content-inner">
            <div class="content-box">
              <h1 class="valentine">
                <span>Descopera Colectia</span>
                Aprobata de Cupidon
              </h1>
              <div class="btn-box">
                <a href="/produse/produse-editie-limitata" class="banner-btn">Vezi produsele</a>
              </div>
            </div>
            <figure class="image-box style-one"><img src="assets/images/colectie_valentines_day_cofetaria_la_petite.png" alt=""></figure>
          </div>
        </div>
      </div>
    </ng-template>
     <ng-template carouselSlide>
       <div class="slide-item">
         <div class="image-layer" style="background-image:url(assets/images/banner/banner.jpg)"></div>
         <div class="anim-icon">
           <div class="icon icon-1" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-2" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-3" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>

         </div>
         <div class="auto-container">
           <div class="content-inner">
             <div class="content-box">

               <h1>
                 <span>Laborator de</span>
                 Cofetarie artizanala
               </h1>

               <div class="btn-box">
                 <a href="/contact" class="banner-btn">Contact</a>
               </div>
             </div>
             <figure class="image-box style-one">
               <img src="assets/images/slider-1-homepage.png" alt="">
             </figure>
           </div>
         </div>
       </div>
     </ng-template>
     <!-- <ng-template carouselSlide>
       <div class="slide-item">
         <div class="image-layer" style="background-image:url(assets/images/banner/banner.jpg)"></div>
         <div class="anim-icon">
           <div class="icon icon-1" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-2" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
           <div class="icon icon-3" style="background-image: url(assets/images/icons/anim-icon-1.svg);"></div>
         </div>
         <div class="auto-container">
           <div class="content-inner">
             <div class="content-box">
               <h1>
                 <span>Editite Limitata</span>
                 Cozonaci dolofani
               </h1>
               <div class="btn-box">
                 <a href="/produse/produse-editie-limitata" class="banner-btn">Vezi produsele</a>
               </div>
             </div>
             <figure class="image-box style-one"><img src="assets/images/cozonaci_editie_limitata_la_petite.png" alt=""></figure>
           </div>
         </div>
       </div>
     </ng-template> -->
    
     <ng-template carouselSlide>
       <div class="slide-item">
         <div class="image-layer" style="background-image:url(assets/images/banner/banner.jpg)"></div>
         <div class="anim-icon">
           <div class="icon icon-1" style="background-image: url(assets/images/icons/anim-icon-1.png);"></div>
           <div class="icon icon-2" style="background-image: url(assets/images/icons/anim-icon-2.png);"></div>
           <div class="icon icon-3" style="background-image: url(assets/images/icons/anim-icon-3.png);"></div>
           <div class="icon icon-4" style="background-image: url(assets/images/shape/shape-1.png);"></div>
           <div class="icon icon-5" style="background-image: url(assets/images/shape/shape-2.png);"></div>
         </div>
         <div class="auto-container">
           <div class="content-inner">
             <div class="content-box">
              <h1>
                <span>Gusta diversitatea</span>
                Prajiturilor La Petite
              </h1>
               <div class="btn-box">
                 <a href="/produs/prajituri-clasice-si-traditionale/pachet-mini-gateaux" class="banner-btn">Vezi produsele</a>
               </div>
             </div>
             <figure class="image-box style-one"><img src="assets/images/pachet_prajituri_la_petite.png" alt=""></figure>
           </div>
         </div>
       </div>
     </ng-template>

   </owl-carousel-o>
 </section>
 <!-- banner-section end -->
