<section class="shop-section" style="background-image: url(assets/images/background/imagine-sectiune-vitrina.jpg);">
  <div class="auto-container">
    <div class="sec-title">
      <p>Produsele din vitrina La Petite</p>
      <h2>Povestile dulci incep aici:</h2>
    </div>
    <owl-carousel-o [options]="customOptions" class="four-item-carousel nav-style-one owl-dots-none">
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/choco-fraise-1.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a routerLink="/produse/prajituri-tavacudetoate">Prajituri La Petite</a></h3>
              <div class="cart-btn"><a routerLink="/produse/prajituri-tavacudetoate" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/Saratele-cu-telemea.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a routerLink="/produse/produse-sarate">Produse Sarate</a></h3>
              <div class="cart-btn"><a routerLink="/produse/produse-sarate" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/tort-petite-fraise-1.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a routerLink="/produse/torturi-aniversare">Torturi Aniversare</a></h3>
              <div class="cart-btn"><a routerLink="/produse/torturi-aniversare" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/cozonac-editie-limitata.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a routerLink="/produse/produse-editie-limitata">Editie Limitata</a></h3>
              <div class="cart-btn"><a routerLink="/produse/produse-editie-limitata" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/Savarina.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a routerLink="/produse/prajituri-clasice-si-traditionale">Prajituri Clasice</a></h3>
              <div class="cart-btn"><a routerLink="/produse/prajituri-clasice-si-traditionale" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/Tort-Tik-Tok-1.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a routerLink="/produse/torturi-personalizate">Torturi Personalizate</a></h3>
              <div class="cart-btn"><a routerLink="/produse/torturi-personalizate" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="shop-block-one">
          <div class="inner-box">
            <figure class="image-box">
              <img src="assets/images/resource/shop/candy-bar-tavacudetoate.jpg" alt="">
            </figure>
            <div class="lower-content">
              <h3><a href="/produse/candy-bar">Candy Bar</a></h3>
              <div class="cart-btn"><a href="/produse/candy-bar" class="theme-btn-two">Vezi mai multe</a></div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="owl-nav">
        <div class="owl-prev"><span class="icon-Arrow-Left"></span></div>
        <div class="owl-next"><span class="icon-Arrow-Right"></span></div>
      </div>
      <div class="owl-dots">
        <div class="owl-dot"><span></span></div>
        <div class="owl-dot active"><span></span></div>
      </div>
    </owl-carousel-o>
  </div>
</section>
