<section class="project-style-two">
    <div class="auto-container">
        <div class="sortable-masonry">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                    <div class="title-inner">
                        <div class="sec-title">
                            <p>Galerie Foto</p>
                            <h2>Deserturile noastre adora sa fie fotografiate</h2>
                        </div>
                        <div class="filters">
                            <ul class="filter-tabs filter-btns clearfix">
                               
                                <li class="active filter" ref="button" data-role="button" data-filter=".prajituri"><span>PRAJITURI "LA PETITE"</span></li>
                                <li class="filter" data-role="button" data-filter=".prajituri-clasice"><span>PRAJITURI CLASICE & TRADITIONALE</span></li>
                                <li class="filter" data-role="button" data-filter=".torturi-aniversare"><span>TORTURI ANIVERSARE</span></li>
                                <li class="filter" data-role="button" data-filter=".torturi-personalizate"><span>TORTURI PERSONALIZATE</span></li>
                                <li class="filter" data-role="button" data-filter=".candy-bar"><span>CANDY BAR</span></li>
                                <li class="filter" data-role="button" data-filter=".produse-sarate"><span>PRODUSE SARATE</span></li>
                                <li class="filter" data-role="button" data-filter=".editie-limitata"><span>EDITIE LIMITATA</span></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                     <div class="items-container row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/Prajituri-tavacudetoate-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI "LA PETITE"</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/Prajituri-tavacudetoate-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-tavacudetoate-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI "LA PETITE"</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-tavacudetoate-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-tavacudetoate-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI "LA PETITE"</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-tavacudetoate-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-tavacudetoate-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI "LA PETITE"</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-tavacudetoate-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri-clasice">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-clasice-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI CLASICE & TRADITIONALE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-clasice-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri-clasice">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-clasice-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI CLASICE & TRADITIONALE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-clasice-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri-clasice">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-clasice-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI CLASICE & TRADITIONALE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-clasice-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all prajituri-clasice">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/prajituri-clasice-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRAJITURI CLASICE & TRADITIONALE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/prajituri-clasice-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-aniversare">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-aniversare-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI ANIVERSARE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-aniversare-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-aniversare">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-aniversare-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI ANIVERSARE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-aniversare-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-aniversare">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-aniversare-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI ANIVERSARE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-aniversare-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-aniversare">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-aniversare-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI ANIVERSARE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-aniversare-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-personalizate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-personalizate-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI PERSONALIZATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-personalizate-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-personalizate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-personalizate-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI PERSONALIZATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-personalizate-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-personalizate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-personalizate-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI PERSONALIZATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-personalizate-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all torturi-personalizate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/torturi-personalizate-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">TORTURI PERSONALIZATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/torturi-personalizate-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all candy-bar">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/candy-bar-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">CANDY BAR</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/candy-bar-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all candy-bar">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/candy-bar-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">CANDY BAR</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/candy-bar-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all candy-bar">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/candy-bar-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">CANDY BAR</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/candy-bar-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all candy-bar">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/candy-bar-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">CANDY BAR</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/candy-bar-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>







                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all produse-sarate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/produse-sarate-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRODUSE SARATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/produse-sarate-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all produse-sarate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/produse-sarate-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRODUSE SARATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/produse-sarate-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all produse-sarate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/produse-sarate-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRODUSE SARATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/produse-sarate-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all produse-sarate">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/produse-sarate-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">PRODUSE SARATE</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/produse-sarate-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all editie-limitata">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/sf-valentin/editie-limitata-1.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">EDITIE LIMITATA</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/sf-valentin/editie-limitata-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                        <!-- <div class="view-btn"><a href="assets/images/gallery/editie-limitata-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all editie-limitata">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/sf-valentin/editie-limitata-2.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">EDITIE LIMITATA</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/sf-valentin/editie-limitata-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                        <!-- <div class="view-btn"><a href="assets/images/gallery/editie-limitata-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all editie-limitata">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/sf-valentin/editie-limitata-3.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">EDITIE LIMITATA</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/sf-valentin/editie-limitata-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                        <!-- <div class="view-btn"><a href="assets/images/gallery/editie-limitata-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 masonry-item small-column all editie-limitata">
                            <div class="project-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="assets/images/gallery/sf-valentin/editie-limitata-4.jpg" alt="">
                                    </figure>
                                    <div class="lower-content">
                                        <h3><a href="gallery-1.html">EDITIE LIMITATA</a></h3>
                                        <div class="view-btn"><a href="assets/images/gallery/sf-valentin/editie-limitata-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div>
                                        <!-- <div class="view-btn"><a href="assets/images/gallery/editie-limitata-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-Zoom"></i></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>