<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li class="active"> Cum se livreaza </li>
      </ul>
    </div>
  </div>
</div>

<div class="pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="c5">
          <p class="c1"><span class="c0">Livrarea comenzilor</span></p>
          <p class="c1"><span class="c2">Termenul de livrare va fi ales de dumneavoastra conform calendarului si a
              intervalelor orare existente in formularul de comanda, aflat in pagina de finalizare a comenzii.</span>
          </p>
          <p class="c1 c3"><span class="c2"></span></p>
          <p class="c1"><span class="c2">Dupa plasarea comenzii veti primi un email pentru confirmarea comanzii
              efectuate si termenul de livrare convenit. </span></p>
          <p class="c1 c3"><span class="c2"></span></p>
          <p class="c1"><span class="c2">Termenul de livrare poate fi modificat de comun acord cu dumneavoastra in
              functie de complexitatea comenzii si de disponibilitatea produselor comandate (ca de exemplu pentru
              comenzile de sarbatori, de Paste, de Craciun, de Revelion sau alte sarbatori care indiferent de momentul
              plasarii, se vor livra conform discutiei in prealabil cu dumneavoastra). </span></p>
          <p class="c1 c3"><span class="c2"></span></p>
          <p class="c1"><span class="c2">Livrarea se face prin intermediul livratorilor nostri, la adresa specificata de
              client si in intervalul orar selectat, asa cum le-at bifat in pagina de comanda.</span></p>
          <p class="c1 c3"><span class="c2"></span></p>
          <p class="c4"><span class="c2">În cazul in care aveti anumite observatii de semnalat privind comanda /
              livrarea, alte intrebari, va rugam sa introduceti aceste informatii in casuta de detalii suplimentare
              inainte de finalizarea comenzii.</span></p>
          <p class="c3 c7"><span class="c6"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
