<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li class="active"> Cum platesc </li>
      </ul>
    </div>
  </div>
</div>

<div class="pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="c8">
          <p class="c0"><span class="c3">Informatii despre plata</span></p>
          <p class="c0 c1"><span class="c2"></span></p>
          <p class="c0"><span class="c2">Plata produselor se poate efectua atat in numerar cat si prin card debit /
              credit in
              una din locatiile noastre / la livrarea produsului sau prin card debit / credit la plasarea comenzii
              online de pe
              site. </span></p>
          <p class="c0 c1"><span class="c3"></span></p>
          <p class="c0"><span class="c2">Toate comenzile plasate prin intermediul acestui site se achita in urmatoarele
              instrumente de plata:</span></p>
          <ul class="c5 lst-kix_dntem9yy37wd-0 start">
            <li class="c0 c4 li-bullet-0"><span class="c3">Plata online </span></li>
          </ul>
          <p class="c0"><span class="c2">Comanda se achita cu cardul bancar prin intermediul EuPlatesc, euplatesc.ro.
              Pentru a
              finaliza plata este necesar sa completati un formular cu informatii despre cardul dumneavoastra, pe o
              pagina
              securizata. In cazul in care va fi necesara rambursarea unei plati in contul dumneavoastra, aceasta se va
              face
              conform regulilor procesatorului de plati, asa cum sunt publicate pe siteul sau
              (https://www.euplatesc.ro/),
              &nbsp;iar intrarea efectiva a banilor inapoi in contul dumneavoastra poate dura, durata care este
              independenta de
              vointa noastra si care depinde de complexitatea cazului si de modul de comunicare dintre banca emitenta a
              cardului
              dumneavoastra si celelalte parti implicate in tranzactie.</span></p>
          <p class="c0 c1"><span class="c2"></span></p>
          <ul class="c5 lst-kix_dntem9yy37wd-0">
            <li class="c0 c4 li-bullet-0"><span class="c3">Numerar / Card la livrare</span></li>
          </ul>
          <p class="c0"><span class="c2">Comanda se achita Livratorului in momentul in care va livreaza comanda prin
              inmanarea
              numerarului aferent sau, dupa caz, prin plata cu cardul la terminalul mobil de plata (POS Bancar)</span>
          </p>
          <p class="c0 c1"><span class="c2"></span></p>
          <ul class="c5 lst-kix_dntem9yy37wd-0">
            <li class="c0 c4 li-bullet-0"><span class="c3">Numerar / Card in locatiile noastre</span></li>
          </ul>
          <p class="c0"><span class="c6">C</span><span class="c2">omenzile lansate online pot fi achitate in locatiile
              noastre
              specificate, in avans sau in momentul ridicarii comenzii </span></p>
          <p class="c0 c1"><span class="c2"></span></p>
          <p class="c0"><span class="c3">Discount 30% pentru pick-up din locatii</span></p>
          <p class="c0"><span class="c2">Comanda online si alege optiunea ridicare din locatie si iti oferim o reducere
              de 30%*
              din suma totala a comenzii**.</span></p>
          <p class="c0"><span class="c2">*Promotia nu poate fi cumulata cu alte promotii active.</span></p>
          <p class="c0"><span class="c2">**Dupa aplicarea reducerii, valoarea cosului de cumparaturi trebuie sa fie mai
              mare de
              99 lei.</span></p>
          <p class="c0 c1"><span class="c3"></span></p>
          <p class="c0"><span class="c3">Locatii TAVA CU DE TOATE:</span></p>
          <ul class="c5 lst-kix_2llkfvmaiocv-0 start">
            <li class="c0 c4 li-bullet-0"><span class="c2">AUCHAN DRUMUL TABEREI (sect.6)</span></li>
            <li class="c0 c4 li-bullet-0"><span class="c2">MILITARI SHOPPING CENTER (sect.6)</span></li>
            <li class="c0 c4 li-bullet-0"><span class="c2">ROYAL HOSPITAL (sect.3)</span></li>
            <li class="c0 c4 li-bullet-0"><span class="c2">GRAND ARENA MALL (sect.4)</span></li>
            <li class="c0 c4 li-bullet-0"><span class="c2">AUCHAN PITESTI</span></li>
          </ul>
          <p class="c0 c1"><span class="c2"></span></p>
          <p class="c0"><span class="c3">Costuri de transport</span></p>
          <p class="c0"><span class="c2">Livram gratuit oriunde in Bucuresti si Pitesti.</span></p>
          <p class="c0"><span class="c2">Comanda minima: 99 lei</span></p>
          <p class="c0 c1"><span class="c7"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
