

ul.lst-kix_2llkfvmaiocv-2 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-1 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-0 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-6 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-5 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-4 {
  list-style-type: none
}

.lst-kix_2llkfvmaiocv-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_2llkfvmaiocv-3 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-8 {
  list-style-type: none
}

ul.lst-kix_2llkfvmaiocv-7 {
  list-style-type: none
}

.lst-kix_dntem9yy37wd-3>li:before {
  content: "\0025cf  "
}

.lst-kix_dntem9yy37wd-4>li:before {
  content: "\0025cb  "
}

.lst-kix_2llkfvmaiocv-4>li:before {
  content: "\0025cb  "
}

.lst-kix_2llkfvmaiocv-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_dntem9yy37wd-0 {
  list-style-type: none
}

.lst-kix_2llkfvmaiocv-1>li:before {
  content: "\0025cb  "
}

.lst-kix_2llkfvmaiocv-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dntem9yy37wd-2 {
  list-style-type: none
}

.lst-kix_dntem9yy37wd-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_dntem9yy37wd-1 {
  list-style-type: none
}

.lst-kix_dntem9yy37wd-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dntem9yy37wd-4 {
  list-style-type: none
}

.lst-kix_2llkfvmaiocv-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dntem9yy37wd-3 {
  list-style-type: none
}

ul.lst-kix_dntem9yy37wd-6 {
  list-style-type: none
}

.lst-kix_dntem9yy37wd-1>li:before {
  content: "\0025cb  "
}

.lst-kix_dntem9yy37wd-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dntem9yy37wd-5 {
  list-style-type: none
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ul.lst-kix_dntem9yy37wd-8 {
  list-style-type: none
}

.lst-kix_2llkfvmaiocv-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_dntem9yy37wd-7 {
  list-style-type: none
}

.lst-kix_dntem9yy37wd-7>li:before {
  content: "\0025cb  "
}

.lst-kix_2llkfvmaiocv-8>li:before {
  content: "\0025a0  "
}

.lst-kix_dntem9yy37wd-5>li:before {
  content: "\0025a0  "
}

.lst-kix_dntem9yy37wd-6>li:before {
  content: "\0025cf  "
}

.lst-kix_2llkfvmaiocv-7>li:before {
  content: "\0025cb  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c2 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  
  font-style: normal
}

.c3 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  
  font-style: normal
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
 
  font-style: normal
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
 
  orphans: 2;
  widows: 2;
  text-align: left
}

.c6 {
  background-color: #ffffff;
  font-size: 10.5pt;
  
  font-weight: 400
}

.c8 {
  background-color: #ffffff;

}

.c4 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c5 {
  padding: 0;
  margin: 0
}

.c1 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}



p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
 
 
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
 
 
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
