.lst-kix_39oxomkqukwd-4>li:before {
  content: "\0025cb  "
}

.lst-kix_39oxomkqukwd-6>li:before {
  content: "\0025cf  "
}

.lst-kix_39oxomkqukwd-1>li:before {
  content: "\0025cb  "
}

.lst-kix_39oxomkqukwd-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_hvtxcdr3ckc6-3 {
  list-style-type: none
}

ul.lst-kix_hvtxcdr3ckc6-2 {
  list-style-type: none
}

.lst-kix_q8g7dono7k9f-0>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-0
}

ul.lst-kix_hvtxcdr3ckc6-5 {
  list-style-type: none
}

ul.lst-kix_hvtxcdr3ckc6-4 {
  list-style-type: none
}

.lst-kix_39oxomkqukwd-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_hvtxcdr3ckc6-7 {
  list-style-type: none
}

ul.lst-kix_hvtxcdr3ckc6-6 {
  list-style-type: none
}

ul.lst-kix_hvtxcdr3ckc6-8 {
  list-style-type: none
}

.lst-kix_39oxomkqukwd-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_hvtxcdr3ckc6-1 {
  list-style-type: none
}

ul.lst-kix_hvtxcdr3ckc6-0 {
  list-style-type: none
}

.lst-kix_39oxomkqukwd-8>li:before {
  content: "\0025a0  "
}

.lst-kix_39oxomkqukwd-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_q8g7dono7k9f-7.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-7 0
}

.lst-kix_ey1zvdrpgvh1-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ey1zvdrpgvh1-7>li:before {
  content: "\0025cb  "
}

.lst-kix_ey1zvdrpgvh1-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ey1zvdrpgvh1-1>li:before {
  content: "\0025cb  "
}

.lst-kix_ey1zvdrpgvh1-2>li:before {
  content: "\0025a0  "
}

.lst-kix_ey1zvdrpgvh1-5>li:before {
  content: "\0025a0  "
}

.lst-kix_39oxomkqukwd-0>li:before {
  content: "\0025cf  "
}

.lst-kix_ey1zvdrpgvh1-3>li:before {
  content: "\0025cf  "
}

.lst-kix_ey1zvdrpgvh1-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_q8g7dono7k9f-1.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-1 0
}

ol.lst-kix_q8g7dono7k9f-8.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-8 0
}

.lst-kix_13wo944kcz06-6>li:before {
  content: "\0025cf  "
}

.lst-kix_13wo944kcz06-5>li:before {
  content: "\0025a0  "
}

.lst-kix_13wo944kcz06-3>li:before {
  content: "\0025cf  "
}

.lst-kix_13wo944kcz06-4>li:before {
  content: "\0025cb  "
}

.lst-kix_hvtxcdr3ckc6-1>li:before {
  content: "\0025cb  "
}

.lst-kix_13wo944kcz06-1>li:before {
  content: "\0025cb  "
}

.lst-kix_hvtxcdr3ckc6-2>li:before {
  content: "\0025a0  "
}

.lst-kix_13wo944kcz06-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hvtxcdr3ckc6-3>li:before {
  content: "\0025cf  "
}

.lst-kix_hvtxcdr3ckc6-5>li:before {
  content: "\0025a0  "
}

.lst-kix_hvtxcdr3ckc6-6>li:before {
  content: "\0025cf  "
}

.lst-kix_hvtxcdr3ckc6-4>li:before {
  content: "\0025cb  "
}

.lst-kix_13wo944kcz06-0>li:before {
  content: "\0025cf  "
}

.lst-kix_hvtxcdr3ckc6-8>li:before {
  content: "\0025a0  "
}

ol.lst-kix_q8g7dono7k9f-2.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-2 0
}

.lst-kix_hvtxcdr3ckc6-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_7op2s84wx3bi-1 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-2 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-3 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-4 {
  list-style-type: none
}

.lst-kix_q8g7dono7k9f-2>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-2
}

ul.lst-kix_7op2s84wx3bi-0 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-5 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-6 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-7 {
  list-style-type: none
}

ul.lst-kix_7op2s84wx3bi-8 {
  list-style-type: none
}

.lst-kix_bytyus9qopjw-0>li:before {
  content: "\0025cf  "
}

ol.lst-kix_q8g7dono7k9f-6.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-6 0
}

.lst-kix_bytyus9qopjw-2>li:before {
  content: "\0025a0  "
}

.lst-kix_bytyus9qopjw-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_l0wselai286t-7 {
  list-style-type: none
}

ul.lst-kix_l0wselai286t-6 {
  list-style-type: none
}

ul.lst-kix_l0wselai286t-8 {
  list-style-type: none
}

ul.lst-kix_l0wselai286t-3 {
  list-style-type: none
}

ul.lst-kix_l0wselai286t-2 {
  list-style-type: none
}

ul.lst-kix_l0wselai286t-5 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-0 {
  list-style-type: none
}

ul.lst-kix_l0wselai286t-4 {
  list-style-type: none
}

.lst-kix_qipq6dltbpvf-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_l0wselai286t-1 {
  list-style-type: none
}

.lst-kix_60yd6p3yna1e-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_l0wselai286t-0 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-5 {
  list-style-type: none
}

.lst-kix_qipq6dltbpvf-6>li:before {
  content: "\0025cf  "
}

.lst-kix_q8g7dono7k9f-4>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-4
}

ul.lst-kix_bytyus9qopjw-6 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-7 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-8 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-1 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-2 {
  list-style-type: none
}

ul.lst-kix_bytyus9qopjw-3 {
  list-style-type: none
}

.lst-kix_60yd6p3yna1e-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_bytyus9qopjw-4 {
  list-style-type: none
}

.lst-kix_hvtxcdr3ckc6-0>li:before {
  content: "\0025cf  "
}

.lst-kix_qipq6dltbpvf-8>li:before {
  content: "\0025a0  "
}

.lst-kix_60yd6p3yna1e-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_q8g7dono7k9f-3.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-3 0
}

.lst-kix_13wo944kcz06-8>li:before {
  content: "\0025a0  "
}

.lst-kix_l0wselai286t-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_qipq6dltbpvf-8 {
  list-style-type: none
}

ul.lst-kix_qipq6dltbpvf-6 {
  list-style-type: none
}

ul.lst-kix_qipq6dltbpvf-7 {
  list-style-type: none
}

ul.lst-kix_qipq6dltbpvf-4 {
  list-style-type: none
}

.lst-kix_7op2s84wx3bi-3>li:before {
  content: "\0025cf  "
}

.lst-kix_7op2s84wx3bi-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_qipq6dltbpvf-5 {
  list-style-type: none
}

.lst-kix_q8g7dono7k9f-3>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-3
}

.lst-kix_l0wselai286t-6>li:before {
  content: "\0025cf  "
}

.lst-kix_7op2s84wx3bi-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ey1zvdrpgvh1-0>li:before {
  content: "\0025cf  "
}

ol.lst-kix_q8g7dono7k9f-4.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-4 0
}

ul.lst-kix_qipq6dltbpvf-2 {
  list-style-type: none
}

ul.lst-kix_qipq6dltbpvf-3 {
  list-style-type: none
}

ul.lst-kix_qipq6dltbpvf-0 {
  list-style-type: none
}

ul.lst-kix_qipq6dltbpvf-1 {
  list-style-type: none
}

.lst-kix_7op2s84wx3bi-1>li:before {
  content: "\0025cb  "
}

.lst-kix_60yd6p3yna1e-7>li:before {
  content: "\0025cb  "
}

.lst-kix_qipq6dltbpvf-2>li:before {
  content: "\0025a0  "
}

.lst-kix_qipq6dltbpvf-0>li:before {
  content: "\0025cf  "
}

.lst-kix_l0wselai286t-0>li:before {
  content: "\0025cf  "
}

.lst-kix_l0wselai286t-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_q8g7dono7k9f-5.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-5 0
}

.lst-kix_l0wselai286t-2>li:before {
  content: "\0025a0  "
}

.lst-kix_q8g7dono7k9f-0>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-0, decimal) ". "
}

.lst-kix_q8g7dono7k9f-1>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-1, lower-latin) ". "
}

ul.lst-kix_igfyl4h0y33v-4 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-3 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-6 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-5 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-8 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-7 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-0 {
  list-style-type: none
}

.lst-kix_q8g7dono7k9f-1>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-1
}

ul.lst-kix_igfyl4h0y33v-2 {
  list-style-type: none
}

ul.lst-kix_igfyl4h0y33v-1 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-1 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-0 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-3 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-2 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-5 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-4 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-7 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-6 {
  list-style-type: none
}

ul.lst-kix_13wo944kcz06-8 {
  list-style-type: none
}

.lst-kix_7op2s84wx3bi-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_39oxomkqukwd-1 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-2 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-0 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-5 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-6 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-3 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-4 {
  list-style-type: none
}

.lst-kix_q8g7dono7k9f-8>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-8
}

ul.lst-kix_39oxomkqukwd-7 {
  list-style-type: none
}

ul.lst-kix_39oxomkqukwd-8 {
  list-style-type: none
}

.lst-kix_igfyl4h0y33v-7>li:before {
  content: "\0025cb  "
}

.lst-kix_igfyl4h0y33v-8>li:before {
  content: "\0025a0  "
}

.lst-kix_igfyl4h0y33v-1>li:before {
  content: "\0025cb  "
}

.lst-kix_igfyl4h0y33v-2>li:before {
  content: "\0025a0  "
}

.lst-kix_igfyl4h0y33v-0>li:before {
  content: "\0025cf  "
}

.lst-kix_igfyl4h0y33v-3>li:before {
  content: "\0025cf  "
}

.lst-kix_igfyl4h0y33v-4>li:before {
  content: "\0025cb  "
}

.lst-kix_q8g7dono7k9f-8>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-8, lower-roman) ". "
}

.lst-kix_igfyl4h0y33v-5>li:before {
  content: "\0025a0  "
}

.lst-kix_igfyl4h0y33v-6>li:before {
  content: "\0025cf  "
}

.lst-kix_q8g7dono7k9f-7>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-7, lower-latin) ". "
}

.lst-kix_q8g7dono7k9f-4>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-4, lower-latin) ". "
}

.lst-kix_q8g7dono7k9f-3>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-3, decimal) ". "
}

.lst-kix_q8g7dono7k9f-5>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-5, lower-roman) ". "
}

.lst-kix_bytyus9qopjw-6>li:before {
  content: "\0025cf  "
}

.lst-kix_bytyus9qopjw-8>li:before {
  content: "\0025a0  "
}

.lst-kix_q8g7dono7k9f-2>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-2, lower-roman) ". "
}

.lst-kix_q8g7dono7k9f-6>li:before {
  content: ""counter(lst-ctn-kix_q8g7dono7k9f-6, decimal) ". "
}

.lst-kix_bytyus9qopjw-5>li:before {
  content: "\0025a0  "
}

.lst-kix_q8g7dono7k9f-5>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-5
}

.lst-kix_bytyus9qopjw-7>li:before {
  content: "\0025cb  "
}

.lst-kix_bytyus9qopjw-1>li:before {
  content: "\0025cb  "
}

.lst-kix_bytyus9qopjw-3>li:before {
  content: "\0025cf  "
}

.lst-kix_qipq6dltbpvf-3>li:before {
  content: "\0025cf  "
}

.lst-kix_60yd6p3yna1e-4>li:before {
  content: "\0025cb  "
}

.lst-kix_qipq6dltbpvf-5>li:before {
  content: "\0025a0  "
}

.lst-kix_qipq6dltbpvf-7>li:before {
  content: "\0025cb  "
}

.lst-kix_60yd6p3yna1e-2>li:before {
  content: "\0025a0  "
}

.lst-kix_60yd6p3yna1e-0>li:before {
  content: "\0025cf  "
}

.lst-kix_13wo944kcz06-7>li:before {
  content: "\0025cb  "
}

.lst-kix_q8g7dono7k9f-6>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-6
}

ol.lst-kix_q8g7dono7k9f-0.start {
  counter-reset: lst-ctn-kix_q8g7dono7k9f-0 0
}

.lst-kix_7op2s84wx3bi-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_q8g7dono7k9f-0 {
  list-style-type: none
}

.lst-kix_l0wselai286t-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_q8g7dono7k9f-1 {
  list-style-type: none
}

ol.lst-kix_q8g7dono7k9f-2 {
  list-style-type: none
}

.lst-kix_7op2s84wx3bi-4>li:before {
  content: "\0025cb  "
}

.lst-kix_l0wselai286t-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_ey1zvdrpgvh1-4 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-5 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-6 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-7 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-0 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-1 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-2 {
  list-style-type: none
}

ul.lst-kix_ey1zvdrpgvh1-3 {
  list-style-type: none
}

.lst-kix_7op2s84wx3bi-2>li:before {
  content: "\0025a0  "
}

.lst-kix_7op2s84wx3bi-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_ey1zvdrpgvh1-8 {
  list-style-type: none
}

.lst-kix_q8g7dono7k9f-7>li {
  counter-increment: lst-ctn-kix_q8g7dono7k9f-7
}

.lst-kix_60yd6p3yna1e-6>li:before {
  content: "\0025cf  "
}

.lst-kix_60yd6p3yna1e-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_60yd6p3yna1e-4 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-3 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-2 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-1 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-0 {
  list-style-type: none
}

.lst-kix_qipq6dltbpvf-1>li:before {
  content: "\0025cb  "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ol.lst-kix_q8g7dono7k9f-7 {
  list-style-type: none
}

ol.lst-kix_q8g7dono7k9f-8 {
  list-style-type: none
}

.lst-kix_l0wselai286t-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_60yd6p3yna1e-8 {
  list-style-type: none
}

ol.lst-kix_q8g7dono7k9f-3 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-7 {
  list-style-type: none
}

ol.lst-kix_q8g7dono7k9f-4 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-6 {
  list-style-type: none
}

ol.lst-kix_q8g7dono7k9f-5 {
  list-style-type: none
}

ul.lst-kix_60yd6p3yna1e-5 {
  list-style-type: none
}

ol.lst-kix_q8g7dono7k9f-6 {
  list-style-type: none
}

.lst-kix_l0wselai286t-3>li:before {
  content: "\0025cf  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c18 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c16 {
  background-color: #ffffff;
  margin-left: 21.3pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c7 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c14 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  
  font-style: italic
}

.c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: italic
}

.c8 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c4 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c19 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c3 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c22 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c25 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 10pt;
  
  page-break-after: avoid;
  text-align: justify
}

.c12 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c23 {
  background-color: #ffffff;

}

.c5 {
  margin-left: 36pt;
  height: 11pt
}

.c2 {
  color: inherit;
  text-decoration: inherit
}

.c9 {
  padding: 0;
  margin: 0
}

.c10 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c24 {
  margin-left: 21.3pt;
  padding-left: 0pt
}

.c21 {
  font-style: italic
}

.c11 {
  font-weight: 700
}

.c17 {
  color: #231f20
}

.c13 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  
  
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
