<div class="mobile-container" [class.mobile-menu-visible]="open">
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn" (click)="toggleMenu(navMenu)"><i class="fa fa-times"></i></div>

    <nav class="menu-box">
      <div class="nav-logo">
        <a routerLink="/">
          <img alt="" src="assets/img/logo/logo.png">
        </a>
      </div>
      <div class="menu-outer">
        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
          <ul class="navigation clearfix">

            <li *ngFor="let category of categories"><a
                routerLink="/produse/{{category.slug}}">{{category.category_name}}</a>
            </li>

            <li *ngFor="let menu of navMenu">
              <a routerLink="{{menu.link}}">{{menu.label}}</a>
            </li>
          </ul>

        </div>
      </div>


      <div class="social-links">
        <ul class="clearfix">
          <li><a href="https://www.facebook.com//"><span class="fa fa-facebook-square"></span></a></li>
          <li><a href="https://www.instagram.com//"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
