<div class="section padding-bottom-extra">
  <div class="container flex-horizontal">
    <div class="col lg-12 md-12 no-margin-bottom-lg">
      <div class="sidebar-page-container">
        <div class="c11">
          <p class="c4 c8"><span class="c1"></span></p>
          <p class="c4"><span class="c5 c7">Informatii despre plata</span></p>
          <p class="c4"><span class="c6">Comenzile se achita</span><span class="c5">&nbsp;la livrare</span><span
              class="c1">&nbsp;prin urmatoarele modalitati:</span></p>
          <ul class="c9 lst-kix_fkd441sqw70c-0 start">
            <li class="c0"><span class="c1">Cash</span></li>
            <li class="c0"><span class="c1">Card</span></li>
          </ul>
          <p class="c4 c8"><span class="c5 c7"></span></p>
          <p class="c4"><span class="c5">Costuri de transport</span></p>
          <p class="c10"><span class="c1">Transportul este gratuit* </span></p>
          <p class="c10"><span class="c1">* Comanda minima este de 150 lei</span></p>
          <p class="c10"><span class="c1">Livram doar in Bucuresti si Ilfov</span></p>
          <p class="c2"><span class="c1"></span></p>
          <p class="c10"><span class="c6">Pentru mai multe informatii, ne puteti suna la </span><span
              class="c5">0762.023.004</span></p>
          <p class="c3"><span class="c7 c12"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
