<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li><a routerLink="/produse/{{productCategorySlug}}"> {{productCategoryName}}</a></li>
        <li class="active">{{product?.product_name}} </li>
      </ul>
    </div>
  </div>
</div>

<div class="product-details pt-100 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <owl-carousel-o [options]="customOptions" #owlGal class="product-details-img">
          <ng-container>
            <ng-template carouselSlide [id]="product?.images[0].image_url">
              <img src="/assets/img/product/{{product?.images[0].image_url}}" />
            </ng-template>
          </ng-container>
          <ng-container *ngFor="let image of product?.images">
            <ng-template carouselSlide [id]="image?.image_url">
              <img src="/assets/img/product/{{image.image_url}}" alt="">
            </ng-template>
          </ng-container>

        </owl-carousel-o>
        <owl-carousel-o [options]="dotsOptions" class="mt-20 product-dec-slider" *ngIf="product?.images.length > 1">
          <ng-container *ngFor="let image of product?.images; let i = index">
            <ng-template carouselSlide [id]="image.image_url+i" [width]="80">
              <a (click)="owlGal.to(image.image_url); changeimage(image.image_url+i)">
                <img src="/assets/img/product/{{image.image_url}}"
                  [ngClass]="{'product-gallery__carousel-item--active':selectedImage === image.image_url+i || (i == 0 && !selectedImage)}">
              </a>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="product-details-content">
          <h4>{{product?.product_name}}</h4>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
            </span>
          </ng-template>

          <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

          <pre>Rate: <b>{{currentRate}}</b></pre>
          <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 1.60">1.35</button> -->

          <span>{{price | number:'1.2-2'}} Lei {{portions}}</span>

          <p>{{product?.description}}</p>
          <div class="quick-view-select">
            <div class="select-option-part">
              <label>Gramaj*</label>
              <ul class="clearfix">
                <li *ngFor="let qnt of product?.information;">
                  <button (click)="selectQnt(qnt)" [class.active]="qnt.id === isActive"
                    class="qnt-box__qunatity">{{qnt.quantity}} {{qnt.um}}</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="pro-details-cart-wrap">
            <div class="shop-list-cart-wishlist">
              <a title="Adauga in cos" (click)="addToCart(product)">
                <i class="ion-android-cart"></i>
              </a>

            </div>
            <div class="product-quantity">
              <div class="cart-plus-minus">
                <input class="cart-plus-minus-box" [(ngModel)]="cartQuantity" name="cart-quantity" placeholder="1"
                  value="1" />
              </div>
            </div>
          </div>
          <div class="pro-dec-categories">
            <p><strong>Ingrediente:</strong> {{product?.ingredients}}</p>
            <p><strong>Alergeni:</strong> {{product?.allergens}}</p>
          </div>
          <div class="pro-dec-social">
            <ul>
              <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
              <li><a class="share" href="#"><i class="ion-social-facebook"></i> Share</a></li>
              <li><a class="google" href="#"><i class="ion-social-googleplus-outline"></i> Google+</a></li>
              <li><a class="pinterest" href="#"><i class="ion-social-pinterest"></i> Pinterest</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="description-review-area pb-100">
  <div class="container">
    <div class="description-review-wrapper">
      <div class="description-review-topbar nav text-center">
        <a class="active" data-toggle="tab" href="#des-details1">Detalii produs</a>
        <a data-toggle="tab" href="#des-details2">Info livrare</a>
        <a data-toggle="tab" href="#des-details3">Recenzii</a>
      </div>
      <div class="tab-content description-review-bottom">
        <div id="des-details1" class="tab-pane active">
          <div class="product-description-wrapper">
            <p><strong>Ingrediente:</strong> {{product?.ingredients}}</p>
            <p><strong>Alergeni:</strong> {{product?.allergens}}</p>
            <p>Toate preparatele noastre sunt gatite in ziua in care se livreaza si sunt trecute printr-un proces
              controlat de racire, de aceea se livreaza reci.</p>

            <p>Fotografiile sunt cu titlu de prezentare, preparatele comandate sunt livrate in caserole de unica
              folosinta.</p>
          </div>
        </div>
        <div id="des-details2" class="tab-pane">
          <div class="product-anotherinfo-wrapper">
            <p><strong>Informatii despre comanda </strong></p>
            <p>Produsele noastre pot fi comandate prin intermediul acestui magazin online. </p>
            <p>Pentru a comanda, nu este necesar sa va creati un cont de utilizator, va puteti loga cu contul dvs. de
              Facebook sau Google.</p>
            <p>Dupa realizarea comenzii, veti primi un email de confirmare.</p>
            <p>Pentru comenzi personalizate, intrebari sau nelamuriri, ne puteti suna la numerele de telefon <a
                href="tel:+40720612962">(0720) 612 962</a> (Bucuresti) si <a href="tel:+0746252899">(0746) 252 899</a>
              (Pitesti)</p>
            <p><strong>Informatii despre plata</strong></p>
            <p>Comenzile se achita la livrare prin urmatoarele modalitati:</p>
            <ul>
              <li>
                - Cash
              </li>
              <li>
                - Card
              </li>
            </ul>


            <p>Cost de livrare:</p>
            <p>Livram GRATUIT in Bucuresti si Pitesti. Comanda minima: 99 lei</p>
          </div>
        </div>
        <div id="des-details3" class="tab-pane">
          <div class="rattings-wrapper">
              <div class="sin-rattings">
                  <div class="star-author-all">
                      <div class="ratting-star f-left">
                          <i class="ion-star theme-color"></i>
                          <i class="ion-star theme-color"></i>
                          <i class="ion-star theme-color"></i>
                          <i class="ion-star theme-color"></i>
                          <i class="ion-star theme-color"></i>
                          <span>(5)</span>
                      </div>
                      <div class="ratting-author f-right">
                          <h3>Alex Manta</h3>
                          <span>12:24</span>
                          <span>8 March 2021</span>
                      </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</p>
              </div>
              
          </div>
          <div class="ratting-form-wrapper">
              <h3>Adauga recenzia ta :</h3>
              <div class="ratting-form">
                  <form action="#">
                      <div class="star-box">
                          <h2>Rating:</h2>
                          <div class="ratting-star">
                              <i class="ion-star theme-color"></i>
                              <i class="ion-star theme-color"></i>
                              <i class="ion-star theme-color"></i>
                              <i class="ion-star theme-color"></i>
                              <i class="ion-star"></i>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="rating-form-style mb-20">
                                  <input placeholder="Nume" type="text">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="rating-form-style mb-20">
                                  <input placeholder="Email" type="text">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="rating-form-style form-submit">
                                  <textarea name="message" placeholder="Mesajul tau"></textarea>
                                  <input type="submit" value="Adauga recenzie">
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="product-area pb-95">
  <div class="container">
    <div class="product-top-bar section-border mb-25">
      <div class="section-title-wrap">
        <h3 class="section-title section-bg-white">Cumparate frecvent impreuna</h3>
      </div>
    </div>
    <div class="related-product-active product-nav">
      <div class="row">
        <div class="product-wrapper col-lg-3 col-md-3 col-sm-3 col-12 mb-35" *ngFor="let product of recommended">
          <div class="product-img">
            <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">
              <img *ngIf="product?.images.length" src="/assets/img/product/{{product?.images[0].image_url}}"
                alt="product">
              <img *ngIf="!product?.images.length" src="/assets/img/product/default.jpg" alt="product">
            </a>
            <div class="product-action">
              <div class="pro-action-left">
                <a title="Adauga in cos" (click)="addToCart(product)"><i class="ion-android-cart"></i> Adauga in cos</a>
              </div>
              <div class="pro-action-right">
                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" (click)="openModal(product)"><i
                    class="ion-android-open"></i></a>
              </div>
            </div>
          </div>
          <div class="product-content">
            <h4>
              <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">{{product.product_name}}</a>
            </h4>
            <div class="product-price-wrapper">
              <span>{{product.information[0].price}} lei / {{product.information[0].quantity}}
                {{product.information[0].um}}</span>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
