<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li><a routerLink="/produse/{{productCategorySlug}}"> {{productCategoryName}}</a></li>
        <li class="active">{{product?.product_name}} </li>
      </ul>
    </div>
  </div>
</div>

<div class="product-details pt-100 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <owl-carousel-o [options]="customOptions" #owlGal class="product-details-img">
          <ng-container>
            <ng-template carouselSlide [id]="product?.images[0].image_url">
              <img src="/assets/img/product/{{product?.images[0].image_url}}" />
            </ng-template>
          </ng-container>
          <ng-container *ngFor="let image of product?.images">
            <ng-template carouselSlide [id]="image?.image_url">
              <img src="/assets/img/product/{{image.image_url}}" alt="">
            </ng-template>
          </ng-container>

        </owl-carousel-o>
        <owl-carousel-o [options]="dotsOptions" class="mt-20 product-dec-slider" *ngIf="product?.images.length > 1">
          <ng-container *ngFor="let image of product?.images; let i = index">
            <ng-template carouselSlide [id]="image.image_url+i" [width]="80">
              <a (click)="owlGal.to(image.image_url); changeimage(image.image_url+i)">
                <img src="/assets/img/product/{{image.image_url}}"
                  [ngClass]="{'product-gallery__carousel-item--active':selectedImage === image.image_url+i || (i == 0 && !selectedImage)}">
              </a>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="product-details-content">
          <h4>{{product?.product_name}}</h4>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
            </span>
          </ng-template>

          <div class="rate mb-20">
            <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

            {{currentRate}}
          </div>

          <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 1.60">1.35</button> -->

          <span>{{price | number:'1.2-2'}} Lei {{portions}}</span>

          <p>{{product?.description}}</p>
          <div class="quick-view-select">
            <div class="select-option-part">
              <label>Alege gramaj*</label>
              <ul class="clearfix">
                <li *ngFor="let qnt of product?.information;">
                  <button (click)="selectQnt(qnt)" [class.active]="qnt.id === isActive"
                    class="qnt-box__qunatity">{{qnt.quantity}} {{qnt.um}}</button>
                </li>
              </ul>
            </div>
          </div>
          
          <p *ngIf="product?.availablePitesti == 0" class="danger">Produs indispnibl in Pitesti</p>
          <div class="pro-details-cart-wrap">

            <div class="product-quantity">

              <div class="cart-plus-minus">

                <div (click)="removeOneFromCart(product)" class="dec qtybutton">-</div>
                <input class="cart-plus-minus-box" min="1" [(ngModel)]="cartQuantity" value="1" type="text" name="quantity">
                <div (click)="addOneToCart(product)" class="inc qtybutton">+</div>
              </div>

            </div>
            <div class="shop-list-cart-wishlist">
              <button title="Adauga in cos" class="add-to-cart-btn" (click)="addToCart(product, 1, false)">
                Adauga in cos
              </button>

            </div>
          </div>
          <div class="pro-dec-categories">
            <p><strong>Ingrediente:</strong> {{product?.ingredients}}</p>
            <p><strong>Alergeni:</strong> {{product?.allergens ? product?.allergens : '-'}}</p>
          </div>
          <!-- <div class="pro-dec-social">
            <ul>
              <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
              <li><a class="share" href="#"><i class="ion-social-facebook"></i> Share</a></li>
              <li><a class="google" href="#"><i class="ion-social-googleplus-outline"></i> Google+</a></li>
              <li><a class="pinterest" href="#"><i class="ion-social-pinterest"></i> Pinterest</a></li>
            </ul>
          </div> -->
          <div class="pro-details-cart-wrap">
            <p>Momentan livram in Bucuresti si Pitesti. <strong>Comanda minima este de 99 lei</strong></p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="description-review-area pb-100">
  <div class="container">
    <div class="description-review-wrapper">
      <div class="description-review-topbar nav text-center">
        <a class="active" data-toggle="tab" href="#des-details1">Detalii produs</a>
        <a data-toggle="tab" href="#des-details2">Info livrare</a>
        <a data-toggle="tab" href="#des-details3">Recenzii</a>
      </div>
      <div class="tab-content description-review-bottom">
        <div id="des-details1" class="tab-pane active">
          <div class="product-description-wrapper">
            <p><strong>Ingrediente:</strong> {{product?.ingredients}}</p>
            <p><strong>Alergeni:</strong> {{product?.allergens}}</p>
            <p><img class="w25" src="/assets/img/icon-img/cooking.svg" alt="">  Mancarea noastra este gatita in ziua in care iti este livrata, de accea este mereu atat de gustoasa.</p>

            <p><i>Fotografiile sunt cu titlu de prezentare, preparatele comandate sunt livrate in caserole de unica
              folosinta.</i></p>
          </div>
        </div>
        <div id="des-details2" class="tab-pane">
          <div class="product-anotherinfo-wrapper">
            <p>TAVA CU DE TOATE este un magazin online ce livreaza mancare la oala in caserole de unica folosinta.</p>

            <p><strong>Cum comanzi?</strong></p>
            <p>Pentru a plasa o comanda nu este necesar sa va creati un cont de utilizator, dar o puteti face pentru a
              avea
              acces in permanenta la istoricul comenzilor dvs. De asemenea, va puteti autentifica simplu si rapid
              folosind
              contul dvs. de Facebook sau Google.</p>

            <p>Dupa realizare comenzii, veti primi un email de confirmare si veti fi contactat telefonic de catre un
              reprezentant al echipei noastre.</p>

            <p>Costuri de transport</p>
            <p>Livram gratuit oriunde in Bucuresti si Pitesti.</p>
            <p>Comanda minima: 99 lei</p>

            <p><strong>Program livrari</strong></p>
            <p>Livram comenzile dvs. de luni pana sambata, intre orele 14-21, astfel:</p>
            <p>Comenzile plasate luni-vineri vor putea fi livrate incepand cu ziua urmatoare;</p>
            <p>Comenzile plasate sambata si duminica vor putea fi livrate incepand de luni.</p>
            <p>Aveti posibilitatea de a selecta ziua preferata de livrare dupa ce adaugati produsele in cos si treceti
              in
              pagina de finalizare a comenzii.</p>
            <p>Dupa finalizarea comenzii va vom contacta telefonic.</p>

            <p><strong>Informatii despre plata</strong></p>
            <p>Toate comenzile plasate prin intermediul acestui site se achita in urmatoarele modalitati:</p>
            <ul class="bullet">
              <li>Plata online</li>
              <li>Numerar / Card la livrare</li>
              <li>Numerar / Card in locatiile noastre</li>
            </ul>


            <p><strong>Discount 15% pentru pick-up din locatii</strong></p>
            <p>Comanda online si alege optiunea ridicare din locatie si iti oferim o reducere de 15%* din suma totala a
              comenzii**.</p>
            <p>*Promotia nu poate fi cumulata cu alte promotii active.</p>
            <p>**Dupa aplicarea reducerii, valoarea cosului de cumparaturi trebuie sa fie mai mare de 99 lei.</p>

            <p><strong>Locatii TAVA CU DE TOATE:</strong></p>
            <ul class="bullet">

            </ul>
            <li>AUCHAN DRUMUL TABEREI (sect.6)</li>
            <li>MILITARI SHOPPING CENTER (sect.6)</li>
            <li>ROYAL HOSPITAL (sect.3)</li>
            <li>GRAND ARENA MALL (sect.4)</li>
            <li>AUCHAN PITESTI</li>

            <p>Pentru comenzi personalizate ne puteti trimite un email la comenzi@tavacudetoate.ro sau ne puteti suna
            folosind urmatoarele numere de telefon:</p>
            <p><strong>Pitesti:</strong> <a href="tel:+40746252899"> 0746.252.899</a> </p>
            <p><strong>Bucuresti sector 2, 3 sau 4:</strong> <a href="tel:+40720612962"> 0720.612.962</a> </p>
            <p><strong>Bucuresti sector 1, 5 sau 6:</strong> <a href="tel:+40741285044"> 0741.285.044</a> </p>

          </div>
        </div>
        <div id="des-details3" class="tab-pane">
          <div class="rattings-wrapper">
            <div class="sin-rattings" *ngFor="let review of reviews">
              <div class="star-author-all">
                <div class="ratting-star f-left">
                  <ngb-rating [(rate)]="review.rating" [readonly]="true" max="5"></ngb-rating>
                  <span>({{review.rating}})</span>
                </div>
                <div class="ratting-author f-right">
                  <h3>{{review.user_name}}</h3>
                  <span>{{review.date_added | date:'h:mm'}}</span>
                  <span>{{review.date_added | date:'d.M.y'}}</span>
                </div>
              </div>
              <p>{{review.user_message}}</p>
            </div>

          </div>
          <div class="ratting-form-wrapper" *ngIf="!addedReview">
            <h3>Adauga recenzia ta :</h3>
            <div class="ratting-form">
              <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" >
                <div class="star-box">
                  <h2>Rating:</h2>
                  <ngb-rating [(rate)]="addRate" max="5"></ngb-rating>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="rating-form-style mb-20">
                      <input placeholder="Nume" type="text" class="form-control" name="user_name"
                        [(ngModel)]="model.user_name" #user_name="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && user_name.invalid }" required minlength="3">
                      <div *ngIf="f.submitted && user_name.invalid" class="invalid-feedback">
                        <div *ngIf="user_name.errors.required">Te rugam sa introduci numele</div>
                        <div *ngIf="user_name.errors.minlength">Numele trebuie sa fie de minim 3 caractere</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="rating-form-style mb-20">
                      <input type="email" name="user_email" class="form-control" placeholder="Email"
                        [(ngModel)]="model.user_email" #user_email="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && user_email.invalid }" required email>
                      <div *ngIf="f.submitted && user_email.invalid" class="invalid-feedback">
                        <div *ngIf="user_email.errors.required">Te rugam sa introduci email-ul!</div>
                        <div *ngIf="user_email.errors.email">Email-ul nu este valid!</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="rating-form-style form-submit">
                      <textarea name="user_message" class="form-control" placeholder="Mesajul tau"
                        [(ngModel)]="model.user_message" #user_message="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && user_message.invalid }" required></textarea>
                      <input type="submit" value="Adauga recenzie">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-area pb-95">
  <div class="container">
    <div class="product-top-bar section-border mb-25">
      <div class="section-title-wrap">
        <h3 class="section-title section-bg-white">Cumparate frecvent impreuna</h3>
      </div>
    </div>
    <div class="related-product-active product-nav">
      <div class="row">
        <div class="product-wrapper col-lg-3 col-md-3 col-sm-3 col-12 mb-35" *ngFor="let product of recommended">
          <div class="product-img">
            <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">
              <img *ngIf="product?.images.length" src="/assets/img/product/{{product?.images[0].image_url}}"
                alt="product">
              <img *ngIf="!product?.images.length" src="/assets/img/product/default.jpg" alt="product">
            </a>
            <div class="product-action">
              <div class="pro-action-left">
                <a title="Adauga in cos" (click)="addToCart(product, 1, false)"><i class="ion-android-cart"></i> Adauga
                  in cos</a>
              </div>
              <div class="pro-action-right">
                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" (click)="openModal(product)"><i
                    class="ion-android-open"></i></a>
              </div>
            </div>
          </div>
          <div class="product-content">
            <h4>
              <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">{{product.product_name}}</a>
            </h4>
            <div class="product-price-wrapper">
              <span>{{product.information[0].price}} lei / {{product.information[0].quantity}}
                {{product.information[0].um}}</span>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
