

<!-- shop-page-section -->
<section class="shop-page-section shop-page-1">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
        <div class="shop-sidebar default-sidebar">
          <div class="sidebar-widget sidebar-categories">
            <div class="widget-title">
              <h3>Categorii</h3>
            </div>
            <div class="widget-content">
              <ul class="categories-list clearfix">
                <li *ngFor="let category of categories">
                    <a *ngIf="category.category_name != 'Accesorii' && category.slug != 'candy-bar'" routerLink="/produse/{{category.slug}}">{{category.category_name}}</a>
                    <a *ngIf="category.slug === 'candy-bar'" routerLink="/{{category.slug}}">{{category.category_name}}</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 content-side">
        <div class="our-shop">
          <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 shop-block" *ngFor="let product of products">
              <div class="shop-block-one">
                <div class="inner-box">
                  <figure class="image-box">
                    <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">
                      <img *ngIf="product.image_url" src="/assets/img/product/{{product.images[0].image_url}}" alt="product">
                      <img *ngIf="!product.image_url" src="/assets/img/product/default.png" alt="product">
                    </a>
                  </figure>
                  <div class="lower-content">
                    <span class="price-box">{{product.information[0].price}} lei</span>
                    <h3><a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">{{product.product_name}}</a></h3>
                    <ul>
                        <li *ngFor="let qnt of product.information">
                            <span>{{qnt.quantity}} {{qnt.um}}</span>
                        </li>
                    </ul>
                    
                    <div class="cart-btn"><a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}" class="theme-btn-two">Cumpara</a></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="pagination-wrapper centred" *ngIf="totalPages > 1">
            <ul class="pagination">
              <li><a (click)="decreaseCurrentPage();"><i class="fas fa-angle-left"></i></a></li>
              <li *ngFor="let number of pages" (click)="setCurrentPage(number)">
                <a [class.active]="number === currentPage">{{number}}</a>
              </li>
              <li><a (click)="increaseCurrentPage();"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- shop-page-section end -->
