<div class="breadcrumb-area gray-bg">
    <div class="container">
      <div class="breadcrumb-content">
        <ul>
          <li><a routerLink="/">Acasa</a></li>
          <li class="active">Locatii </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="shop-page-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-area pb-30">
            <a ><img alt="" src="assets/img/banner/banner-pagina-locatii-tavacudetoate.jpg"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 location" *ngFor="let location of locations">
            <img src="/assets/img/locations/{{location.location_image}}" alt="">
            <span class="{{location.town}}">{{location.town}}</span>
            <h5>{{location.location_name}}</h5>
            <ul>
                <li><a href="tel:{{location.phone}}">{{location.pretty_phone}}</a></li>
                <li>Program: {{location.schedule}}</li>
                <li>Adresa: {{location.address}}</li>
                <li><a href="{{location.pin}}" target="_blank" class="theme-btn-one">Vezi pe harta</a></li>
            </ul>

            <p>Pentru noi e mereu o bucurie sa ne vizitezi, asa ca ne-am gandit sa-ti dam un motiv s-o faci mai des.
              Comanda online, selecteaza locatia de unde vrei sa ridici mancarea si ai <strong>15% reducere</strong> la intregul cos de cumparaturi.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  