@import url('https://themes.googleusercontent.com/fonts/css?kit=dpiI8CyVsrzWsJLBFKehGpLhv3qFjX7dUn1mYxfCXhI');

.lst-kix_5wty6pg3s5bl-4>li:before {
  content: "\0025cb  "
}

.lst-kix_5wty6pg3s5bl-5>li:before {
  content: "\0025a0  "
}

.lst-kix_5wty6pg3s5bl-3>li:before {
  content: "\0025cf  "
}

.lst-kix_5wty6pg3s5bl-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_5wty6pg3s5bl-8 {
  list-style-type: none
}

.lst-kix_5wty6pg3s5bl-0>li:before {
  content: "\0025cf  "
}

.lst-kix_5wty6pg3s5bl-1>li:before {
  content: "\0025cb  "
}

.lst-kix_5wty6pg3s5bl-8>li:before {
  content: "\0025a0  "
}

.lst-kix_5wty6pg3s5bl-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_bumu20244ht9-6 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-5 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-8 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-7 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-0 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-2 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-1 {
  list-style-type: none
}

.lst-kix_5wty6pg3s5bl-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_bumu20244ht9-4 {
  list-style-type: none
}

ul.lst-kix_bumu20244ht9-3 {
  list-style-type: none
}

.lst-kix_fuf55jhh8y82-0>li:before {
  content: "\0025cf  "
}

.lst-kix_bumu20244ht9-7>li:before {
  content: "\0025cb  "
}

.lst-kix_bumu20244ht9-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_rpt68kn21qpd-1 {
  list-style-type: none
}

.lst-kix_bumu20244ht9-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_rpt68kn21qpd-0 {
  list-style-type: none
}

ul.lst-kix_rpt68kn21qpd-3 {
  list-style-type: none
}

ul.lst-kix_rpt68kn21qpd-2 {
  list-style-type: none
}

ul.lst-kix_rpt68kn21qpd-5 {
  list-style-type: none
}

.lst-kix_bumu20244ht9-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_rpt68kn21qpd-4 {
  list-style-type: none
}

ul.lst-kix_rpt68kn21qpd-7 {
  list-style-type: none
}

ul.lst-kix_rpt68kn21qpd-6 {
  list-style-type: none
}

ul.lst-kix_rpt68kn21qpd-8 {
  list-style-type: none
}

.lst-kix_rpt68kn21qpd-4>li:before {
  content: "\0025c6  "
}

.lst-kix_rpt68kn21qpd-3>li:before {
  content: "\0025cb  "
}

ul.lst-kix_5wty6pg3s5bl-6 {
  list-style-type: none
}

.lst-kix_rpt68kn21qpd-2>li:before {
  content: "\0025cf  "
}

ul.lst-kix_5wty6pg3s5bl-7 {
  list-style-type: none
}

ul.lst-kix_5wty6pg3s5bl-4 {
  list-style-type: none
}

ul.lst-kix_5wty6pg3s5bl-5 {
  list-style-type: none
}

ul.lst-kix_5wty6pg3s5bl-2 {
  list-style-type: none
}

ul.lst-kix_5wty6pg3s5bl-3 {
  list-style-type: none
}

ul.lst-kix_5wty6pg3s5bl-0 {
  list-style-type: none
}

.lst-kix_rpt68kn21qpd-1>li:before {
  content: "\0025c6  "
}

ul.lst-kix_5wty6pg3s5bl-1 {
  list-style-type: none
}

.lst-kix_rpt68kn21qpd-0>li:before {
  content: "\002794  "
}

ul.lst-kix_fuf55jhh8y82-0 {
  list-style-type: none
}

ul.lst-kix_fuf55jhh8y82-1 {
  list-style-type: none
}

.lst-kix_rpt68kn21qpd-5>li:before {
  content: "\0025cf  "
}

ul.lst-kix_fuf55jhh8y82-2 {
  list-style-type: none
}

ul.lst-kix_fuf55jhh8y82-3 {
  list-style-type: none
}

ul.lst-kix_fuf55jhh8y82-4 {
  list-style-type: none
}

ul.lst-kix_fuf55jhh8y82-5 {
  list-style-type: none
}

.lst-kix_bumu20244ht9-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_fuf55jhh8y82-6 {
  list-style-type: none
}

.lst-kix_rpt68kn21qpd-6>li:before {
  content: "\0025cb  "
}

ul.lst-kix_fuf55jhh8y82-7 {
  list-style-type: none
}

ul.lst-kix_fuf55jhh8y82-8 {
  list-style-type: none
}

.lst-kix_bumu20244ht9-0>li:before {
  content: "\0025cf  "
}

.lst-kix_bumu20244ht9-4>li:before {
  content: "\0025cb  "
}

.lst-kix_rpt68kn21qpd-7>li:before {
  content: "\0025c6  "
}

.lst-kix_bumu20244ht9-3>li:before {
  content: "\0025cf  "
}

.lst-kix_rpt68kn21qpd-8>li:before {
  content: "\0025cf  "
}

.lst-kix_fuf55jhh8y82-1>li:before {
  content: "\0025cb  "
}

.lst-kix_bumu20244ht9-2>li:before {
  content: "\0025a0  "
}

.lst-kix_fuf55jhh8y82-2>li:before {
  content: "\0025a0  "
}

.lst-kix_fuf55jhh8y82-3>li:before {
  content: "\0025cf  "
}

.lst-kix_fuf55jhh8y82-4>li:before {
  content: "\0025cb  "
}

.lst-kix_fuf55jhh8y82-5>li:before {
  content: "\0025a0  "
}

.lst-kix_fuf55jhh8y82-8>li:before {
  content: "\0025a0  "
}

.lst-kix_fuf55jhh8y82-6>li:before {
  content: "\0025cf  "
}

.lst-kix_fuf55jhh8y82-7>li:before {
  content: "\0025cb  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c19 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c9 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c11 {
  color: #172b4d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Roboto";
  font-style: italic
}

.c10 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c16 {
  padding-top: 20pt;
  padding-bottom: 10pt;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c21 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c3 {
  color: #172b4d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Roboto";
  font-style: normal
}

.c23 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c26 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c8 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c12 {
  font-size: 10.5pt;
  font-family: "Roboto";
  color: #172b4d
}

.c14 {
  background-color: #ffffff;
  height: 11pt
}

.c7 {
  margin-left: 21.3pt;
  padding-left: 0pt
}

.c20 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c17 {
  padding: 0;
  margin: 0
}

.c24 {
  max-width: 100%;
  padding: 0;
}

.c1 {
  color: inherit;
  text-decoration: inherit
}

.c15 {
  height: 11pt
}

.c25 {
  font-size: 14pt
}

.c22 {
  font-weight: 400
}

.c6 {
  font-weight: 700
}

.c18 {
  background-color: #ffffff
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sidebar-page-container {
  margin: 80px 0;
}