 <!--Page Title-->
 <section class="page-title centred"
   style="background-image: url(assets/images/background/imagine-category-tavacudetoate.jpg);">
   <div class="auto-container">
     <div class="content-box">
       <div class="title">
         <h1>Candy Bar</h1>
       </div>
       <ul class="bread-crumb clearfix">
         <li><a routerLink="/">Acasa</a></li>
         <li>Candy Bar</li>
       </ul>
     </div>
   </div>
 </section>
 <!--End Page Title-->


 <!-- service-section -->
 <section class="service-section sec-pad centred"
   style="background-image: url(assets/images/background/single-shop-1.jpg)">
   <div class="auto-container">

     <div class="row clearfix">
       <div class="col-lg-3 col-md-6 col-sm-12 service-block">
         <div class="service-block-one">
           <div class="inner-box">
             <div class="icon-box wow fadeInDown animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
               <div class="bg-layer" style="background-image: url(assets/images/icons/icon-bg-4.png);"></div>
               <i class="icon-Cake"></i>
             </div>
             <div class="lower-content wow fadeInUp animated animated" data-wow-delay="400ms"
               data-wow-duration="1500ms">
               <h3>Prajituri Proaspete</h3>
               <p>Producem totul pe baza de comanda, asa ca fiecare prajiturica pleaca din laborator exact la momentul
                 potrivit.</p>

             </div>
           </div>
         </div>
       </div>


       <div class="col-lg-3 col-md-6 col-sm-12 service-block">
         <div class="service-block-one">
           <div class="inner-box">
             <div class="icon-box wow fadeInDown animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
               <div class="bg-layer" style="background-image: url(assets/images/icons/icon-bg-4.png);"></div>
               <i class="icon-Ice-Cream"></i>
             </div>
             <div class="lower-content wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
               <h3>Livram cu Masini Frigorifice</h3>
               <p>Nicio prajitura nu vine altfel decat in starea ei perfecta. Gust si aspect, totul la superlativ.</p>

             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 service-block">
         <div class="service-block-one">
           <div class="inner-box">
             <div class="icon-box wow fadeInDown animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
               <div class="bg-layer" style="background-image: url(assets/images/icons/icon-bg-4.png);"></div>
               <i class="icon-certify"></i>
             </div>
             <div class="lower-content wow fadeInUp animated animated" data-wow-delay="200ms"
               data-wow-duration="1500ms">
               <h3>Certificat de Conformitate</h3>
               <p>Iti oferim toate documentele de care ai nevoie pentru a asigura buna desfasurare a evenimentului.</p>

             </div>
           </div>
         </div>
       </div>

       <div class="col-lg-3 col-md-6 col-sm-12 service-block">
         <div class="service-block-one">
           <div class="inner-box">
             <div class="icon-box wow fadeInDown animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
               <div class="bg-layer" style="background-image: url(assets/images/icons/icon-bg-4.png);"></div>
               <i class="icon-macaroons"></i>
             </div>
             <div class="lower-content wow fadeInUp animated animated" data-wow-delay="600ms"
               data-wow-duration="1500ms">
               <h3>Candy Bar Personalizat</h3>
               <p>La cerere, realizam un candy bar cu tematica. Venim cu recipiente si decor. Tot noi montam si
                 strangem.</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- service-section end -->


 <!-- specialmenu-section -->
 <section class="specialmenu-section sec-pad" style="background-image: url(assets/images/background/candy-bar-bg.jpg);">
   <div class="fluid-container">
     <div class="row clearfix">
       <div class="col-lg-4 col-md-4 col-sm-12 content-column" *ngFor="let item of candyBar; let i = index">
         <div class="special-menu-box side side--front" data-wow-delay="00ms" data-wow-duration="1500ms">
          
           <div class="inner-box">
            <h4 class="inner-box__title">Pachet {{i + 1}}</h4>
             <ul class="menu-list">
               <li *ngFor="let candy of item.version">
                 <div class="single-menu">
                   <div class="text">
                     <h4>{{candy.title}}</h4>
                   </div>
                   <p>{{candy.description}}</p>
                 </div>
               </li>
             </ul>
             <div class="menu-actions">
               <h4>Alege numarul de invitati:</h4>
               <ul>
                 <li>
                   <div class="option-block">
                     <div class="custom-controls-stacked">
                       <label class="custom-control material-checkbox">
                         <input type="radio" (click)="chooseNoPersons($event)" value="50" data-price="1000 lei"
                           id="select_50" name="selectNoPerson_{{i}}" class="material-control-input">
                         <span class="material-control-indicator"></span>
                         <span class="description">50 pers</span>
                       </label>
                     </div>

                   </div>
                 </li>
                 <li>
                   <div class="option-block">
                     <div class="custom-controls-stacked">
                       <label class="custom-control material-checkbox">
                         <input type="radio" (click)="chooseNoPersons($event)" value="75" data-price="1500 lei"
                           id="select_75" name="selectNoPerson_{{i}}" class="material-control-input">
                         <span class="material-control-indicator"></span>
                         <span class="description">75 pers</span>
                       </label>
                     </div>
                   </div>
                 </li>
                 <li>
                   <div class="option-block">
                     <div class="custom-controls-stacked">
                       <label class="custom-control material-checkbox">
                         <input type="radio" (click)="chooseNoPersons($event)" value="100" data-price="2000 lei"
                           id="select_100" name="selectNoPerson_{{i}}" class="material-control-input">
                         <span class="material-control-indicator"></span>
                         <span class="description">100 pers</span>
                       </label>
                     </div>
                   </div>
                 </li>
               </ul>
               <div class="order">
                 <h3></h3>
                 <button type="button" (click)="toggleFlip($event)" class="theme-btn-one">Comanda</button>
               </div>
             </div>
           </div>
         </div>

         <div class="special-menu-box side side--back" data-wow-delay="00ms" data-wow-duration="1500ms">
           <!-- <div class="bg-layer" style="background-image: url(assets/images/shape/shape-88.png);"></div>
           <div class="border-shape" style="background-image: url(assets/images/shape/shape-99.png);"></div> -->
           <div class="inner-box">
             <div class="form-inner">

               <form novalidate="" method="post" action="sendemail.php" id="contact-form"
                 class="default-form ng-untouched ng-pristine ng-valid">
                 <div class="row clearfix">
                   <div class="col-lg-6 col-md-6 col-sm-12 form-group"><input type="text" name="username"
                       placeholder="Nume *" required=""></div>
                   <div class="col-lg-6 col-md-6 col-sm-12 form-group"><input type="email" name="email"
                       placeholder="Email *" required=""></div>
                   <div class="col-lg-12 col-md-12 col-sm-12 form-group"><input type="text" name="phone" required=""
                       placeholder="Telefon"></div>

                   <div class="col-lg-12 col-md-12 col-sm-12 form-group"><textarea name="message"
                       placeholder="Mesajul tau ..."></textarea>
                      </div>
                      <div class="gdpr">
                        <div class="custom-controls-stacked">
                          <label class="custom-control material-checkbox">
                            <input type="checkbox" [(ngModel)]="terms" name="terms" class="material-control-input">
                            <span class="material-control-indicator"></span>
                            <span class="description">Sunt de acord cu <a
                                routerLink="https://tavacudetoate.ro/termeni-si-conditii">Termeni si Conditii </a></span>
                          </label>
                        </div>
                        <div class="custom-controls-stacked">
                          <label class="custom-control material-checkbox">
                            <input type="checkbox" [(ngModel)]="gdpr" name="gdpr" class="material-control-input">
                            <span class="material-control-indicator"></span>
                            <span class="description">Sunt de acord cu <a
                                routerLink="https://tavacudetoate.ro/confidentialitate">Politica de Confidentialitate</a>
                              si <a routerLink="https://tavacudetoate.ro/politica-cookies">GDPR</a> </span>
                          </label>
                        </div>
                      </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                     <button (click)="removeFlip($event)" class="theme-btn-two">
                       <span class="icon-Arrow-Left"></span>
                       Inapoi
                     </button>
                     <button type="submit" name="submit-form" class="theme-btn-one">Trimite</button>
                   </div>
                 </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- specialmenu-section end -->
 <section class="testimonial-style-four sec-pad centred">
   <div class="auto-container">
     <div class="inner-box">
       <div class="sec-title">
         <p>Recenzii</p>
         <h2>Vorbe dulci de la <br>
           clientii nostri
         </h2>
       </div>
       <owl-carousel-o [options]="customOptions" class="three-item-carousel">

         <ng-template carouselSlide>
           <div class="testimonial-block-two">
             <div class="inner-box">
               <div class="image-layer">
                 <figure class="image-1"><img src="assets/images/resource/coffee-3.png" alt=""></figure>
                 <figure class="image-2"><img src="assets/images/resource/coffee-4.png" alt=""></figure>
               </div>
               <figure class="image-box"><img src="assets/images/resource/testimonial-11.png" alt=""></figure>
               <div class="text">
                 <p>“Cel mai bun candy bar. Colaborarea a fost excelenta. Cu siguranta vom mai apela la ei.“</p>
               </div>
               <div class="author-info">
                 <h5>Raluca Radu</h5>
               </div>
             </div>
           </div>
         </ng-template>
         <ng-template carouselSlide>
           <div class="testimonial-block-two">
             <div class="inner-box">
               <div class="image-layer">
                 <figure class="image-1"><img src="assets/images/resource/coffee-3.png" alt=""></figure>
                 <figure class="image-2"><img src="assets/images/resource/coffee-4.png" alt=""></figure>
               </div>
               <figure class="image-box"><img src="assets/images/resource/testimonial-22.png" alt=""></figure>
               <div class="text">
                 <p>“Cele mai bune prăjituri pe care le-am mâncat in România! Cu siguranța voi alege La Petite pentru toate evenimentele pe care le voi organiza.“</p>
               </div>
               <div class="author-info">
                 <h5>Andreea Mateescu</h5>
               </div>
             </div>
           </div>
         </ng-template>
         <ng-template carouselSlide>
          <div class="testimonial-block-two">
            <div class="inner-box">
              <div class="image-layer">
                <figure class="image-1"><img src="assets/images/resource/coffee-3.png" alt=""></figure>
                <figure class="image-2"><img src="assets/images/resource/coffee-4.png" alt=""></figure>
              </div>
              <figure class="image-box"><img src="assets/images/resource/testimonial-33.png" alt=""></figure>
              <div class="text">
                <p>“Prajituri geniale! Prajitura cu mousse de ciocolata si fructe, prajitura cu mac si portocala caramelizata, prajitura cu cocos si ananas, prajitura felie de lapte, rulouri cu vanilie si mini eclere umplute cu crema de vanilie... Un deliciu!“</p>
              </div>
              <div class="author-info">
                <h5>Beatrice Pohoață Moisescu</h5>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="testimonial-block-two">
            <div class="inner-box">
              <div class="image-layer">
                <figure class="image-1"><img src="assets/images/resource/coffee-3.png" alt=""></figure>
                <figure class="image-2"><img src="assets/images/resource/coffee-4.png" alt=""></figure>
              </div>
              <figure class="image-box"><img src="assets/images/resource/testimonial-44.png" alt=""></figure>
              <div class="text">
                <p>“Am comandat un tort pentru ziua baietelului meu, dar el nu a mai apucat nimic, fiindca l-am mancat eu pe tot. Data viitoare o sa comand doua.“</p>
              </div>
              <div class="author-info">
                <h5>Cosmin Visean</h5>
              </div>
            </div>
          </div>
        </ng-template>
       
       </owl-carousel-o>
     </div>
   </div>
 </section>
