<app-slider></app-slider>
<div class="container">
    <div class="sub-slider">
        <h2>Comanda Mancare Sanatoasa si Gustoasa</h2>
        <p>Gatim responsabil si in siguranta pentru tine si cei dragi.
          Alege dupa pofta inimii, noi ne ocupam sa livram portii generoase de mancare.
          Mereu proaspat. Mereu cand ai nevoie.</p>
          <h2 class="pt-40 pb-0 mb-0">Meniu</h2>
    </div>
   
</div>

<app-products-categories></app-products-categories>

<section class="pb-85 pt-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 icon-group">
                <img src="/assets/img/icon-img/icon-1.png" alt="">
                <h3>Alegi Mancarea</h3>
                <p>Pregatim un meniu complet pentru tine si cei dragi. Adauga in cosul de cumparaturi si trimite-ne lista de bunatati.</p>
            </div>
            <div class="col-lg-4 col-12 icon-group">
                <img src="/assets/img/icon-img/icon-2.png" alt="">
                <h3>Preparam & Livram</h3>
                <p>Dupa confirmarea comenzii, gatim si ne deplasam spre tine la ora dorita. Daca vii tu sa ridici, ai 15% discount.</p>
            </div>
            <div class="col-lg-4 col-12 icon-group">
                <img src="/assets/img/icon-img/icon-3.png" alt="">
                <h3>Savurezi in Familie</h3>
                <p>Acum, tot ce ramane de facut este sa te bucuri de timpul castigat in cel mai frumos mod – in jurul mesei imbelsugate.</p>
            </div>
        </div>
    </div>
</section>
