.table-content {
  table {
    tr {
      td.product-thumbnail {
        img {
          width: 100%;
        }
      }
    }

    @media (max-width: 767px) {
      thead {
        display: none;
      }

      tr {
        flex-wrap: wrap;
        display: flex;

        td.product-thumbnail {
          flex-basis: 100%;
        }

        td.product-name {
          width: 100%;
        }

        td.product-price-cart {
          flex: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        td.product-quantity {
          flex: 50%;
        }

        td.product-subtotal {
          flex: 80%;
          font-size: 18px;
        }

        td.product-remove {
          flex: 20%;
        }
      }
    }
  }
}


@media (max-width: 767px) {

  .cart-shiping-update>a,
  .cart-clear>button,
  .cart-clear>a {
    margin: 0 0 15px;
    padding: 18px 35px 19px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
