<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li class="active">Cos cumparaturi </li>
      </ul>
    </div>
  </div>
</div>

<div class="cart-main-area pt-95 pb-100">

  <div class="container" *ngIf="products.length === 0">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 cart-shiping-update-wrapper">
        <div class="cart-shiping-update">
          <p>Nu ai niciun produs in cos!</p>
          <a routerLink="/produse">Inapoi la cumparaturi</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="products.length > 0">
    <h3 class="page-title">Produsele tale din cosul de cumparaturi</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Imagine</th>
                  <th>Produs</th>
                  <th>Pret</th>
                  <th>Cantitate</th>
                  <th>Total</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td class="product-thumbnail">
                    <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">
                      <img src="/assets/img/product/{{product.images[0].image_url}}" alt="">
                    </a>
                  </td>
                  <td class="product-name">
                    <a
                      routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">{{product.product_name}}</a>
                  </td>
                  <td class="product-price-cart"><span class="amount">{{product.selectedPrice | number:'1.2-2'}}
                      lei</span></td>
                  <td class="product-quantity">
                    <div class="cart-plus-minus">
                     
                      <div (click)="removeOneFromCart(product)" class="dec qtybutton">-</div>
                      <input class="cart-plus-minus-box" [value]="product.num" type="text" name="quantity" (blur)="addToCart(product, $event, true)">
                      <div (click)="addOneToCart(product)" class="inc qtybutton">+</div>
                    </div>
                  </td>
                  <td class="product-subtotal">{{product.num * product.selectedPrice | number:'1.2-2'}} lei</td>
                  <td class="product-remove">
                    <a (click)="removeFromCart(product)"><i class="fa fa-times"></i></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="cart-shiping-update-wrapper">
                <div class="cart-shiping-update">
                  <a routerLink="/produse">Continua cumparaturile</a>
                </div>
                <div class="cart-clear">

                  <a (click)="emptyCart()">Goleste cosul de cumparaturi</a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="pro-details-cart-wrap">
              <p>Momentan livram in Bucuresti si Pitesti. <strong>Comanda minima este de 99 lei</strong></p>
              <p>
                <img src="/assets/img/icon-img/food-delivery.svg" alt="">
                <strong>LIVRARE GRATUITA</strong>
              </p>
            </div>
            <div class="pro-details-cart-wrap">
              <p>Comenzile se livreaza <strong>luni - sambata, in intervalul 14:00 - 21:00</strong></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="grand-totall">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gary-cart">Total</h4>
              </div>
              <h5>Total produse <span>{{totalPrice$ | number:'1.2-2'}} lei </span></h5>
              
              <h4 class="grand-totall-title">Total <span>{{totalPrice$ | number:'1.2-2'}} lei</span></h4>
              <button [disabled]="totalPrice$ > 99 ? false : true" routerLink="/finalizeaza-comanda" >Finalizeaza comanda</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-toaster-container *ngIf="products.length > 0"></app-toaster-container>
