<div class="testimonials-area-2 pt-95 pb-95 gray-bg">
  <div class="container">
    <div class="section-title-wrap-2 section-padding-none text-center mb-50">
      <h3 class="section-title section-bg-white">Ce spun clientii nostri</h3>
    </div>
    <div class="testimonial-style-2">
        <div class="testimonial-2-wrapper mb-50">
            <div class="testimonial-2-img">
              <img alt="" src="assets/img/client/Alex-Giurgea-fb.png">
            </div>
            <div class="testimonial-2-content">
              <div class="testimonial-2-name">
                <h3>Alex Giurgea</h3>
                <div class="testimonial-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <p>A sosit friptura de miel la cuptor. E bestiala! Felicitari!</p>
            </div>
          </div>


      <div class="testimonial-2-wrapper mb-50">
        <div class="testimonial-2-img">
          <img alt="" src="assets/img/client/IOANA-RADU.png">
        </div>
        <div class="testimonial-2-content">
          <div class="testimonial-2-name">
            <h3>Ioana Radu</h3>
            <div class="testimonial-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <p>Sunt la a 3-a comanda si ma declar client fidel. Am incercat diverse preparate si mi-au placut toate.
            Mancarea este gatita cu gust, livrarea la intervalul stabilit si personalul foarte amabil.
            Recomand cu drag si va invit sa serviti o mancare ca acasa, pentru acasa!
            Felicitari si succes in continuare!</p>
        </div>
      </div>


      <div class="testimonial-2-wrapper mb-50">
        <div class="testimonial-2-img">
          <img alt="" src="assets/img/client/Laura-Dulea.png">
        </div>
        <div class="testimonial-2-content">
          <div class="testimonial-2-name">
            <h3>Laura Dulea</h3>
            <div class="testimonial-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <p>Am comandat supa de pui cu galuste, ficatei in sos tomat si tocanita de cartofi cu ciolan afumat. Foarte
            bune toate!</p>
        </div>
      </div>



      <div class="testimonial-2-wrapper mb-50">
        <div class="testimonial-2-img">
          <img alt="" src="assets/img/client/DANA-TEODORESCU.png">
        </div>
        <div class="testimonial-2-content">
          <div class="testimonial-2-name">
            <h3>Dana Teodorescu</h3>
            <div class="testimonial-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <p>Foarte bun, foarte atenti la detalii, si foarte rapizi! Multumim!</p>
        </div>
      </div>


      <div class="testimonial-2-wrapper mb-50">
        <div class="testimonial-2-img">
          <img alt="" src="assets/img/client/default.png">
        </div>
        <div class="testimonial-2-content">
          <div class="testimonial-2-name">
            <h3>Vladislav Anca</h3>
            <div class="testimonial-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <p>Mancare excelenta,preturi f bune, gama extrem de variata. Ca la mama acasa 😍 Se merita din plin!</p>
        </div>
      </div>
      <div class="testimonial-2-wrapper mb-50">
        <div class="testimonial-2-img">
          <img alt="" src="assets/img/client/Alexandru_Dinca.png">
        </div>
        <div class="testimonial-2-content">
          <div class="testimonial-2-name">
            <h3>Alexandru Dinca</h3>
            <div class="testimonial-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
          <p>In complexul comercial Grand Arena., la etaj. Curat. Foarte sic. Toalete curate. Personal binevoitor atent
            si rapid. Produse proaspete si foarte bune . Preturi ok. Recomand.</p>
        </div>
      </div>
      <div class="testimonial-2-wrapper ">
        <div class="testimonial-2-img">
          <img alt="" src="assets/img/client/crina_popescu.png">
        </div>
        <div class="testimonial-2-content">
          <div class="testimonial-2-name">
            <h3>Crina Popescu</h3>
            <div class="testimonial-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>
          <p>Mancarea super buna... si supa ca la mama acasa.</p>
        </div>
      </div>
    </div>
  </div>
</div>
