.video-section .video-inner .video-btn a {
  background: #2f333a;
}

youtube-player {
  margin-top: -280px;
  display: flex;
}

.maintenance-continer {
  .testimonial-style-two {
    display: none;

  }

  youtube-player {
    margin: 0;
  }
}
