.lst-kix_w8al097u7yp-2>li:before {
  content: "\0025a0  "
}

.lst-kix_w8al097u7yp-3>li:before {
  content: "\0025cf  "
}

.lst-kix_w8al097u7yp-0>li:before {
  content: "\0025cf  "
}

.lst-kix_w8al097u7yp-1>li:before {
  content: "\0025cb  "
}

.lst-kix_w8al097u7yp-4>li:before {
  content: "\0025cb  "
}

.lst-kix_w8al097u7yp-5>li:before {
  content: "\0025a0  "
}

.lst-kix_7wx36x1x2wcx-2>li:before {
  content: "\0025cf  "
}

.lst-kix_7wx36x1x2wcx-3>li:before {
  content: "\0025cb  "
}

ul.lst-kix_w8al097u7yp-4 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-5 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-2 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-3 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-0 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-1 {
  list-style-type: none
}

.lst-kix_w8al097u7yp-8>li:before {
  content: "\0025a0  "
}

.lst-kix_7wx36x1x2wcx-1>li:before {
  content: "\0025c6  "
}

.lst-kix_7wx36x1x2wcx-0>li:before {
  content: "\002794  "
}

.lst-kix_w8al097u7yp-6>li:before {
  content: "\0025cf  "
}

.lst-kix_w8al097u7yp-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_w8al097u7yp-8 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-6 {
  list-style-type: none
}

ul.lst-kix_w8al097u7yp-7 {
  list-style-type: none
}

.lst-kix_ldm81iw15njc-4>li:before {
  content: "\0025cb  "
}

.lst-kix_ldm81iw15njc-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ldm81iw15njc-5>li:before {
  content: "\0025a0  "
}

.lst-kix_ldm81iw15njc-2>li:before {
  content: "\0025a0  "
}

.lst-kix_ldm81iw15njc-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_ldm81iw15njc-2 {
  list-style-type: none
}

ul.lst-kix_ldm81iw15njc-3 {
  list-style-type: none
}

ul.lst-kix_ldm81iw15njc-4 {
  list-style-type: none
}

.lst-kix_pud39f7947d6-2>li:before {
  content: "\0025a0  "
}

.lst-kix_pud39f7947d6-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_ldm81iw15njc-5 {
  list-style-type: none
}

ul.lst-kix_ldm81iw15njc-6 {
  list-style-type: none
}

ul.lst-kix_ldm81iw15njc-7 {
  list-style-type: none
}

ul.lst-kix_ldm81iw15njc-8 {
  list-style-type: none
}

.lst-kix_pud39f7947d6-3>li:before {
  content: "\0025cf  "
}

.lst-kix_ldm81iw15njc-1>li:before {
  content: "\0025cb  "
}

.lst-kix_pud39f7947d6-0>li:before {
  content: "\0025cf  "
}

.lst-kix_ldm81iw15njc-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_ldm81iw15njc-0 {
  list-style-type: none
}

.lst-kix_pud39f7947d6-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_ldm81iw15njc-1 {
  list-style-type: none
}

.lst-kix_pud39f7947d6-7>li:before {
  content: "\0025cb  "
}

.lst-kix_pud39f7947d6-6>li:before {
  content: "\0025cf  "
}

.lst-kix_pud39f7947d6-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_7wx36x1x2wcx-0 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-2 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-1 {
  list-style-type: none
}

.lst-kix_pud39f7947d6-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ldm81iw15njc-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ldm81iw15njc-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_pud39f7947d6-0 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-3 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-4 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-4 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-3 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-1 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-6 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-2 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-5 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-7 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-8 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-8 {
  list-style-type: none
}

ul.lst-kix_7wx36x1x2wcx-7 {
  list-style-type: none
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ul.lst-kix_pud39f7947d6-5 {
  list-style-type: none
}

ul.lst-kix_pud39f7947d6-6 {
  list-style-type: none
}

.lst-kix_7wx36x1x2wcx-4>li:before {
  content: "\0025c6  "
}

.lst-kix_7wx36x1x2wcx-5>li:before {
  content: "\0025cf  "
}

.lst-kix_7wx36x1x2wcx-8>li:before {
  content: "\0025cf  "
}

.lst-kix_7wx36x1x2wcx-6>li:before {
  content: "\0025cb  "
}

.lst-kix_7wx36x1x2wcx-7>li:before {
  content: "\0025c6  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c2 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;

  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  margin-left: 36pt;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  text-align: justify;
  padding-right: 0pt
}

.c7 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;

  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  text-align: justify;
  padding-right: 0pt
}

.c14 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-top-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c0 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;

  orphans: 2;
  widows: 2;
  text-align: justify
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c5 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 10pt;

  orphans: 2;
  widows: 2;
  text-align: justify
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 10pt;

  orphans: 2;
  widows: 2;
  text-align: left
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 10pt;

  orphans: 2;
  widows: 2;
  text-align: justify
}

.c11 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  
  font-style: normal
}

.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  background-color: #ffffff;
  text-align: justify
}

.c4 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c17 {
  background-color: #ffffff;

}

.c12 {
  orphans: 2;
  widows: 2
}

.c10 {
  padding: 0;
  margin: 0
}

.c8 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c15 {
  margin-left: 36pt;
  text-indent: -18pt
}

.c18 {
  color: inherit;
  text-decoration: inherit
}

.c19 {
  background-color: #ffffff
}

.c3 {
  font-weight: 700
}

.c13 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  

  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
