.career__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    padding: 40px 15px 34px;
}


.close {
    &:hover {
        i {
            color: #fff;
        }
    }
}