<div class="section padding-bottom-extra">
  <div class="container flex-horizontal">
    <div class="col lg-12 md-12 no-margin-bottom-lg">
      <div class="sidebar-page-container">

        <div class="c2">
          <ul class="c13 lst-kix_3dtkfdsaoi0n-0 start">
            <li class="c3 c8"><span class="c0">Toate produsele noastre se livreaza in masini frigorifice speciale,
                astfel incat sa ajunga la destinatie in cele mai bune conditii.</span></li>
            <li class="c3 c8"><span class="c0">DA, putem livra in aceeasi zi in care comandati, daca lansati comanda
                pana in ora 11:00.</span></li>
          </ul>
          <p class="c3 c11 c9"><span class="c0"></span></p>
          <p class="c3"><span class="c12">Informatii despre livrare*</span></p>
          <p class="c3"><span class="c6">Comenzile trimise pana in ora 11:00</span><span class="c1">&nbsp;se pot livra
              in aceeasi zi intre orele 16-20</span></p>
          <p class="c3 c10"><span class="c6">Comenzile trimise intre 11-18</span><span class="c1">&nbsp;se pot livra a
              doua zi intre orele 12-14</span></p>
          <p class="c3 c10"><span class="c6">Comenzile trimise dupa ora 18 </span><span class="c1">se livreaza a doua zi
              intre orele 14-16</span></p>
          <p class="c3 c10"><span class="c4">*Aceste intervale de livrare sunt valabile pentru toate produsele, cu
              exceptia celor personalizate.</span></p>
          <p class="c3 c5 c9"><span class="c1"></span></p>
          <ul class="c13 lst-kix_t6pfbmjza1r3-0 start">
            <li class="c3 c8 c10"><span class="c1">In perioadele aglomerate, cum ar fi sarbatorile importante sau
                perioadele in care derulam campanii promotionale, este posibil ca timpul de livrare sa sufere usoare
                modificari, de care veti fi anuntati in momentul plasarii comenzii.</span></li>
            <li class="c3 c8 c10"><span class="c1">Asiguram livrarea doar in Bucuresti si Ilfov</span></li>
            <li class="c3 c8 c10"><span class="c1">Comanda minima este de 150 de lei</span></li>
          </ul>
          <p class="c3 c5"><span class="c1"></span></p>
          <p class="c3 c5"><span class="c1"></span></p>
          <p class="c5 c7"><span class="c1"></span></p>
          <p class="c3 c11"><span class="c0"></span></p>
          <p class="c3 c11"><span class="c0"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
