.sidebar-page-container {
  margin-bottom: 80px;
}

.lst-kix_jgcea9he3e73-5>li:before {
  content: "\0025a0  "
}

.lst-kix_jgcea9he3e73-4>li:before {
  content: "\0025cb  "
}

.lst-kix_jgcea9he3e73-6>li:before {
  content: "\0025cf  "
}

.lst-kix_jgcea9he3e73-3>li:before {
  content: "\0025cf  "
}

.lst-kix_jgcea9he3e73-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_tl3jbvdp1gbz-0.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-0 0
}

.lst-kix_jgcea9he3e73-1>li:before {
  content: "\0025cb  "
}

.lst-kix_jgcea9he3e73-0>li:before {
  content: "\0025cf  "
}

.lst-kix_jgcea9he3e73-2>li:before {
  content: "\0025a0  "
}

.lst-kix_tl3jbvdp1gbz-5>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-5
}

ul.lst-kix_jgcea9he3e73-8 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-7 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-2 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-1 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-0 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-6 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-5 {
  list-style-type: none
}

ul.lst-kix_jgcea9he3e73-4 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-6.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-6 0
}

ul.lst-kix_jgcea9he3e73-3 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-0 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-2 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-1 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-4 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-3 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-6 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-5 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-8 {
  list-style-type: none
}

ul.lst-kix_1o3vxafhcuh-7 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-1.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-1 0
}

ol.lst-kix_tl3jbvdp1gbz-7.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-7 0
}

.lst-kix_lq7a75gmrdtz-5>li:before {
  content: "\0025a0  "
}

.lst-kix_jgcea9he3e73-8>li:before {
  content: "\0025a0  "
}

.lst-kix_tl3jbvdp1gbz-3>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-3
}

.lst-kix_lq7a75gmrdtz-6>li:before {
  content: "\0025cf  "
}

.lst-kix_lq7a75gmrdtz-7>li:before {
  content: "\0025cb  "
}

.lst-kix_lq7a75gmrdtz-4>li:before {
  content: "\0025cb  "
}

.lst-kix_l3pi3i7x0vnl-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_l3pi3i7x0vnl-1 {
  list-style-type: none
}

ul.lst-kix_l3pi3i7x0vnl-0 {
  list-style-type: none
}

.lst-kix_ndghn88uisgt-0>li:before {
  content: "\0025cf  "
}

.lst-kix_lq7a75gmrdtz-0>li:before {
  content: "\0025cf  "
}

.lst-kix_lq7a75gmrdtz-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_l3pi3i7x0vnl-5 {
  list-style-type: none
}

ul.lst-kix_l3pi3i7x0vnl-4 {
  list-style-type: none
}

ul.lst-kix_l3pi3i7x0vnl-3 {
  list-style-type: none
}

ul.lst-kix_l3pi3i7x0vnl-2 {
  list-style-type: none
}

.lst-kix_ndghn88uisgt-2>li:before {
  content: "\0025a0  "
}

.lst-kix_wt2245cls6hr-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_tl3jbvdp1gbz-2.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-2 0
}

ul.lst-kix_l3pi3i7x0vnl-8 {
  list-style-type: none
}

.lst-kix_wt2245cls6hr-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_l3pi3i7x0vnl-7 {
  list-style-type: none
}

ul.lst-kix_l3pi3i7x0vnl-6 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-3 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-2 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-5 {
  list-style-type: none
}

.lst-kix_wt2245cls6hr-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_tl3jbvdp1gbz-4 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-7 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-6 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-8 {
  list-style-type: none
}

.lst-kix_lnbaahxu8mcm-7>li:before {
  content: "\0025cb  "
}

.lst-kix_wt2245cls6hr-5>li:before {
  content: "\0025a0  "
}

ol.lst-kix_tl3jbvdp1gbz-1 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-0 {
  list-style-type: none
}

.lst-kix_lnbaahxu8mcm-3>li:before {
  content: "\0025cf  "
}

.lst-kix_lnbaahxu8mcm-1>li:before {
  content: "\0025cb  "
}

.lst-kix_lnbaahxu8mcm-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_lnbaahxu8mcm-5 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-6 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-7 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-8 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-1 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-2 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-3 {
  list-style-type: none
}

.lst-kix_2h2bzo2y37wa-0>li:before {
  content: "\0025cf  "
}

.lst-kix_tl3jbvdp1gbz-3>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-3, decimal) ". "
}

ul.lst-kix_lnbaahxu8mcm-4 {
  list-style-type: none
}

ul.lst-kix_lnbaahxu8mcm-0 {
  list-style-type: none
}

.lst-kix_cnt2wqc2rmt0-5>li:before {
  content: "\0025a0  "
}

.lst-kix_2h2bzo2y37wa-2>li:before {
  content: "\0025a0  "
}

.lst-kix_2h2bzo2y37wa-4>li:before {
  content: "\0025cb  "
}

.lst-kix_cnt2wqc2rmt0-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_tl3jbvdp1gbz-5.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-5 0
}

.lst-kix_cnt2wqc2rmt0-1>li:before {
  content: "\0025cb  "
}

.lst-kix_tl3jbvdp1gbz-1>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-1, lower-latin) ". "
}

.lst-kix_2h2bzo2y37wa-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ndghn88uisgt-6>li:before {
  content: "\0025cf  "
}

.lst-kix_ndghn88uisgt-8>li:before {
  content: "\0025a0  "
}

.lst-kix_2h2bzo2y37wa-8>li:before {
  content: "\0025a0  "
}

.lst-kix_ndghn88uisgt-4>li:before {
  content: "\0025cb  "
}

.lst-kix_tl3jbvdp1gbz-5>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-5, lower-roman) ". "
}

.lst-kix_tl3jbvdp1gbz-7>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-7, lower-latin) ". "
}

.lst-kix_cnt2wqc2rmt0-7>li:before {
  content: "\0025cb  "
}

ol.lst-kix_tl3jbvdp1gbz-4.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-4 0
}

ul.lst-kix_ndghn88uisgt-1 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-0 {
  list-style-type: none
}

ol.lst-kix_tl3jbvdp1gbz-3.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-3 0
}

ul.lst-kix_ndghn88uisgt-3 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-2 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-5 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-4 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-7 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-6 {
  list-style-type: none
}

ul.lst-kix_ndghn88uisgt-8 {
  list-style-type: none
}

.lst-kix_tl3jbvdp1gbz-4>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-4
}

.lst-kix_1o3vxafhcuh-7>li:before {
  content: "\0025cb  "
}

.lst-kix_1o3vxafhcuh-8>li:before {
  content: "\0025a0  "
}

.lst-kix_1o3vxafhcuh-3>li:before {
  content: "\0025cf  "
}

.lst-kix_1o3vxafhcuh-4>li:before {
  content: "\0025cb  "
}

.lst-kix_1o3vxafhcuh-1>li:before {
  content: "\0025cb  "
}

.lst-kix_1o3vxafhcuh-2>li:before {
  content: "\0025a0  "
}

.lst-kix_1o3vxafhcuh-5>li:before {
  content: "\0025a0  "
}

.lst-kix_1o3vxafhcuh-6>li:before {
  content: "\0025cf  "
}

.lst-kix_1o3vxafhcuh-0>li:before {
  content: "\0025cf  "
}

ol.lst-kix_tl3jbvdp1gbz-8.start {
  counter-reset: lst-ctn-kix_tl3jbvdp1gbz-8 0
}

ul.lst-kix_lq7a75gmrdtz-2 {
  list-style-type: none
}

.lst-kix_l3pi3i7x0vnl-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_lq7a75gmrdtz-3 {
  list-style-type: none
}

ul.lst-kix_lq7a75gmrdtz-4 {
  list-style-type: none
}

.lst-kix_l3pi3i7x0vnl-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_lq7a75gmrdtz-5 {
  list-style-type: none
}

ul.lst-kix_lq7a75gmrdtz-0 {
  list-style-type: none
}

ul.lst-kix_lq7a75gmrdtz-1 {
  list-style-type: none
}

.lst-kix_l3pi3i7x0vnl-4>li:before {
  content: "\0025cb  "
}

.lst-kix_l3pi3i7x0vnl-3>li:before {
  content: "\0025cf  "
}

.lst-kix_l3pi3i7x0vnl-2>li:before {
  content: "\0025a0  "
}

.lst-kix_tl3jbvdp1gbz-6>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-6
}

.lst-kix_tl3jbvdp1gbz-0>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-0
}

.lst-kix_l3pi3i7x0vnl-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_lq7a75gmrdtz-6 {
  list-style-type: none
}

.lst-kix_l3pi3i7x0vnl-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_lq7a75gmrdtz-7 {
  list-style-type: none
}

ul.lst-kix_lq7a75gmrdtz-8 {
  list-style-type: none
}

.lst-kix_lq7a75gmrdtz-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_cnt2wqc2rmt0-8 {
  list-style-type: none
}

.lst-kix_lq7a75gmrdtz-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_cnt2wqc2rmt0-6 {
  list-style-type: none
}

ul.lst-kix_cnt2wqc2rmt0-7 {
  list-style-type: none
}

ul.lst-kix_cnt2wqc2rmt0-4 {
  list-style-type: none
}

.lst-kix_l3pi3i7x0vnl-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_cnt2wqc2rmt0-5 {
  list-style-type: none
}

ul.lst-kix_cnt2wqc2rmt0-2 {
  list-style-type: none
}

ul.lst-kix_cnt2wqc2rmt0-3 {
  list-style-type: none
}

ul.lst-kix_cnt2wqc2rmt0-0 {
  list-style-type: none
}

.lst-kix_ndghn88uisgt-3>li:before {
  content: "\0025cf  "
}

.lst-kix_lq7a75gmrdtz-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_cnt2wqc2rmt0-1 {
  list-style-type: none
}

.lst-kix_ndghn88uisgt-1>li:before {
  content: "\0025cb  "
}

.lst-kix_wt2245cls6hr-0>li:before {
  content: "\0025cf  "
}

.lst-kix_wt2245cls6hr-2>li:before {
  content: "\0025a0  "
}

.lst-kix_wt2245cls6hr-8>li:before {
  content: "\0025a0  "
}

.lst-kix_wt2245cls6hr-4>li:before {
  content: "\0025cb  "
}

.lst-kix_lnbaahxu8mcm-6>li:before {
  content: "\0025cf  "
}

.lst-kix_lnbaahxu8mcm-8>li:before {
  content: "\0025a0  "
}

.lst-kix_wt2245cls6hr-6>li:before {
  content: "\0025cf  "
}

.lst-kix_tl3jbvdp1gbz-1>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-1
}

.lst-kix_lnbaahxu8mcm-2>li:before {
  content: "\0025a0  "
}

.lst-kix_lnbaahxu8mcm-4>li:before {
  content: "\0025cb  "
}

.lst-kix_tl3jbvdp1gbz-7>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-7
}

.lst-kix_cnt2wqc2rmt0-6>li:before {
  content: "\0025cf  "
}

.lst-kix_2h2bzo2y37wa-1>li:before {
  content: "\0025cb  "
}

.lst-kix_tl3jbvdp1gbz-4>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-4, lower-latin) ". "
}

ul.lst-kix_wt2245cls6hr-4 {
  list-style-type: none
}

ul.lst-kix_wt2245cls6hr-3 {
  list-style-type: none
}

.lst-kix_cnt2wqc2rmt0-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_wt2245cls6hr-2 {
  list-style-type: none
}

ul.lst-kix_wt2245cls6hr-1 {
  list-style-type: none
}

.lst-kix_tl3jbvdp1gbz-2>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-2
}

ul.lst-kix_wt2245cls6hr-0 {
  list-style-type: none
}

.lst-kix_2h2bzo2y37wa-3>li:before {
  content: "\0025cf  "
}

.lst-kix_tl3jbvdp1gbz-2>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-2, lower-roman) ". "
}

.lst-kix_cnt2wqc2rmt0-0>li:before {
  content: "\0025cf  "
}

.lst-kix_lnbaahxu8mcm-0>li:before {
  content: "\0025cf  "
}

.lst-kix_tl3jbvdp1gbz-0>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-0, decimal) ". "
}

ul.lst-kix_wt2245cls6hr-8 {
  list-style-type: none
}

ul.lst-kix_wt2245cls6hr-7 {
  list-style-type: none
}

.lst-kix_cnt2wqc2rmt0-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_wt2245cls6hr-6 {
  list-style-type: none
}

.lst-kix_2h2bzo2y37wa-5>li:before {
  content: "\0025a0  "
}

.lst-kix_tl3jbvdp1gbz-8>li {
  counter-increment: lst-ctn-kix_tl3jbvdp1gbz-8
}

ul.lst-kix_wt2245cls6hr-5 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-0 {
  list-style-type: none
}

.lst-kix_2h2bzo2y37wa-7>li:before {
  content: "\0025cb  "
}

.lst-kix_ndghn88uisgt-7>li:before {
  content: "\0025cb  "
}

.lst-kix_ndghn88uisgt-5>li:before {
  content: "\0025a0  "
}

.lst-kix_tl3jbvdp1gbz-6>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-6, decimal) ". "
}

ul.lst-kix_2h2bzo2y37wa-2 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-1 {
  list-style-type: none
}

.lst-kix_cnt2wqc2rmt0-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_2h2bzo2y37wa-4 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-3 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-6 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-5 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-8 {
  list-style-type: none
}

ul.lst-kix_2h2bzo2y37wa-7 {
  list-style-type: none
}

.lst-kix_tl3jbvdp1gbz-8>li:before {
  content: ""counter(lst-ctn-kix_tl3jbvdp1gbz-8, lower-roman) ". "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c16 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c13 {
  background-color: #ffffff;
  margin-left: 0;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c17 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  font-family: "Arial";
  font-style: italic
}

.c7 {
  background-color: #ffffff;
  margin-left: 0;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c27 {
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.4;
  background-color: #ffffff;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c6 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c15 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c19 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c30 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: italic
}

.c3 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c26 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  page-break-after: avoid;
  text-align: left
}

.c21 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c18 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-size: 11pt;
}

.c10 {
  background-color: #ffffff;
  max-width: 100%;
  padding: 0
}

.c23 {
  padding: 0;
  margin: 0
}

.c20 {
  margin-left: 0;
  padding-left: 0pt;
  font-size: 11pt;
}

.c11 {
  margin-left: 21.3pt;
  padding-left: 0pt
}

.c14 {
  color: #231f20;
  font-size: 11.5pt
}

.c2 {
  line-height: 2;
  text-decoration: inherit
}

.c8 {
  color: #231f20;
  font-weight: 700
}

.c28 {
  color: #000000;
  font-size: 14pt
}

.c32 {
  padding-left: 0pt;
  line-height: 2;
}

.c24 {
  font-size: 11pt;
  line-height: 2;
}

.c33 {
  margin-left: 0;
  font-size: 11pt;
}

.c29 {
  page-break-after: avoid
}

.c31 {
  color: #231f20
}

.c22 {
  font-weight: 700
}

.c12 {
  
}

.c25 {
  font-style: italic
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
