<div class="best-food-area pb-95">
  <div class="custom-container">
    <div class="row">
      <div class="best-food-width-1">
        <div class="single-banner">
          <div class="hover-style">
            <a routerLink="/locatii"><img src="assets/img/banner/BANNER_HOMEPAGE_1.jpg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="best-food-width-2">
        <div class="product-top-bar section-border mb-25 yellow-color">
          <div class="section-title-wrap">
            <h3 class="section-title section-bg-white">Cele mai populare</h3>
          </div>

        </div>
        <div class="tab-content jump yellow-color">
          <div id="tab4" class="tab-pane active">
            <owl-carousel-o [options]="customOptions" class="product-slider-active product-nav">
              <ng-template carouselSlide *ngFor="let product of products">
                <div class="product-wrapper">
                  <div class="product-img">
                    <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">
                      
                      <img src="/assets/img/product/{{product.images[0].image_url}}" alt="product">
                     
                    </a>
                    <div class="product-action">
                      <div class="pro-action-left">
                        <a title="Adauga in cos" (click)="addToCart(product)"><i class="ion-android-cart"></i> Adauga in cos</a>
                      </div>
                      <div class="pro-action-right">
                        <a title="Quick View" (click)="openModal(product)" data-toggle="modal" data-target="#exampleModall" href="#">
                          <i class="ion-android-open"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="product-content">
                    <h4>
                      <a routerLink="/produs/{{product.categories[0].slug}}/{{product.alias}}">{{product.product_name}} </a>
                    </h4>
                    <div class="product-price-wrapper">
                      <span>{{product.information[0].price}} lei / {{product.information[0].quantity}} {{product.information[0].um}}</span>
                    </div>
                  </div>
                </div>
              </ng-template>
              
            </owl-carousel-o>

          </div>

        </div>
      </div>
      <div class="best-food-width-1 mrg-small-35">
        <div class="single-banner">
          <div class="hover-style">
            <a><img src="assets/img/banner/BANNER_HOMEPAGE_2.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
