.banner-carousel .owl-nav {
  right: -100px;
}

body {
  height: 100%;
  min-height: 100vh;
}

.boxed_wrapper {
  height: 100%;
  min-height: 100vh;
}

.owl-dots {
  background: transparent;
  position: absolute;
  bottom: 0;
}



.popover {
  border-radius: 0;
  min-width: 250px;

  ngb-datepicker {
    border-radius: 0;
  }

  .ngb-dp-header,
  .ngb-dp-weekdays {
    background-color: #2f333a;
    border-radius: 0;
    color: #fff;
  }

  .ngb-dp-navigation-chevron {
    color: #fff;
  }

  .ngb-dp-weekday {
    color: #fff;
  }

  .custom-select {
    border-radius: 0;

    &:focus {
      border-color: #2f333a;
      box-shadow: 0 10px 20px rgba(236, 187, 182, 0.3);
    }
  }

  .btn-light {
    &.bg-primary {
      background-color: #f3b804 !important;
      border-radius: 0;
    }

    &:hover {
      background-color: #f3b804;
      color: #fff;
      border-radius: 0;
    }


  }

  .btn-toggle {
    border-color: #2f333a;
    background-color: #2f333a;
    color: #fff;
    border-radius: 0;
    padding: 17px 27px;
    margin: 16px 0;
  }

  .popover-body {
    padding: 16px;
  }


}

.ngb-tp-hour,
.ngb-tp-meridian,
.ngb-tp-minute,
.ngb-tp-second {
  flex: 1;

  button {
    color: #f3b804;
  }
}

.popover .ngb-dp-header,
.popover .ngb-dp-weekdays {
  padding: 10px 0;
}


.popover .btn-light:hover {
  color: #fff !important;
}


.gdpr {
  margin-top: 20px;

  .custom-control.material-checkbox .material-control-indicator {
    border: 1px solid #6d4b50;
  }

  .custom-control.material-checkbox .material-control-input:checked~.material-control-indicator {
    border: 2px solid #6d4b50;
    border-top: 0px;
    border-left: 0px;
  }
}


.ngx-pagination .current {
  background: #e3a087 !important;
  color: #fff;
  box-shadow: 0 10px 20px rgb(227 160 135 / 30%);
}

.ngx-pagination li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;

  color: #222;
  background: transparent;
  z-index: 1;
  transition: all 500ms ease;
}

.nice-select {
  background: #fff;
  padding: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

button {
  background-color: #f2f2f2;
  border: medium none;
  border-radius: 3px;
  color: #242424;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 11px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  height: 60px;

  &:hover {
    color: #fff;
    background-color: #e02c2b;
  }
}

.custom-container {
  width: 100%;
}

.owl-carousel.owl-drag .owl-item {
  height: 100%;

  .bg-img {
    height: 100%;
  }
}

owl-stage {
  display: block;
  height: 100%;

  &>* {
    height: 100%;
  }
}

.owl-theme {
  height: 100%;
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage {
  height: 100%;
}


.product-wrapper {



  .product-action {
    padding: 10px;
    background: rgba(0, 0, 0, .6);
    color: #fff;

    a {
      i {
        transition: all 0.3s ease-out 0s;
        color: #fff;
      }

      &:hover {
        color: #e02c2b;
        cursor: pointer;

        i {
          color: #e02c2b;
        }
      }

    }
  }

  &:hover {
    .product-action {
      bottom: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}


.qnt-box {
  display: flex;
  margin-bottom: 40px;
  align-items: center;

  p {
    color: #222;
    margin-right: 16px;
  }

  ul {
    display: flex;
  }

  &__qunatity {
    transition: all 500ms ease;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: center;
    color: #2b3c6b;
    background: #fff;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    margin: 0 8px;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &.active {
      background: #f3b804;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      color: #fff;
    }
  }
}

.product-details-img,
.product-dec-slider {

  .owl-theme,
  .owl-carousel .owl-stage-outer,
  .owl-carousel .owl-stage,
  owl-stage,
  .owl-carousel.owl-drag .owl-item {
    height: auto;
  }


}

.modal-body {
  .product-details-img {


    .owl-carousel.owl-drag .owl-item {
      height: auto;
    }

    .owl-carousel .owl-item img {
      max-width: 414px;
    }

    a {
      padding: 0;
    }
  }
}


.product-dec-slider {

  .owl-carousel .owl-stage-outer,
  .owl-carousel .owl-stage {
    width: 100% !important;
  }

  .owl-carousel.owl-drag .owl-item {
    width: 25% !important;

  }

}



input[type="radio"],
input[type="checkbox"] {
  height: auto;
  width: auto;
  margin-right: 16px;
}

.custom-control {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  label {
    margin-bottom: 0;
  }
}


textarea {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eaeaea;
  color: #454545;
  height: 250px;
  padding: 20px 20px;
  font-size: 14px;
}

ul {
  list-style: none;
}
