<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a routerLink="/">Acasa</a></li>
        <li class="active">Finalizare comanda </li>
      </ul>
    </div>
  </div>
</div>



<!-- checkout-section -->
<section class="checkout-section pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 upper-column">
        <div class="upper-box" *ngIf="!isAuthentificated">
          <div class="customer single-box black-bg mb-20">Ai deja cont? <a (click)="showAuth()">Te rugam sa te
              autentifici</a></div>
          <form class="mt-40" (ngSubmit)="f.form.valid && auth(f)" #f="ngForm" *ngIf="showForm">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                <label>Email*</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="login.email" #email="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Te rugam sa introduci Email-ul</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                <label>Parola*</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="login.password"
                  #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Te rugam sa introduci parola!</div>
                </div>
              </div>
            </div>

            <div class="form-footer">
              <div class="row">
                <div class="col-xs-12 col-md-5 login">
                  <button type="submit" class="theme-btn-one">Autentificare</button>
                  <a routerLink="/am-uitat-parola" class="forget-pass"> Ai uitat parola?</a>
                </div>
                <div class="col-xs-12 col-md-2 or">
                  <h4>SAU</h4>
                </div>
                <div class="col-xs-12 col-md-5">
                  <div class="social-login">
                    <button (click)="signInWithFB()" class="btn-facebook">
                      <span class="fa fa-facebook"></span> Autentificare cu Facebook</button>
                    <button (click)="signInWithGoogle()" class="btn-google">
                      <span class="fa fa-google"></span> Autentificare cu Google</button>
                  </div>
                </div>
              </div>



            </div><!-- End .form-footer -->
          </form>
        </div>
        <div class="upper-box">

          <div class="coupon single-box black-bg mb-20">Ai un cupon de reducere? <a (click)="toggle()">Aplica-l aici</a>
          </div>
          <div class="coupon-box pull-left clearfix mt-40 mb-40" *ngIf="show">
            <input [(ngModel)]="discountCode" type="text" placeholder="Adauga codul...">
            <button (click)="checkDiscount()" class="theme-btn-one">Aplica coupon<i
                class="flaticon-right-1"></i></button>
          </div>
        </div>
      </div>
    </div>

    <form class="billing-form mt-40" name="form" (ngSubmit)="f.form.valid && placeOrder(f)" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-12 delivery-info mb-40">
          <h4 class="sub-title payment-info mb-40">Alege data livrarii</h4>
          <div class="delivery-inner">
            
            <p>Comenzile se livreaza <strong>luni - sambata, in intervalul 14:00 - 21:00</strong></p>
            <div class="row">
              <div class="col-12 col-md-6">
                <app-datetimepicker [(ngModel)]="stringDateModel" (onDatePicked)="addDeliveryDate($event)"
                  ngDefaultControl name="activeEndDate">
                </app-datetimepicker>
                <div class="delivery-box" *ngIf="deliverydate">
                  <span><strong>Data livrarii:</strong> {{deliverydate}}</span>
                  <!-- <span><strong>Interval:</strong> {{interval}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="sub-title mt-40">Modalitatea de livrare</h4>
          <p class="discount-pick-up">Ridica comanda din locatiile noastre si primesti un discount de <span>15%</span>
          </p>
          <div class="custom-control">
            <input type="radio" [(ngModel)]="location" value="Bucuresti" (click)="selectDelivery($event)" id="bucuresti"
              name="select-delivery">
            <label for="bucuresti">Bucuresti - ridic din locatie (-15%)</label>
          </div>
          <div class="custom-control">
            <input type="radio" [(ngModel)]="location" value="Pitesti" (click)="selectDelivery($event)" id="pitesti"
              name="select-delivery">
            <label for="pitesti">Pitesti - ridic din locatie (-15%)</label>
          </div>
          <div class="custom-control">
            <input type="radio" [(ngModel)]="location" value="livreaza" (click)="selectDelivery($event)" id="livreaza"
              name="select-delivery">
            <label for="livreaza">Livreaza la domiciliu</label>
          </div>
        </div>
      </div>


      <div class="row mt-40">
        <div class="col-lg-6 col-md-12 col-sm-12 left-column">
          <div class="inner-box">
            <div class="select-location" *ngIf="location != 'livreaza' && location != undefined">

              <div class="select-town">
                <h4 class="sub-title">Selecteaza locatia</h4>
                <ng-container *ngFor="let location of selectedLocation">
                  <label class="custom-control" (click)="deliveryLocation(location)">
                    <input type="radio" value="{{location.id}}" id="location_{{location.id}}" name="location_selected">
                    <ul>
                      <li>{{location.location_name}}</li>
                      <li>{{location.schedule}}</li>
                      <li><a href="tel:{{location.phone}}">{{location.pretty_phone}}</a></li>
                    </ul>
                  </label>
                </ng-container>
              </div>
              <div class="row" *ngIf="!isAuthentificated || addresses.length === 0 || newAddress">
                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                  <label>Nume*</label>
                  <div class="field-input">
                    <input type="text" name="firstName" class="form-control" [(ngModel)]="delivery.firstName"
                      #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid}" required
                      minlength="3">
                    <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors.required">Te rugam sa introduci numele!</div>
                      <div *ngIf="firstName.errors.minlength">Numele trebuie sa contina cel putin 3 litere!</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                  <label>Prenume*</label>
                  <div class="field-input">
                    <input type="text" name="lastName" class="form-control" [(ngModel)]="delivery.lastName"
                      #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required
                      minlength="3">
                    <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors.required">Te rugam sa introduci prenumele!</div>
                      <div *ngIf="lastName.errors.minlength">Prenumele trebuie sa contina cel putin 3 litere!</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <label>Email*</label>
                  <div class="field-input">
                    <input type="text" name="email" class="form-control" [(ngModel)]="delivery.email" #email="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Te rugam sa introduci adresa de email!</div>
                      <div *ngIf="email.errors.email">Email-ul nu este valid</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <label>Telefon*</label>
                  <div class="field-input">
                    <input type="text" name="phone" class="form-control" [(ngModel)]="delivery.phone" #phone="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required>
                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                      <div *ngIf="phone.errors.required">Te rugam sa introduci numarul de telefon!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="billing-info" *ngIf="location === 'livreaza'">
              <h4 class="sub-title">Date de livrare</h4>
              <div class="row" *ngIf="!isAuthentificated || addresses.length === 0 || newAddress">
                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                  <label>Nume*</label>
                  <div class="field-input">
                    <input type="text" name="firstName" class="form-control" [(ngModel)]="model.firstName"
                      #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid}" required
                      minlength="3">
                    <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors.required">Te rugam sa introduci numele!</div>
                      <div *ngIf="firstName.errors.minlength">Numele trebuie sa contina cel putin 3 litere!</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                  <label>Prenume*</label>
                  <div class="field-input">
                    <input type="text" name="lastName" class="form-control" [(ngModel)]="model.lastName"
                      #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required
                      minlength="3">
                    <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors.required">Te rugam sa introduci prenumele!</div>
                      <div *ngIf="lastName.errors.minlength">Prenumele trebuie sa contina cel putin 3 litere!</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <label>Email*</label>
                  <div class="field-input">
                    <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Te rugam sa introduci adresa de email!</div>
                      <div *ngIf="email.errors.email">Email-ul nu este valid</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <label>Telefon*</label>
                  <div class="field-input">
                    <input type="text" name="phone" class="form-control" [(ngModel)]="model.phone" #phone="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required>
                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                      <div *ngIf="phone.errors.required">Te rugam sa introduci numarul de telefon!</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <label>Adresa*</label>
                  <div class="field-input">
                    <input type="text" name="address" class="address form-control" [(ngModel)]="model.address"
                      #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required>
                    <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                      <div *ngIf="address.errors.required">Te rugam sa introduci adresa!</div>
                    </div>
                    <input class="mt-15" type="text" name="address_1" [(ngModel)]="model.address_1">
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <div class="product-show shorting-style">
                    <label>Oras*</label>
                    <select class="form-control" name="town_city" [(ngModel)]="model.town_city" #town_city="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && town_city.invalid }" required>
                      <option value="Bucuresti">Bucuresti</option>
                      <option value="Pitesti">Pitesti</option>
                    </select>
                    <div *ngIf="f.submitted && town_city.invalid" class="invalid-feedback">
                      <div *ngIf="town_city.errors.required">Te rugam sa alegi orasul!</div>
                    </div>
                  </div>
                  <!-- <label>Oras*</label>
                  <div class="field-input">
                    
                    <input type="text" name="town_city" class="form-control" [(ngModel)]="model.town_city"
                      #town_city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && town_city.invalid }" required>
                    <div *ngIf="f.submitted && town_city.invalid" class="invalid-feedback">
                      <div *ngIf="town_city.errors.required">Te rugam sa introduci orasul!</div>
                    </div>
                  </div> -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 form-group" *ngIf="model.town_city === 'Pitesti'">
                  <label>Judet*</label>
                  <div class="field-input">
                    <input type="text" name="county" class="form-control"
                      value="Arges" disabled>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 form-group" *ngIf="model.town_city === 'Bucuresti'">
                  <div class="product-show shorting-style">
                    <label>Sector*</label>
                    <select class="form-control" name="county" [(ngModel)]="model.county" #county="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && county.invalid }" required>
                      <option value="Sector 1">Sector 1</option>
                      <option value="Sector 2">Sector 2</option>
                      <option value="Sector 3">Sector 3</option>
                      <option value="Sector 4">Sector 4</option>
                      <option value="Sector 5">Sector 5</option>
                      <option value="Sector 6">Sector 6</option>
                    </select>
                    <div *ngIf="f.submitted && county.invalid" class="invalid-feedback">
                      <div *ngIf="county.errors.required">Te rugam sa introduci sectorul!</div>
                    </div>
                  </div>
                </div>


                <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12">
                  <div class="create-acc">
                    <div class="custom-controls-stacked">
                      <label class="custom-control material-checkbox">
                        <input type="checkbox" class="material-control-input">
                        <span class="material-control-indicator"></span>
                        <span class="description">Creeaza cont?</span>
                      </label>
                    </div>
                  </div>
                </div> -->
               
              </div>

              <div class="shipping-step-addresses" *ngIf="isAuthentificated && !newAddress">
                <div class="shipping-address-box" *ngFor="let address of addresses; let isFirst = first; let i = index"
                  [class.active]="isFirst">
                  <address>
                    {{user.name}} {{user.last_name}}<br>
                    {{address.address}} <br>
                    {{address.town}}, {{address.county}}<br>
                  </address>

                  <div class="address-box-action clearfix">
                    <!-- <a href="#" class="btn btn-sm btn-link">
                            Edit
                        </a> -->

                    <a (click)="selectAddress(i, $event)" class="theme-btn-one float-right">
                      Alege
                    </a>
                  </div><!-- End .address-box-action -->
                </div><!-- End .shipping-address-box -->

              </div>
              <div class="actions clearfix">
                <a *ngIf="isAuthentificated && !newAddress" (click)="toggleNewAddress()" class="theme-btn-one add-new-address float-left">Adauga o
                  adresa noua</a>
                <a *ngIf="isAuthentificated && newAddress" (click)="toggleNewAddress()" class="theme-btn-one add-new-address float-left">Alege o
                    adresa</a>
              </div>
             
            </div>

           

            <div class="custom-controls-stacked mb-20" *ngIf="location">
              <label class="custom-control material-checkbox">
                <input type="checkbox" [(ngModel)]="isInvoice" name="isInvoice" class="material-control-input">
                <span class="material-control-indicator"></span>
                <span class="description">Vreau factura persoana fizica</span>
              </label>
            </div>

            <div class="custom-controls-stacked mb-20" *ngIf="location">
              <label class="custom-control material-checkbox">
                <input type="checkbox" [(ngModel)]="invoice" name="invoice" class="material-control-input">
                <span class="material-control-indicator"></span>
                <span class="description">Vreau factura persoana juridica</span>
              </label>
            </div>

            <div class="shorting-style pj-invoice" *ngIf="invoice">
              <div class="form-group">
                <label>Nume companie </label>
                <input [(ngModel)]="invoicePj.companyName" name="companyName" id="companyName" type="text" class="form-control" #companyName="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required>
                <div *ngIf="f.submitted && companyName.invalid" class="invalid-feedback">
                  <div *ngIf="companyName.errors.required">Te rugam sa introduci numele companiei!</div>
                </div>
              </div><!-- End .form-group -->

              <div class="form-group j row">
                <label class="col-12">Numar de inregistrare in Registrul Comertului </label>
                <div class="col-12 col-md-2">
                  <select name="J" class="form-control" id="J" [(ngModel)]="invoicePj.J"  #J="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && J.invalid }" required>
                    <option value="J">J</option>
                    <option value="F">F</option>
                    <option value="C">C</option>
                    <option selected="selected" value="-">-</option>
                  </select>
                  <div *ngIf="f.submitted && J.invalid" class="invalid-feedback">
                    <div *ngIf="J.errors.required">Te rugam sa introduci nr de inregistrare!</div>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <select class="form-control j1" name="J1" id="J1" [(ngModel)]="invoicePj.J1" #J1="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && J1.invalid }" required>
                    <option value="">--</option>
                    <option value="0">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                  </select>
                  <div *ngIf="f.submitted && J1.invalid" class="invalid-feedback">
                    <div *ngIf="J1.errors.required">Te rugam sa introduci nr de inregistrare!</div>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <input type="text" [(ngModel)]="invoicePj.J2" name="J2" id="J2" class="form-control" #J2="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && J2.invalid }" required>
                  <div *ngIf="f.submitted && J2.invalid" class="invalid-feedback">
                    <div *ngIf="J2.errors.required">Te rugam sa introduci nr de inregistrare!</div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <select name="J3" class="form-control date" id="J3" [(ngModel)]="invoicePj.J3" #J3="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && J3.invalid }" required>
                    <option value="">----</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                  </select>
                  <div *ngIf="f.submitted && J3.invalid" class="invalid-feedback">
                    <div *ngIf="J3.errors.required">Te rugam sa introduci nr de inregistrare!</div>
                  </div>
                </div>

              </div><!-- End .form-group -->

              <div class="form-group cui row">
                <label class="col-12">Cod unic de Inregistrare </label>
                <div class="col-12 col-md-2">
                  <select id="prefcode" name="prefcode" class="form-control" [(ngModel)]="invoicePj.prefcode" #prefcode="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && prefcode.invalid }" required>
                    <option value="RO">RO</option>
                    <option value="0">----</option>
                  </select>
                  <div *ngIf="f.submitted && prefcode.invalid" class="invalid-feedback">
                    <div *ngIf="prefcode.errors.required">Te rugam sa introduci CUI-ul!</div>
                  </div>
                </div>
                <div class="col-12 col-md-9">
                  <input [(ngModel)]="invoicePj.cui" name="cui" id="cui" type="text" class="form-control" #cui="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && cui.invalid }" required>
                </div>
                <div *ngIf="f.submitted && cui.invalid" class="invalid-feedback">
                  <div *ngIf="cui.errors.required">Te rugam sa introduci CUI-ul!</div>
                </div>
              </div><!-- End .form-group -->

              <div class="form-group">
                <label>Adresa sediu social </label>
                <input [(ngModel)]="invoicePj.companyAddress" name="companyAddress" id="companyAddress" type="text"
                  class="form-control"  #companyAddress="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && companyAddress.invalid }" required>
                  <div *ngIf="f.submitted && companyAddress.invalid" class="invalid-feedback">
                    <div *ngIf="companyAddress.errors.required">Te rugam sa introduci adresa companiei!</div>
                  </div>
              </div><!-- End .form-group -->

            </div>

            <div class="additional-info">
              <div class="note-book">
                <h4 class="sub-title">Detalii suplimentare</h4>

                <textarea name="note_box" [(ngModel)]="note_box"
                  placeholder="Exemplu: vreau fara sare, mai sarat, mai iute, etc."></textarea>
              </div>
            </div>
            <div class="gdpr">
              <div class="custom-controls-stacked">
                <label class="custom-control material-checkbox">
                  <input type="checkbox" [(ngModel)]="terms" name="terms" class="material-control-input">
                  <span class="material-control-indicator"></span>
                  <span class="description">Sunt de acord cu <a
                      routerLink="https://tavacudetoate.ro/termeni-si-conditii">Termeni si Conditii </a></span>
                </label>
              </div>
              <div class="custom-controls-stacked">
                <label class="custom-control material-checkbox">
                  <input type="checkbox" [(ngModel)]="gdpr" name="gdpr" class="material-control-input">
                  <span class="material-control-indicator"></span>
                  <span class="description">Sunt de acord cu <a
                      routerLink="https://tavacudetoate.ro/confidentialitate">Politica de Confidentialitate</a>
                    si <a routerLink="https://tavacudetoate.ro/politica-cookies">GDPR</a> </span>
                </label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 right-column">
          <div class="inner-box">
            <div class="order-info">
              <h4 class="sub-title">Comanda ta</h4>
              <div class="order-product">
                <ul class="order-list clearfix">
                  <li class="title clearfix">
                    <p>Produs</p>
                    <span>Pret</span>
                  </li>
                  <li *ngFor="let product of products">
                    <div class="single-box clearfix">
                      <img src="/assets/img/product/{{product.images[0].image_url}}" alt="">
                      <h6>{{product.product_name}} x {{product.selectedQnt}}</h6>
                      <span>{{product.num}} x {{product.selectedPrice | number:'1.2-2'}}</span>
                    </div>
                  </li>

                  <li class="sub-total clearfix" *ngIf="discount">
                    <h6>Discount</h6>
                    <span>{{discount}}%</span>
                  </li>

                  <li class="sub-total clearfix" *ngIf="discountDelivery">
                    <h6>Discount</h6>
                    <span>{{discountDelivery}}%</span>
                  </li>
                  <li class="order-total clearfix">
                    <h6>Total</h6>
                    <span>{{totalPrice$}} Lei</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="payment-info mt-40">
              <h4 class="sub-title payment-info">Detalii plata</h4>
              <div class="payment-inner">
                <div class="option-block">
                  <div class="custom-controls-stacked">
                    <label class="custom-control material-checkbox">
                      <input type="radio" [(ngModel)]="payment" value="card online" id="card" name="select-payment"
                        class="material-control-input">
                      <span class="material-control-indicator"></span>
                      <span class="description">Card Online (recomandat)</span>
                    </label>
                  </div>
                </div>
                <div class="option-block" *ngIf="location == 'livreaza' && location != undefined">
                  <div class="custom-controls-stacked">
                    <label class="custom-control material-checkbox">
                      <input type="radio" [(ngModel)]="payment" value="plata numerar sau card la livrare"
                        id="numerarCardLivrare" name="select-payment" class="material-control-input">
                      <span class="material-control-indicator"></span>
                      <span class="description">Platesc la livrare (numerar/card)</span>
                    </label>
                  </div>
                </div>
                <div class="option-block" *ngIf="location != 'livreaza' && location != undefined">
                  <div class="custom-controls-stacked">
                    <label class="custom-control material-checkbox">
                      <input type="radio" [(ngModel)]="payment" value="plata la ridicare" id="laRidicare"
                        name="select-payment" class="material-control-input">
                      <span class="material-control-indicator"></span>
                      <span class="description">Platesc la ridicare din locatie (numerar/card)</span>
                    </label>
                  </div>
                </div>
                <div class="btn-box mt-40">

                  <button type="submit" class="theme-btn-one">Plaseaza comanda</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- checkout-section end -->

<form target="_blank" *ngIf="showEPForm" ACTION="https://secure.euplatesc.ro/tdsprocess/tranzactd.php" METHOD="POST"
  id="epForm" name="gateway" target="_self">

  <!-- begin billing details -->
  <input name="fname" type="hidden" value="{{order[0]['customer']['firstName']}}" />
  <input name="lname" type="hidden" value="{{order[0]['customer']['lastName']}}" />

  <input name="country" type="hidden" value="" />
  <input name="company" type="hidden" value="" />
  <input name="city" type="hidden" value="{{order[0]['customer']['shippingAddress']['town']}}" />
  <input name="add" type="hidden" value="{{order[0]['customer']['shippingAddress']['address']}}" />
  <input name="email" type="hidden" value="{{order[0]['customer']['email']}}" />
  <input name="phone" type="hidden" value="{{order[0]['customer']['phone']}}" />
  <input name="fax" type="hidden" value="" />
  <!-- snd billing details -->




  <!-- daca detaliile de shipping difera -->
  <!-- begin shipping details -->
  <input name="sfname" type="hidden" value="{{order[0]['customer']['firstName']}}" />
  <input name="slname" type="hidden" value="{{order[0]['customer']['lastName']}}" />
  <input name="scountry" type="hidden" value="" />
  <input name="scompany" type="hidden" value="" />
  <input name="scity" type="hidden" value="{{order[0]['customer']['shippingAddress']['town']}}" />
  <input name="sadd" type="hidden" value="" />
  <input name="semail" type="hidden" value="{{order[0]['customer']['email']}}" />
  <input name="sphone" type="hidden" value="{{order[0]['customer']['phone']}}" />
  <input name="sfax" type="hidden" value="" />

  <!-- end shipping details -->

  <input type="hidden" name="amount" value="{{order[0]['total']}}" SIZE="12" MAXLENGTH="12" />
  <input TYPE="hidden" name="curr" value="{{dataAll.curr}}" SIZE="5" MAXLENGTH="3" />
  <input type="hidden" name="invoice_id" value="{{order_guid}}" SIZE="32" MAXLENGTH="32" />
  <input type="hidden" name="order_desc" value="{{dataAll.order_desc}}" SIZE="32" MAXLENGTH="50" />
  <input TYPE="hidden" name="merch_id" size="15" value="{{dataAll.merch_id}}" />
  <input TYPE="hidden" name="timestamp" size="15" value="{{dataAll.timestamp}}" />
  <input TYPE="hidden" name="nonce" size="35" value="{{dataAll.nonce}}" />
  <input TYPE="hidden" name="fp_hash" size="40" value="{{dataAll.fp_hash}}" />
<script>
  //document.getElementById('epForm').submit();
</script>
</form>
