 
  <section class="cart-section cart-page">
    <div class="container">
      <div class="row clearfix">
        <div class="col-12 table-column mt-100 mb-100">

          

          <h1>Am primit comanda ta!</h1>
          <h2>Te rugam sa-ti verifici adresa de email folosita in formularul de comanda pentru mai multe detalii.</h2>
          <button routerLink="/produse" class="theme-btn-one back-to-shop">Inapoi la cumparaturi</button>
        </div>
      </div>
    </div>
  </section>
  


  